Repository vmware-clarity/ng-clarity, pull requests merged in 2022-11, with the labels that each got.

#369 fix(stack-view): remove action buttons from h4 element
  projects/angular/src/data/stack-view/stack-header.ts
  projects/demo/src/app/stack-view/stack-view-static.html
Labels: cla-not-required, type:fix

#374 chore(tooltip): clean up tooltip component tests
  projects/angular/src/popover/tooltip/tooltip-content.spec.ts
Labels: cla-not-required, type:chore

#373 fix(tooltip): apply default size and position
  projects/angular/clarity.api.md
  projects/angular/src/popover/tooltip/tooltip-content.spec.ts
  projects/angular/src/popover/tooltip/tooltip-content.ts
Labels: cla-not-required, type:fix

#381 fix(tree-view): announce active tree node links as selected
  projects/angular/clarity.api.md
  projects/angular/src/data/tree-view/tree-node-link.ts
  projects/angular/src/data/tree-view/tree-node.html
  projects/angular/src/data/tree-view/tree-node.spec.ts
  projects/angular/src/data/tree-view/tree-node.ts
Labels: cla-not-required, type:fix

#383 fix(vertical-nav): stop unnecessarily animating `overflow-y`
  projects/angular/src/layout/vertical-nav/_vertical-nav.clarity.scss
  projects/angular/src/layout/vertical-nav/vertical-nav-group.ts
Labels: cla-not-required, type:fix

#394 fix(combobox): move role to input element
  projects/angular/src/forms/combobox/combobox.html
Labels: cla-not-required, type:fix

#398 fix(header): remove incorrect, duplicate `click` event handler
  projects/angular/src/layout/nav/header.ts
Labels: cla-not-required, type:fix

#397 fix: update icon generators to support hsl and clear text color values
  projects/angular/src/image/_icons.clarity.scss
Labels: cla-not-required

#403 fix(stackview): fix focus outline in safari
  projects/angular/src/data/stack-view/_stack-view.clarity.scss
Labels: cla-not-required
