Repository vmware-clarity/ng-clarity, pull requests merged in 2022-12, with the labels that each got.

#410 chore: remove extraneous space in test descriptions
  projects/angular/src/data/datagrid/datagrid-row.spec.ts
Labels: cla-not-required

#414 chore: resolve test watch option properly
  karma.conf.js
Labels: cla-not-required, type:chore

#427 fix(datagrid): prevent issues with single select radio in forms
  projects/angular/src/data/datagrid/datagrid-row.html
Labels: cla-not-required, type:fix

#433 fix(datagrid): apply correct styles to parent datagrid when detail open
  projects/angular/src/data/datagrid/_datagrid.clarity.scss
Labels: cla-not-required, type:fix

#353 feat(typography): add underline to links for accessibility
  projects/angular/src/layout/nav/_header.clarity.scss
  projects/angular/src/layout/nav/_links.clarity.scss
  projects/angular/src/layout/nav/_subnav.clarity.scss
  projects/angular/src/layout/vertical-nav/_vertical-nav.clarity.scss
  projects/angular/src/popover/dropdown/_dropdown.clarity.scss
  projects/angular/src/utils/_mixins.scss
  projects/angular/src/utils/_reboot.clarity.scss
Labels: cla-not-required, type:feat

#435 chore: update bug report template
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: cla-not-required, type:chore

#417 feat(stack-view): remove dead stack view `setsize` and `posinset` inputs
  .storybook/stories/stack-view/stack-block.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/data/stack-view/stack-block.spec.ts
  projects/angular/src/data/stack-view/stack-block.ts
Labels: cla-not-required, type:breaking-change

#418 feat(stack-view): remove undocumented experimental edit mode
  .storybook/stories/stack-view/stack-block.stories.ts
  .storybook/stories/stack-view/stack-view-with-lazy-loaded-blocks.stories.ts
  .storybook/stories/stack-view/stack-view.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/data/stack-view/_stack-view.clarity.scss
  projects/angular/src/data/stack-view/index.ts
  projects/angular/src/data/stack-view/stack-control.ts
  projects/angular/src/data/stack-view/stack-header.ts
  projects/angular/src/data/stack-view/stack-input.ts
  projects/angular/src/data/stack-view/stack-select.ts
  projects/angular/src/data/stack-view/stack-view.module.ts
  projects/angular/src/data/stack-view/stack-view.ts
Labels: cla-not-required, type:breaking-change

#419 feat(wizard): remove deprecated, undocumented inline wizard mode
  .storybook/stories/modal/modal.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/deprecations.spec.ts
  projects/angular/src/modal/modal.ts
  projects/angular/src/wizard/_wizard.clarity.scss
  projects/angular/src/wizard/wizard.html
  projects/angular/src/wizard/wizard.ts
  projects/demo/src/app/wizard/wizard-inline.demo.html
  projects/demo/src/app/wizard/wizard-inline.demo.ts
  projects/demo/src/app/wizard/wizard.demo.module.ts
  projects/demo/src/app/wizard/wizard.demo.routing.ts
  projects/demo/src/app/wizard/wizard.demo.ts
Labels: cla-not-required, type:breaking-change

#420 feat(datagrid): remove deprecated sorting properties
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid-column.spec.ts
  projects/angular/src/data/datagrid/datagrid-column.ts
  projects/demo/src/app/datagrid/sorting/sorting.html
  projects/demo/src/app/datagrid/sorting/sorting.ts
Labels: cla-not-required, type:breaking-change

#421 feat(datagrid): remove `dategrid*` properties from `ClrCommonStrings`
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid-row-detail.spec.ts
  projects/angular/src/data/datagrid/datagrid-row-detail.ts
  projects/angular/src/utils/i18n/common-strings.interface.ts
Labels: cla-not-required, type:breaking-change

#422 feat: remove deprecated `ClrAriaLiveService` in favor of `@angular/cdk`
  projects/angular/clarity.api.md
  projects/angular/src/utils/a11y/aria-live.service.spec.ts
  projects/angular/src/utils/a11y/aria-live.service.ts
  projects/angular/src/utils/a11y/index.ts
  projects/angular/src/utils/index.ts
Labels: cla-not-required, type:breaking-change

#416 feat(vertical-nav): remove `aria-label` from vertical nav group buttons
  .storybook/stories/vertical-nav/vertical-nav-group.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/layout/vertical-nav/vertical-nav-group.html
  projects/angular/src/layout/vertical-nav/vertical-nav-group.spec.ts
  projects/angular/src/layout/vertical-nav/vertical-nav-group.ts
  projects/angular/src/utils/i18n/common-strings.default.ts
  projects/angular/src/utils/i18n/common-strings.interface.ts
  projects/demo/src/app/vertical-nav/accessibility/vertical-nav-accessibility.demo.html
  projects/demo/src/app/vertical-nav/highlights/vertical-nav-highlights.demo.html
  projects/demo/src/app/vertical-nav/nested-icon-menus/vertical-nav-nested-icon-menus.demo.html
  projects/demo/src/app/vertical-nav/nested-menus/vertical-nav-nested-menus.demo.html
  projects/demo/src/app/vertical-nav/partially-nested-icon-menu/vertical-nav-partial-nested-icon-menus.demo.html
  projects/demo/src/app/vertical-nav/partially-nested-menu/vertical-nav-partial-nested-menus.demo.html
  projects/demo/src/app/vertical-nav/routing/vertical-nav-routing.demo.html
  projects/demo/src/app/vertical-nav/unstructured-routes/unstructured-routes.html
  projects/demo/src/app/vertical-nav/without-expanded-directive/without-expanded-directive.html
Labels: cla-not-required, type:breaking-change, a11y

#436 feat(dropdown): remove `disabled` attribute from `clrDropdownItem`
  projects/angular/clarity.api.md
  projects/angular/src/popover/dropdown/dropdown-item.spec.ts
  projects/angular/src/popover/dropdown/dropdown-item.ts
Labels: cla-not-required, type:breaking-change

#313 fix(datagrid): pagination input should only change page on enter
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid-pagination.spec.ts
  projects/angular/src/data/datagrid/datagrid-pagination.ts
Labels: cla-not-required, type:breaking-change, a11y

#439 chore: patch release notes generator to remove "signed-off-by" line and format outline correctly
  patches/@semantic-release+release-notes-generator+10.0.3.patch
Labels: cla-not-required, type:chore
