Repository vmware-clarity/ng-clarity, pull requests merged in 2023-08, with the labels that each got.

#785 feat(radio checkbox): add tokens/update shim
  projects/angular/src/forms/STYLES.MD
  projects/angular/src/forms/checkbox/STYLES.md
  projects/angular/src/forms/radio/STYLES.md
  projects/angular/src/forms/styles/_checkbox.clarity.scss
  projects/angular/src/forms/styles/_mixins.forms.scss
  projects/angular/src/forms/styles/_properties.forms.scss
  projects/angular/src/forms/styles/_radio.clarity.scss
  projects/demo/src/app/checkboxes/checkboxes.demo.html
  projects/demo/src/app/radios/radios.demo.html
  projects/demo/src/app/radios/radios.demo.ts
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle--variants-core-dark.png
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle--variants-core-light.png
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle--variants-high-contrast.png
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle-container--variants-core-dark.png
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle-container--variants-core-light.png
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle-container--variants-high-contrast.png
  tests/snapshots/forms/required-mark--variants-core-dark.png
  tests/snapshots/forms/required-mark--variants-core-light.png
  tests/snapshots/forms/required-mark--variants-high-contrast.png
  tests/snapshots/login/login--variants-core-dark.png
  tests/snapshots/login/login--variants-core-light.png
  tests/snapshots/login/login--variants-high-contrast.png
  tests/snapshots/radio/radio--variants-core-dark.png
  tests/snapshots/radio/radio--variants-core-light.png
  tests/snapshots/radio/radio--variants-high-contrast.png
  tests/snapshots/radio/radio-container--variants-core-dark.png
  tests/snapshots/radio/radio-container--variants-core-light.png
  tests/snapshots/radio/radio-container--variants-high-contrast.png
  tests/snapshots/tree/tree-node--variants-core-dark.png
  tests/snapshots/tree/tree-node--variants-core-light.png
  tests/snapshots/tree/tree-node--variants-high-contrast.png
Labels: cla-not-required, type:feat, waiting:needs-design

#796 feat(toggle): add tokens/update shim
  projects/angular/src/button/_properties.toggles.scss
  projects/angular/src/forms/styles/_toggles.clarity.scss
  projects/demo/src/app/toggles/toggles.demo.html
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle--variants-core-dark.png
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle--variants-core-light.png
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle--variants-high-contrast.png
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle--variants-ng-dark.png
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle--variants-ng-light.png
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle-container--variants-core-dark.png
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle-container--variants-core-light.png
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle-container--variants-high-contrast.png
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle-container--variants-ng-dark.png
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle-container--variants-ng-light.png
Labels: cla-not-required, type:feat, waiting:needs-design

#815 feat(tooltip): add tokens and update shim
  projects/angular/src/popover/tooltip/STYLES.md
  projects/angular/src/popover/tooltip/_properties.tooltip.scss
  projects/angular/src/popover/tooltip/_tooltips.clarity.scss
  projects/ui/src/shim.cds-core.scss
Labels: cla-not-required, type:feat, waiting:needs-design

#799 feat(textarea): add tokens and update shim
  projects/angular/src/forms/styles/_properties.forms.scss
  projects/angular/src/forms/styles/_textarea.clarity.scss
  projects/angular/src/forms/textarea/STYLES.md
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/forms/reactive--variants-core-dark.png
  tests/snapshots/forms/reactive--variants-core-light.png
  tests/snapshots/forms/reactive--variants-high-contrast.png
  tests/snapshots/forms/required-mark--variants-core-dark.png
  tests/snapshots/forms/required-mark--variants-core-light.png
  tests/snapshots/forms/required-mark--variants-high-contrast.png
  tests/snapshots/forms/template-driven--variants-core-dark.png
  tests/snapshots/forms/template-driven--variants-core-light.png
  tests/snapshots/forms/template-driven--variants-high-contrast.png
Labels: cla-not-required, type:feat

#810 feat(signpost): add tokens and update shim
  projects/angular/src/popover/signpost/STYLES.md
  projects/angular/src/popover/signpost/_properties.signpost.scss
  projects/angular/src/popover/signpost/_signposts.clarity.scss
  projects/angular/src/popover/signpost/signpost.ts
  projects/demo/src/app/signpost/signpost.demo.html
  projects/demo/src/app/signpost/signpost.demo.module.ts
  projects/demo/src/app/signpost/signpost.demo.ts
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/signpost/signpost--variants-core-dark.png
  tests/snapshots/signpost/signpost--variants-core-light.png
  tests/snapshots/signpost/signpost--variants-high-contrast.png
  tests/snapshots/signpost/signpost--variants-ng-dark.png
Labels: cla-not-required, type:feat, waiting:needs-design

#844 feat(lists): add tokens and update shim
  projects/angular/src/typography/_lists.scss
  projects/angular/src/utils/variables/_properties.typography.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/card/card--variants-core-dark.png
  tests/snapshots/card/card--variants-core-light.png
  tests/snapshots/card/card--variants-high-contrast.png
  tests/snapshots/list/list--variants-core-dark.png
  tests/snapshots/list/list--variants-core-light.png
  tests/snapshots/list/list--variants-high-contrast.png
  tests/snapshots/modal/modal--variants-core-dark.png
  tests/snapshots/modal/modal--variants-core-light.png
  tests/snapshots/modal/modal--variants-high-contrast.png
Labels: cla-not-required

#840 fix(deps): update core dep, remove incorrect token
  package-lock.json
  package.json
  projects/ui/src/token_shim.cds-core.scss
  tests/snapshots/accordion/accordion--variants-core-light.png
  tests/snapshots/accordion/accordion-panel--variants-core-light.png
  tests/snapshots/accordion/nested-accordion--variants-core-light.png
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle--variants-core-light.png
  tests/snapshots/datagrid/action-overflow--variants-core-light.png
  tests/snapshots/datagrid/column--variants-core-light.png
  tests/snapshots/datagrid/datagrid--variants-core-light.png
  tests/snapshots/datagrid/detail--variants-core-light.png
  tests/snapshots/datagrid/page-size--variants-core-light.png
  tests/snapshots/datagrid/pagination--variants-core-light.png
  tests/snapshots/datagrid/row--variants-core-light.png
  tests/snapshots/datepicker/datepicker--variants-core-light.png
  tests/snapshots/header/header--variants-core-light.png
  tests/snapshots/modal/static--variants-core-light.png
  tests/snapshots/radio/radio--variants-core-light.png
  tests/snapshots/signpost/signpost--variants-core-light.png
  tests/snapshots/stepper/stepper--variants-core-light.png
  tests/snapshots/tabs/tabs--variants-core-light.png
  tests/snapshots/timeline/timeline--variants-core-light.png
  tests/snapshots/timeline/timeline-step--variants-core-light.png
  tests/snapshots/vertical-nav/vertical-nav--variants-core-light.png
  tests/snapshots/vertical-nav/vertical-nav-group--variants-core-light.png
  tests/snapshots/wizard/wizard--variants-core-light.png
  tests/snapshots/wizard/wizard-page--variants-core-light.png
Labels: cla-not-required

#829 feat(buttons): add tokens and update shim
  projects/angular/src/button/_buttons.clarity.scss
  projects/angular/src/button/_properties.buttons.scss
  projects/angular/src/button/button-group/_button-group.clarity.scss
  projects/angular/src/data/datagrid/_datagrid.clarity.scss
  projects/angular/src/data/datagrid/_properties.datagrid.scss
  projects/angular/src/emphasis/alert/_alert.clarity.scss
  projects/angular/src/wizard/_wizard.clarity.scss
  projects/demo/src/app/alert/angular/alert-angular-app-level-alerts.demo.html
  projects/demo/src/app/alert/angular/alert-angular-not-closable.demo.html
  projects/demo/src/app/alert/static/alert-styles.demo.html
  projects/demo/src/app/buttons/buttons-icons.html
  projects/demo/src/app/buttons/buttons-test.html
  projects/demo/src/app/buttons/real-button.html
  projects/demo/src/app/typography/typography-links.html
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/button/button--variants-core-dark.png
  tests/snapshots/button/button--variants-core-light.png
  tests/snapshots/button/button--variants-high-contrast.png
  tests/snapshots/button/button-group--variants-core-dark.png
  tests/snapshots/button/button-group--variants-core-light.png
  tests/snapshots/button/button-group--variants-high-contrast.png
  tests/snapshots/card/card--variants-core-dark.png
  tests/snapshots/card/card--variants-core-light.png
  tests/snapshots/card/card--variants-high-contrast.png
  tests/snapshots/datagrid/datagrid--variants-core-dark.png
  tests/snapshots/datagrid/datagrid--variants-core-light.png
  tests/snapshots/datagrid/datagrid--variants-high-contrast.png
  tests/snapshots/dropdown/dropdown--variants-core-dark.png
  tests/snapshots/dropdown/dropdown--variants-core-light.png
  tests/snapshots/dropdown/dropdown--variants-high-contrast.png
  tests/snapshots/dropdown/dropdown-menu--variants-core-dark.png
  tests/snapshots/dropdown/dropdown-menu--variants-core-light.png
  tests/snapshots/dropdown/dropdown-menu--variants-high-contrast.png
  tests/snapshots/login/login--variants-core-dark.png
  tests/snapshots/login/login--variants-core-light.png
  tests/snapshots/login/login--variants-high-contrast.png
  tests/snapshots/modal/modal--variants-core-dark.png
  tests/snapshots/modal/modal--variants-core-light.png
  tests/snapshots/modal/modal--variants-high-contrast.png
  tests/snapshots/modal/static--variants-core-dark.png
  tests/snapshots/modal/static--variants-core-light.png
  tests/snapshots/modal/static--variants-high-contrast.png
  tests/snapshots/signpost/signpost--variants-core-dark.png
  tests/snapshots/signpost/signpost--variants-core-light.png
  tests/snapshots/signpost/signpost--variants-high-contrast.png
  tests/snapshots/stepper/stepper--variants-core-dark.png
  tests/snapshots/stepper/stepper--variants-core-light.png
  tests/snapshots/stepper/stepper--variants-high-contrast.png
  tests/snapshots/wizard/wizard--variants-core-dark.png
  tests/snapshots/wizard/wizard--variants-core-light.png
  tests/snapshots/wizard/wizard--variants-high-contrast.png
  tests/snapshots/wizard/wizard-page--variants-core-dark.png
  tests/snapshots/wizard/wizard-page--variants-core-light.png
  tests/snapshots/wizard/wizard-page--variants-high-contrast.png
Labels: cla-not-required, type:feat, waiting:needs-design, token-migration

#833 chore(datagrid): remove unnecessary type assertions
  projects/angular/src/data/datagrid/datagrid-pagination.ts
Labels: cla-not-required, type:chore

#849 fix(accordion): set caret color to match text in disabled state
  projects/angular/src/accordion/_accordion.clarity.scss
  tests/snapshots/accordion/accordion-panel--variants-core-dark.png
  tests/snapshots/accordion/accordion-panel--variants-core-light.png
  tests/snapshots/accordion/accordion-panel--variants-high-contrast.png
  tests/snapshots/accordion/accordion-panel--variants-ng-dark.png
  tests/snapshots/accordion/accordion-panel--variants-ng-light.png
Labels: cla-not-required

#834 fix(datagrid): change pagination property types to `number`
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid-pagination.ts
Labels: cla-not-required, type:fix

#811 feat(card): add tokens and update shim
  projects/angular/src/emphasis/alert/_alert.clarity.scss
  projects/angular/src/layout/_card.clarity.scss
  projects/angular/src/layout/_properties.card.scss
  projects/angular/src/progress/progress-bars/_progress-bars.clarity.scss
  projects/demo/src/app/alert/static/alert-cards.demo.html
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/card/card--variants-core-dark.png
  tests/snapshots/card/card--variants-core-light.png
  tests/snapshots/card/card--variants-high-contrast.png
  tests/snapshots/card/card--variants-ng-dark.png
  tests/snapshots/card/card--variants-ng-light.png
Labels: cla-not-required, type:feat, waiting:needs-design, token-migration

#853 fix(forms): use correct border color token in shim (typo fix)
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle--variants-core-dark.png
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle-container--variants-core-dark.png
  tests/snapshots/combobox/combobox--variants-core-dark.png
  tests/snapshots/datagrid/action-overflow--variants-core-dark.png
  tests/snapshots/datagrid/column--variants-core-dark.png
  tests/snapshots/datagrid/datagrid--variants-core-dark.png
  tests/snapshots/datagrid/detail--variants-core-dark.png
  tests/snapshots/datagrid/page-size--variants-core-dark.png
  tests/snapshots/datagrid/pagination--variants-core-dark.png
  tests/snapshots/datagrid/placeholder--variants-core-dark.png
  tests/snapshots/datagrid/row--variants-core-dark.png
  tests/snapshots/datalist/datalist--variants-core-dark.png
  tests/snapshots/datepicker/datecontainer--variants-core-dark.png
  tests/snapshots/datepicker/datepicker--variants-core-dark.png
  tests/snapshots/forms/reactive--variants-core-dark.png
  tests/snapshots/forms/required-mark--variants-core-dark.png
  tests/snapshots/forms/template-driven--variants-core-dark.png
  tests/snapshots/login/login--variants-core-dark.png
  tests/snapshots/radio/radio--variants-core-dark.png
  tests/snapshots/radio/radio-container--variants-core-dark.png
  tests/snapshots/select/select--variants-core-dark.png
  tests/snapshots/stepper/stepper--variants-core-dark.png
  tests/snapshots/tree/tree-node--variants-core-dark.png
Labels: cla-not-required

#836 feat(modal): add tokens and update shim
  projects/angular/src/modal/_modal.clarity.scss
  projects/angular/src/modal/_properties.modal.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/modal/static--variants-core-dark.png
  tests/snapshots/modal/static--variants-core-light.png
  tests/snapshots/modal/static--variants-ng-dark.png
  tests/snapshots/wizard/wizard--variants-core-dark.png
  tests/snapshots/wizard/wizard--variants-core-light.png
  tests/snapshots/wizard/wizard--variants-ng-dark.png
  tests/snapshots/wizard/wizard--variants-ng-light.png
  tests/snapshots/wizard/wizard-page--variants-core-dark.png
  tests/snapshots/wizard/wizard-page--variants-core-light.png
  tests/snapshots/wizard/wizard-page--variants-ng-dark.png
  tests/snapshots/wizard/wizard-page--variants-ng-light.png
Labels: cla-not-required, type:feat, token-migration

#851 feat(progress bar): add tokens and update shim
  projects/angular/src/progress/progress-bars/_progress-bars.clarity.scss
  projects/angular/src/progress/progress-bars/_properties.progress-bars.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/progress-bar/progress-bar--variants-core-dark.png
  tests/snapshots/progress-bar/progress-bar--variants-core-light.png
Labels: cla-not-required

#855 fix(datalist): use opacity instead display to hide caret icon
  projects/angular/src/forms/styles/_datalist.clarity.scss
Labels: cla-not-required, type:fix

#857 chore: add stories for combobox and dropdown
  .storybook/stories/combobox/combobox.stories.ts
  .storybook/stories/dropdown/dropdown-static.stories.ts
  .storybook/stories/dropdown/dropdown.stories.ts
  tests/snapshots/combobox/combobox--variants-core-dark.png
  tests/snapshots/combobox/combobox--variants-core-light.png
  tests/snapshots/combobox/combobox--variants-ng-dark.png
  tests/snapshots/combobox/combobox--variants-ng-light.png
  tests/snapshots/dropdown/dropdown--variants-core-dark.png
  tests/snapshots/dropdown/dropdown--variants-core-light.png
  tests/snapshots/dropdown/dropdown--variants-ng-dark.png
  tests/snapshots/dropdown/dropdown--variants-ng-light.png
  tests/snapshots/dropdown/dropdown-static--variants-core-dark.png
  tests/snapshots/dropdown/dropdown-static--variants-core-light.png
  tests/snapshots/dropdown/dropdown-static--variants-ng-dark.png
  tests/snapshots/dropdown/dropdown-static--variants-ng-light.png
Labels: cla-not-required

#860 feat(table): add tokens and update shim
  projects/angular/src/data/STYLES.md
  projects/angular/src/data/_properties.tables.scss
  projects/angular/src/data/_tables.clarity.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/datagrid/action-overflow--variants-core-dark.png
  tests/snapshots/datagrid/action-overflow--variants-core-light.png
  tests/snapshots/datagrid/column--variants-core-dark.png
  tests/snapshots/datagrid/column--variants-core-light.png
  tests/snapshots/datagrid/datagrid--variants-core-dark.png
  tests/snapshots/datagrid/datagrid--variants-core-light.png
  tests/snapshots/datagrid/detail--variants-core-dark.png
  tests/snapshots/datagrid/detail--variants-core-light.png
  tests/snapshots/datagrid/page-size--variants-core-dark.png
  tests/snapshots/datagrid/page-size--variants-core-light.png
  tests/snapshots/datagrid/pagination--variants-core-dark.png
  tests/snapshots/datagrid/pagination--variants-core-light.png
  tests/snapshots/datagrid/placeholder--variants-core-dark.png
  tests/snapshots/datagrid/placeholder--variants-core-light.png
  tests/snapshots/datagrid/row--variants-core-dark.png
  tests/snapshots/datagrid/row--variants-core-light.png
  tests/snapshots/table/table--variants-core-dark.png
  tests/snapshots/table/table--variants-core-light.png
Labels: cla-not-required

#832 feat(login): add tokens and update shim
  .storybook/stories/login/login.stories.ts
  projects/angular/src/layout/_login.clarity.scss
  projects/angular/src/layout/_properties.login.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/login/login--variants-core-dark.png
  tests/snapshots/login/login--variants-core-light.png
  tests/snapshots/login/login--variants-ng-dark.png
  tests/snapshots/login/login--variants-ng-light.png
Labels: cla-not-required, type:feat, token-migration

#850 feat(spinner): refactor spinner to not use svg and make use of design tokens
  projects/angular/src/progress/spinner/STYLES.md
  projects/angular/src/progress/spinner/_properties.spinner.scss
  projects/angular/src/progress/spinner/_spinner.clarity.scss
  projects/angular/src/progress/spinner/_variables.spinner.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/spinner/spinner--variants-core-dark.png
  tests/snapshots/spinner/spinner--variants-core-light.png
  tests/snapshots/spinner/spinner--variants-ng-dark.png
  tests/snapshots/spinner/spinner--variants-ng-light.png
  tests/snapshots/timeline/timeline--variants-core-dark.png
  tests/snapshots/timeline/timeline--variants-core-light.png
  tests/snapshots/timeline/timeline--variants-ng-dark.png
  tests/snapshots/timeline/timeline--variants-ng-light.png
  tests/snapshots/timeline/timeline-step--variants-core-dark.png
  tests/snapshots/timeline/timeline-step--variants-core-light.png
  tests/snapshots/timeline/timeline-step--variants-ng-dark.png
  tests/snapshots/timeline/timeline-step--variants-ng-light.png
Labels: cla-not-required, type:feat, token-migration

#861 fix(range): prevent error when range input element not rendered yet
  projects/angular/src/forms/range/range-container.ts
Labels: cla-not-required, type:fix

#862 fix(vertical-nav): remove `title` attribute from expand/collapse buttons
  projects/angular/src/layout/vertical-nav/vertical-nav-group.html
  projects/angular/src/layout/vertical-nav/vertical-nav.html
Labels: cla-not-required, type:fix, a11y

#864 fix(header): update nav toggle label strings to include open/close
  projects/angular/src/layout/nav/header.spec.ts
  projects/angular/src/utils/i18n/common-strings.default.ts
Labels: cla-not-required, type:fix, a11y

#858 chore(forms): add story to snapshot form states
  .storybook/stories/forms/forms-input-states.stories.ts
  tests/snapshots/forms/input-states--variants-core-dark.png
  tests/snapshots/forms/input-states--variants-core-light.png
  tests/snapshots/forms/input-states--variants-ng-dark.png
  tests/snapshots/forms/input-states--variants-ng-light.png
Labels: cla-not-required

#865 feat(timeline): token migration and update shim
  projects/angular/src/timeline/STYLES.md
  projects/angular/src/timeline/_properties.timeline.scss
  projects/angular/src/timeline/_timeline.clarity.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/timeline/timeline--variants-core-dark.png
  tests/snapshots/timeline/timeline--variants-core-light.png
  tests/snapshots/timeline/timeline-step--variants-core-dark.png
  tests/snapshots/timeline/timeline-step--variants-core-light.png
Labels: cla-not-required, type:feat, token-migration

#856 fix(textarea): fix success/error/disabled state, update tokens
  projects/angular/src/forms/styles/_properties.forms.scss
  projects/angular/src/forms/styles/_textarea.clarity.scss
  projects/angular/src/forms/textarea/STYLES.md
  projects/ui/src/shim.cds-core.scss
  projects/ui/src/token_shim.cds-core.scss
  tests/snapshots/combobox/combobox--variants-core-dark.png
  tests/snapshots/combobox/combobox--variants-core-light.png
  tests/snapshots/datagrid/action-overflow--variants-core-dark.png
  tests/snapshots/datagrid/action-overflow--variants-core-light.png
  tests/snapshots/datagrid/column--variants-core-dark.png
  tests/snapshots/datagrid/column--variants-core-light.png
  tests/snapshots/datagrid/datagrid--variants-core-dark.png
  tests/snapshots/datagrid/datagrid--variants-core-light.png
  tests/snapshots/datagrid/detail--variants-core-dark.png
  tests/snapshots/datagrid/detail--variants-core-light.png
  tests/snapshots/datagrid/page-size--variants-core-dark.png
  tests/snapshots/datagrid/page-size--variants-core-light.png
  tests/snapshots/datagrid/pagination--variants-core-dark.png
  tests/snapshots/datagrid/pagination--variants-core-light.png
  tests/snapshots/datagrid/placeholder--variants-core-dark.png
  tests/snapshots/datagrid/placeholder--variants-core-light.png
  tests/snapshots/datagrid/row--variants-core-dark.png
  tests/snapshots/datagrid/row--variants-core-light.png
  tests/snapshots/datepicker/datepicker--variants-core-dark.png
  tests/snapshots/datepicker/datepicker--variants-core-light.png
  tests/snapshots/forms/input-states--variants-core-dark.png
  tests/snapshots/forms/input-states--variants-core-light.png
  tests/snapshots/forms/input-states--variants-ng-dark.png
  tests/snapshots/forms/input-states--variants-ng-light.png
  tests/snapshots/login/login--variants-core-dark.png
  tests/snapshots/login/login--variants-core-light.png
  tests/snapshots/select/select--variants-core-dark.png
  tests/snapshots/select/select--variants-core-light.png
Labels: cla-not-required

#866 fix(select): separate hover styles, add tokens
  projects/angular/src/forms/select/STYLES.md
  projects/angular/src/forms/styles/_properties.forms.scss
  projects/angular/src/forms/styles/_select.clarity.scss
  projects/angular/src/forms/styles/_variables.forms.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/forms/input-states--variants-core-dark.png
  tests/snapshots/forms/input-states--variants-core-light.png
  tests/snapshots/forms/input-states--variants-ng-dark.png
  tests/snapshots/forms/input-states--variants-ng-light.png
Labels: cla-not-required

#870 feat(stack-view): token migration and update shim
  projects/angular/src/data/stack-view/STYLES.md
  projects/angular/src/data/stack-view/_properties.stack-view.scss
  projects/angular/src/data/stack-view/_stack-view.clarity.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/stack-view/stack-block--variants-core-dark.png
  tests/snapshots/stack-view/stack-block--variants-core-light.png
  tests/snapshots/stack-view/stack-view--variants-core-dark.png
  tests/snapshots/stack-view/stack-view--variants-core-light.png
  tests/snapshots/stack-view/stack-view-with-lazy-loaded-blocks--variants-core-dark.png
  tests/snapshots/stack-view/stack-view-with-lazy-loaded-blocks--variants-core-light.png
Labels: cla-not-required, type:feat, token-migration

#837 feat(wizard): add tokens and update shim
  projects/angular/src/modal/_modal.clarity.scss
  projects/angular/src/modal/_properties.modal.scss
  projects/angular/src/wizard/STYLES.md
  projects/angular/src/wizard/_properties.wizard.scss
  projects/angular/src/wizard/_wizard.clarity.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/wizard/wizard--variants-core-dark.png
  tests/snapshots/wizard/wizard--variants-core-light.png
  tests/snapshots/wizard/wizard-page--variants-core-dark.png
  tests/snapshots/wizard/wizard-page--variants-core-light.png
Labels: cla-not-required, type:feat, token-migration

#868 feat(datagrid): add tokens and update shim
  projects/angular/src/data/datagrid/STYLES.md
  projects/angular/src/data/datagrid/_datagrid.clarity.scss
  projects/angular/src/data/datagrid/_properties.datagrid.scss
  projects/angular/src/data/datagrid/_variables.datagrid.scss
  projects/angular/src/data/datagrid/datagrid-detail-header.ts
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/datagrid/action-overflow--variants-core-dark.png
  tests/snapshots/datagrid/action-overflow--variants-core-light.png
  tests/snapshots/datagrid/column--variants-core-dark.png
  tests/snapshots/datagrid/column--variants-core-light.png
  tests/snapshots/datagrid/datagrid--variants-core-dark.png
  tests/snapshots/datagrid/datagrid--variants-core-light.png
  tests/snapshots/datagrid/detail--variants-core-dark.png
  tests/snapshots/datagrid/detail--variants-core-light.png
  tests/snapshots/datagrid/page-size--variants-core-dark.png
  tests/snapshots/datagrid/page-size--variants-core-light.png
  tests/snapshots/datagrid/pagination--variants-core-dark.png
  tests/snapshots/datagrid/pagination--variants-core-light.png
  tests/snapshots/datagrid/placeholder--variants-core-dark.png
  tests/snapshots/datagrid/placeholder--variants-core-light.png
  tests/snapshots/datagrid/row--variants-core-dark.png
  tests/snapshots/datagrid/row--variants-core-light.png
  tests/snapshots/dropdown/dropdown--variants-core-dark.png
  tests/snapshots/dropdown/dropdown--variants-core-light.png
  tests/snapshots/dropdown/dropdown-static--variants-core-dark.png
  tests/snapshots/dropdown/dropdown-static--variants-core-light.png
Labels: cla-not-required, type:feat, token-migration

#800 feat(combobox): add tokens and update shim
  projects/angular/src/forms/combobox/STYLES.md
  projects/angular/src/forms/combobox/_combobox.clarity.scss
  projects/angular/src/forms/combobox/_properties.combobox.scss
  projects/angular/src/forms/combobox/combobox.html
  projects/angular/src/popover/dropdown/STYLES.md
  projects/angular/src/popover/dropdown/_menu-mixins.clarity.scss
  projects/angular/src/popover/dropdown/_properties.dropdown.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/combobox/combobox--variants-core-dark.png
  tests/snapshots/combobox/combobox--variants-core-light.png
  tests/snapshots/dropdown/dropdown--variants-core-dark.png
  tests/snapshots/dropdown/dropdown--variants-core-light.png
  tests/snapshots/dropdown/dropdown-static--variants-core-dark.png
  tests/snapshots/dropdown/dropdown-static--variants-core-light.png
  tests/snapshots/forms/required-mark--variants-core-dark.png
  tests/snapshots/forms/required-mark--variants-core-light.png
Labels: cla-not-required, token-migration

#875 feat(tabs): add tokens and update shim
  projects/angular/src/layout/nav/_nav.clarity.scss
  projects/angular/src/layout/tabs/STYLES.md
  projects/angular/src/layout/tabs/_properties.tabs.scss
  projects/angular/src/layout/tabs/_tabs.clarity.scss
  projects/angular/src/layout/tabs/tabs.ts
  projects/angular/src/layout/vertical-nav/_vertical-nav.clarity.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/header/header--variants-core-dark.png
  tests/snapshots/header/header--variants-core-light.png
  tests/snapshots/tabs/tabs--variants-core-dark.png
  tests/snapshots/tabs/tabs--variants-core-light.png
  tests/snapshots/vertical-nav/vertical-nav--variants-ng-dark.png
  tests/snapshots/vertical-nav/vertical-nav-group--variants-ng-dark.png
Labels: cla-not-required, type:feat, token-migration

#869 feat(alerts): tokens implementation
  projects/angular/src/emphasis/alert/STYLES.md
  projects/angular/src/emphasis/alert/_alert.clarity.scss
  projects/angular/src/emphasis/alert/_properties.alert.scss
  projects/angular/src/emphasis/alert/_variables.alert.scss
  projects/demo/src/app/alert/angular/alert-angular-app-level-alerts.demo.html
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/alert/alert--variants-core-dark.png
  tests/snapshots/alert/alert--variants-core-light.png
  tests/snapshots/alert/alerts--variants-core-dark.png
  tests/snapshots/alert/alerts--variants-core-light.png
  tests/snapshots/login/login--variants-core-dark.png
  tests/snapshots/login/login--variants-core-light.png
Labels: cla-not-required, type:feat, token-migration

#873 feat(stepper): add tokens/shim support
  projects/angular/src/accordion/STYLES.md
  projects/angular/src/accordion/_accordion.clarity.scss
  projects/angular/src/accordion/_properties.accordion.scss
  projects/angular/src/accordion/_variables.accordion.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/stepper/stepper--variants-core-dark.png
  tests/snapshots/stepper/stepper--variants-core-light.png
Labels: cla-not-required, token-migration

#883 chore: update visual tests for header
  .storybook/stories/header/header-colors.stories.ts
  .storybook/stories/header/header-static.stories.ts
  tests/snapshots/header/header-colors--variants-core-dark.png
  tests/snapshots/header/header-colors--variants-core-light.png
  tests/snapshots/header/header-colors--variants-ng-dark.png
  tests/snapshots/header/header-colors--variants-ng-light.png
  tests/snapshots/header/headers-static--variants-core-dark.png
  tests/snapshots/header/headers-static--variants-core-light.png
  tests/snapshots/header/headers-static--variants-ng-dark.png
  tests/snapshots/header/headers-static--variants-ng-light.png
Labels: cla-not-required

#878 feat(datepicker): token migration and update shim
  projects/angular/src/forms/datepicker/STYLES.md
  projects/angular/src/forms/datepicker/_datepicker.clarity.scss
  projects/angular/src/forms/datepicker/_properties.datepicker.scss
  projects/ui/src/shim.cds-core.scss
Labels: cla-not-required, type:feat, token-migration

#867 feat(range): make use of design tokens
  projects/angular/src/forms/range/STYLES.md
  projects/angular/src/forms/styles/_containers.clarity.scss
  projects/angular/src/forms/styles/_mixins.forms.scss
  projects/angular/src/forms/styles/_properties.forms.scss
  projects/angular/src/forms/styles/_range.clarity.scss
  projects/angular/src/forms/styles/_variables.forms.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/forms/input-states--variants-core-dark.png
  tests/snapshots/forms/input-states--variants-core-light.png
  tests/snapshots/forms/input-states--variants-ng-dark.png
  tests/snapshots/forms/input-states--variants-ng-light.png
  tests/snapshots/forms/required-mark--variants-core-dark.png
  tests/snapshots/forms/required-mark--variants-core-light.png
  tests/snapshots/range/range-container--variants-core-dark.png
  tests/snapshots/range/range-container--variants-core-light.png
Labels: cla-not-required, token-migration

#882 fix(tabs): use correct selected color in shim
  projects/angular/src/layout/tabs/STYLES.md
  projects/angular/src/layout/tabs/_properties.tabs.scss
  projects/angular/src/layout/tabs/_tabs.clarity.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/tabs/tabs--variants-core-dark.png
  tests/snapshots/tabs/tabs--variants-core-light.png
Labels: cla-not-required, type:fix, token-migration

#886 chore: add and update vertical-nav stories
  .storybook/stories/vertical-nav/vertical-nav-group.stories.ts
  .storybook/stories/vertical-nav/vertical-nav-header-and-divider.stories.ts
  .storybook/stories/vertical-nav/vertical-nav-routing.stories.ts
  .storybook/stories/vertical-nav/vertical-nav.stories.ts
  tests/snapshots/vertical-nav/vertical-header-and-divider--variants-core-dark.png
  tests/snapshots/vertical-nav/vertical-header-and-divider--variants-core-light.png
  tests/snapshots/vertical-nav/vertical-header-and-divider--variants-ng-dark.png
  tests/snapshots/vertical-nav/vertical-header-and-divider--variants-ng-light.png
  tests/snapshots/vertical-nav/vertical-nav--variants-core-dark.png
  tests/snapshots/vertical-nav/vertical-nav--variants-core-light.png
  tests/snapshots/vertical-nav/vertical-nav--variants-ng-dark.png
  tests/snapshots/vertical-nav/vertical-nav--variants-ng-light.png
  tests/snapshots/vertical-nav/vertical-nav-group--variants-core-dark.png
  tests/snapshots/vertical-nav/vertical-nav-group--variants-core-light.png
  tests/snapshots/vertical-nav/vertical-nav-group--variants-ng-dark.png
  tests/snapshots/vertical-nav/vertical-nav-group--variants-ng-light.png
  tests/snapshots/vertical-nav/vertical-nav-routing--variants-core-dark.png
  tests/snapshots/vertical-nav/vertical-nav-routing--variants-core-light.png
  tests/snapshots/vertical-nav/vertical-nav-routing--variants-ng-dark.png
  tests/snapshots/vertical-nav/vertical-nav-routing--variants-ng-light.png
Labels: cla-not-required, type:chore

#887 fix(login): align content to center
  projects/angular/src/layout/_login.clarity.scss
  tests/snapshots/login/login--variants-ng-dark.png
  tests/snapshots/login/login--variants-ng-light.png
Labels: cla-not-required, type:fix

#889 fix(vertical-nav): remove double border on group header active
  projects/angular/src/layout/vertical-nav/_vertical-nav.clarity.scss
  tests/snapshots/vertical-nav/vertical-nav-routing--variants-core-dark.png
  tests/snapshots/vertical-nav/vertical-nav-routing--variants-core-light.png
  tests/snapshots/vertical-nav/vertical-nav-routing--variants-ng-light.png
Labels: cla-not-required, type:fix

#890 fix(shim): fix typography fallbacks
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/progress-bar/progress-bar--variants-core-dark.png
  tests/snapshots/progress-bar/progress-bar--variants-core-light.png
Labels: cla-not-required

#881 feat(vertical-nav): add tokens and update shim
  projects/angular/src/layout/vertical-nav/STYLES.md
  projects/angular/src/layout/vertical-nav/_properties.vertical-nav.scss
  projects/angular/src/layout/vertical-nav/_vertical-nav.clarity.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/vertical-nav/vertical-header-and-divider--variants-core-dark.png
  tests/snapshots/vertical-nav/vertical-header-and-divider--variants-core-light.png
  tests/snapshots/vertical-nav/vertical-nav--variants-core-dark.png
  tests/snapshots/vertical-nav/vertical-nav--variants-core-light.png
  tests/snapshots/vertical-nav/vertical-nav-group--variants-core-dark.png
  tests/snapshots/vertical-nav/vertical-nav-group--variants-core-light.png
  tests/snapshots/vertical-nav/vertical-nav-routing--variants-core-dark.png
  tests/snapshots/vertical-nav/vertical-nav-routing--variants-core-light.png
Labels: cla-not-required, type:feat, token-migration

#891 fix(datagrid): add separator and fixed column size tokens and update shim
  projects/angular/src/data/datagrid/STYLES.md
  projects/angular/src/data/datagrid/_datagrid.clarity.scss
  projects/angular/src/data/datagrid/_properties.datagrid.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/datagrid/action-overflow--variants-core-dark.png
  tests/snapshots/datagrid/action-overflow--variants-core-light.png
  tests/snapshots/datagrid/column--variants-core-dark.png
  tests/snapshots/datagrid/column--variants-core-light.png
  tests/snapshots/datagrid/datagrid--variants-core-dark.png
  tests/snapshots/datagrid/datagrid--variants-core-light.png
  tests/snapshots/datagrid/detail--variants-core-dark.png
  tests/snapshots/datagrid/detail--variants-core-light.png
  tests/snapshots/datagrid/page-size--variants-core-dark.png
  tests/snapshots/datagrid/page-size--variants-core-light.png
  tests/snapshots/datagrid/pagination--variants-core-dark.png
  tests/snapshots/datagrid/pagination--variants-core-light.png
  tests/snapshots/datagrid/placeholder--variants-core-dark.png
  tests/snapshots/datagrid/placeholder--variants-core-light.png
  tests/snapshots/datagrid/row--variants-core-dark.png
  tests/snapshots/datagrid/row--variants-core-light.png
  tests/snapshots/datagrid/row--variants-ng-dark.png
  tests/snapshots/datagrid/row--variants-ng-light.png
Labels: cla-not-required, token-migration

#898 fix(combobox): update bottom border color to align with spec
  projects/angular/src/forms/combobox/_combobox.clarity.scss
  projects/angular/src/forms/combobox/_properties.combobox.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/combobox/combobox--variants-core-dark.png
  tests/snapshots/combobox/combobox--variants-core-light.png
  tests/snapshots/forms/required-mark--variants-core-dark.png
  tests/snapshots/forms/required-mark--variants-core-light.png
Labels: cla-not-required, type:fix, token-migration

#896 fix(card): remove negative vertical transform on hover
  projects/angular/src/layout/_card.clarity.scss
Labels: cla-not-required, type:fix

#895 feat(datalist): align caret icon and make it visible by default
  projects/angular/src/forms/styles/_datalist.clarity.scss
  projects/angular/src/forms/styles/_input-group.clarity.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/datalist/datalist--variants-core-dark.png
  tests/snapshots/datalist/datalist--variants-core-light.png
  tests/snapshots/datalist/datalist--variants-ng-dark.png
  tests/snapshots/datalist/datalist--variants-ng-light.png
  tests/snapshots/forms/required-mark--variants-core-dark.png
  tests/snapshots/forms/required-mark--variants-core-light.png
  tests/snapshots/forms/required-mark--variants-ng-dark.png
  tests/snapshots/forms/required-mark--variants-ng-light.png
Labels: cla-not-required, type:feat, token-migration

#899 fix(shim): update accordion and stepper padding tokens to match spec
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/accordion/accordion--variants-core-dark.png
  tests/snapshots/accordion/accordion--variants-core-light.png
  tests/snapshots/accordion/accordion-panel--variants-core-dark.png
  tests/snapshots/accordion/accordion-panel--variants-core-light.png
  tests/snapshots/accordion/nested-accordion--variants-core-dark.png
  tests/snapshots/accordion/nested-accordion--variants-core-light.png
  tests/snapshots/stepper/stepper--variants-core-dark.png
  tests/snapshots/stepper/stepper--variants-core-light.png
Labels: cla-not-required, type:fix, token-migration

#903 Revert "chore: rename `beta` prerelease channel to `next`"
  .releaserc.js
Labels: cla-not-required, type:chore

#904 fix(tokens): add missing token colors
  projects/ui/src/token_shim.cds-core.scss
Labels: cla-not-required

#884 feat(alert): small alerts token migration and update shim
  projects/angular/src/emphasis/alert/STYLES.md
  projects/angular/src/emphasis/alert/_alert.clarity.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/alert/alert--variants-core-dark.png
  tests/snapshots/alert/alert--variants-core-light.png
Labels: cla-not-required

#893 feat(tree-view): add tokens and update shim
  projects/angular/src/data/tree-view/STYLES.md
  projects/angular/src/data/tree-view/_properties.tree-view.scss
  projects/angular/src/data/tree-view/_tree-view.clarity.scss
  projects/angular/src/data/tree-view/_variables.tree-view.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/tree/tree--variants-core-dark.png
  tests/snapshots/tree/tree--variants-core-light.png
  tests/snapshots/tree/tree-node--variants-core-dark.png
  tests/snapshots/tree/tree-node--variants-core-light.png
  tests/snapshots/tree/tree-with-lazy-loaded-nodes--variants-core-dark.png
  tests/snapshots/tree/tree-with-lazy-loaded-nodes--variants-core-light.png
  tests/snapshots/tree/tree-with-lazy-loaded-recursive-nodes--variants-core-dark.png
  tests/snapshots/tree/tree-with-lazy-loaded-recursive-nodes--variants-core-light.png
  tests/snapshots/tree/tree-with-recursive-nodes--variants-core-dark.png
  tests/snapshots/tree/tree-with-recursive-nodes--variants-core-light.png
Labels: cla-not-required, type:feat, token-migration

#897 feat(modal): add tokens, update shim and style doc
  projects/angular/src/modal/STYLES.md
  projects/angular/src/modal/_modal.clarity.scss
  projects/angular/src/modal/_properties.modal.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/modal/static--variants-core-dark.png
  tests/snapshots/modal/static--variants-core-light.png
  tests/snapshots/wizard/wizard--variants-core-dark.png
  tests/snapshots/wizard/wizard--variants-core-light.png
  tests/snapshots/wizard/wizard-page--variants-core-dark.png
  tests/snapshots/wizard/wizard-page--variants-core-light.png
Labels: cla-not-required, type:feat, token-migration

#906 chore(deps): update core dep
  package-lock.json
  package.json
  tests/snapshots/spinner/spinner--variants-core-dark.png
  tests/snapshots/spinner/spinner--variants-core-light.png
Labels: cla-not-required

#905 chore(buttons): add stories - bulk test and loading
  .storybook/stories/button/buttons-all.stories.ts
  .storybook/stories/button/buttons-loading.stories.ts
  tests/snapshots/button/buttons-all--variants-core-dark.png
  tests/snapshots/button/buttons-all--variants-core-light.png
  tests/snapshots/button/buttons-all--variants-ng-dark.png
  tests/snapshots/button/buttons-all--variants-ng-light.png
  tests/snapshots/button/buttons-loading-states--variants-core-dark.png
  tests/snapshots/button/buttons-loading-states--variants-core-light.png
  tests/snapshots/button/buttons-loading-states--variants-ng-dark.png
  tests/snapshots/button/buttons-loading-states--variants-ng-light.png
Labels: cla-not-required

#907 fix(table): change heading to regular paragraph in `STYLES.md`
  projects/angular/src/data/STYLES.md
Labels: cla-not-required, type:fix

#900 feat(angular): update dependencies
  projects/angular/package.json
Labels: cla-not-required, type:breaking-change, v16

#909 feat(stack-view): align typography with spec
  projects/angular/src/data/stack-view/STYLES.md
  projects/angular/src/data/stack-view/_properties.stack-view.scss
  projects/angular/src/data/stack-view/_stack-view.clarity.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/stack-view/stack-block--variants-core-dark.png
  tests/snapshots/stack-view/stack-block--variants-core-light.png
  tests/snapshots/stack-view/stack-view--variants-core-dark.png
  tests/snapshots/stack-view/stack-view--variants-core-light.png
  tests/snapshots/stack-view/stack-view-with-lazy-loaded-blocks--variants-core-dark.png
  tests/snapshots/stack-view/stack-view-with-lazy-loaded-blocks--variants-core-light.png
Labels: cla-not-required, type:feat

#911 feat(login): add logo class and update tokens
  .storybook/stories/login/login.stories.ts
  projects/angular/src/image/_icons.clarity.scss
  projects/angular/src/layout/STYLES.md
  projects/angular/src/layout/_login.clarity.scss
  projects/angular/src/layout/_properties.login.scss
  projects/angular/src/layout/_variables.login.scss
  projects/angular/src/utils/_theme.dark.clarity.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/login/login--variants-core-dark.png
  tests/snapshots/login/login--variants-core-light.png
  tests/snapshots/login/login--variants-ng-dark.png
  tests/snapshots/login/login--variants-ng-light.png
Labels: cla-not-required, type:feat

#913 fix(datalist): allow clicking over caret to open datalist
  projects/angular/src/forms/styles/_datalist.clarity.scss
  projects/angular/src/utils/variables/_variables.global.scss
Labels: cla-not-required, type:fix, v16

#769 feat: refactor `ClrCommonStrings` interface to get rid of optional fields
  projects/angular/clarity.api.md
  projects/angular/src/utils/i18n/common-strings.interface.ts
Labels: cla-not-required, type:breaking-change, v16

#848 fix(signpost): adjust trigger pointer positions
  projects/angular/src/popover/signpost/_signposts.clarity.scss
  projects/angular/src/popover/signpost/signpost-positions.ts
Labels: cla-not-required, type:fix, type:breaking-change

#910 fix(datagrid): rename `clrDgRowAriaLabel` to `clrDgRowSelectionLabel`
  .storybook/stories/datagrid/datagrid-expandable-row.stories.ts
  .storybook/stories/datagrid/datagrid-row.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid-row.html
  projects/angular/src/data/datagrid/datagrid-row.spec.ts
  projects/angular/src/data/datagrid/datagrid-row.ts
  projects/demo/src/app/datagrid/detail/detail.html
  projects/demo/src/app/datagrid/selection-row-mode/selection-row-mode.html
  projects/demo/src/app/datagrid/selection-single/selection-single.html
  projects/demo/src/app/datagrid/selection/selection.html
Labels: cla-not-required, type:breaking-change, v16

#914 fix(button): change active behaviour from box-shadow to background-color
  projects/angular/src/button/STYLES.md
  projects/angular/src/button/_buttons.clarity.scss
  projects/angular/src/button/_properties.buttons.scss
  projects/angular/src/button/_variables.buttons.scss
  projects/angular/src/utils/_theme.dark.clarity.scss
  projects/ui/src/shim.cds-core.scss
Labels: cla-not-required, type:breaking-change, token-migration, v16

#922 feat(deps): update cds/core
  package-lock.json
  package.json
  projects/angular/package.json
  projects/ui/package.json
Labels: cla-not-required

#921 chore(readme): update angular readme
  projects/angular/README.md
Labels: cla-not-required

#919 feat(ui): remove temporary tokens and fallbacks vars
  projects/ui/src/shim.cds-core.scss
  projects/ui/src/token_shim.cds-core.scss
  tests/snapshots/header/header--variants-core-dark.png
  tests/snapshots/header/header--variants-core-light.png
  tests/snapshots/header/header-colors--variants-core-dark.png
  tests/snapshots/header/header-colors--variants-core-light.png
  tests/snapshots/header/headers-static--variants-core-dark.png
  tests/snapshots/header/headers-static--variants-core-light.png
  tests/snapshots/tree/tree--variants-core-dark.png
  tests/snapshots/tree/tree--variants-core-light.png
  tests/snapshots/tree/tree-node--variants-core-dark.png
  tests/snapshots/tree/tree-node--variants-core-light.png
  tests/snapshots/tree/tree-with-lazy-loaded-nodes--variants-core-dark.png
  tests/snapshots/tree/tree-with-lazy-loaded-nodes--variants-core-light.png
  tests/snapshots/tree/tree-with-lazy-loaded-recursive-nodes--variants-core-dark.png
  tests/snapshots/tree/tree-with-lazy-loaded-recursive-nodes--variants-core-light.png
  tests/snapshots/tree/tree-with-recursive-nodes--variants-core-dark.png
  tests/snapshots/tree/tree-with-recursive-nodes--variants-core-light.png
Labels: cla-not-required

#923 chore(ui): use scss vars for cds tokens in the shim
  projects/ui/src/shim.cds-core.scss
Labels: cla-not-required

#924 chore(ci): auto deploy storybook to v16 site
  .github/workflows/release.yml
Labels: cla-not-required

#925 feat(buttons): add status colors for flat buttons
  .storybook/stories/button/button.stories.ts
  .storybook/stories/button/buttons-all.stories.ts
  projects/angular/src/button/STYLES.md
  projects/angular/src/button/_buttons.clarity.scss
  projects/angular/src/button/_properties.buttons.scss
  projects/angular/src/button/_variables.buttons.scss
  projects/angular/src/color/_properties.color.scss
  projects/angular/src/utils/variables/_variables.color.scss
  projects/demo/src/app/buttons/buttons-test.html
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/button/button--variants-core-dark.png
  tests/snapshots/button/button--variants-core-light.png
  tests/snapshots/button/button--variants-ng-dark.png
  tests/snapshots/button/button--variants-ng-light.png
  tests/snapshots/button/buttons-all--variants-core-dark.png
  tests/snapshots/button/buttons-all--variants-core-light.png
  tests/snapshots/button/buttons-all--variants-ng-dark.png
  tests/snapshots/button/buttons-all--variants-ng-light.png
Labels: cla-not-required, type:feat

#927 feat(buttons): neutral solid and outline buttons
  .storybook/stories/button/buttons-all.stories.ts
  projects/angular/src/button/STYLES.md
  projects/angular/src/button/_buttons.clarity.scss
  projects/angular/src/button/_properties.buttons.scss
  projects/angular/src/button/_variables.buttons.scss
  projects/angular/src/color/_properties.color.scss
  projects/angular/src/utils/variables/_variables.color.scss
  projects/demo/src/app/buttons/buttons-test.html
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/button/button--variants-core-dark.png
  tests/snapshots/button/button--variants-core-light.png
  tests/snapshots/button/button--variants-ng-dark.png
  tests/snapshots/button/button--variants-ng-light.png
  tests/snapshots/button/buttons-all--variants-core-dark.png
  tests/snapshots/button/buttons-all--variants-core-light.png
  tests/snapshots/button/buttons-all--variants-ng-dark.png
  tests/snapshots/button/buttons-all--variants-ng-light.png
Labels: cla-not-required, token-migration, v16

#926 fix(datagrid): add separator width token and use correct height values
  projects/angular/src/data/datagrid/_datagrid.clarity.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/datagrid/action-overflow--variants-core-dark.png
  tests/snapshots/datagrid/action-overflow--variants-core-light.png
  tests/snapshots/datagrid/column--variants-core-dark.png
  tests/snapshots/datagrid/column--variants-core-light.png
  tests/snapshots/datagrid/datagrid--variants-core-dark.png
  tests/snapshots/datagrid/datagrid--variants-core-light.png
  tests/snapshots/datagrid/detail--variants-core-dark.png
  tests/snapshots/datagrid/detail--variants-core-light.png
  tests/snapshots/datagrid/page-size--variants-core-dark.png
  tests/snapshots/datagrid/page-size--variants-core-light.png
  tests/snapshots/datagrid/pagination--variants-core-dark.png
  tests/snapshots/datagrid/pagination--variants-core-light.png
  tests/snapshots/datagrid/placeholder--variants-core-dark.png
  tests/snapshots/datagrid/placeholder--variants-core-light.png
  tests/snapshots/datagrid/row--variants-core-dark.png
  tests/snapshots/datagrid/row--variants-core-light.png
Labels: cla-not-required, type:fix

#929 feat(buttons): add active text colors and primary-outline properties
  projects/angular/src/button/STYLES.md
  projects/angular/src/button/_buttons.clarity.scss
  projects/angular/src/button/_properties.buttons.scss
  projects/angular/src/button/_variables.buttons.scss
  projects/angular/src/utils/_theme.dark.clarity.scss
  projects/ui/src/shim.cds-core.scss
Labels: cla-not-required, type:feat, token-migration, v16
