Repository vmware-clarity/ng-clarity, pull requests merged in 2023-11, with the labels that each got.

#1030 chore(typography): add tokens and fix relations
  projects/angular/src/forms/styles/_checkbox.clarity.scss
  projects/angular/src/forms/styles/_radio.clarity.scss
  projects/angular/src/progress/spinner/_spinner.clarity.scss
  projects/angular/src/utils/_mixins.scss
  tests/snapshots/datalist/datalist--variants-core-dark.png
  tests/snapshots/datalist/datalist--variants-core-light.png
  tests/snapshots/datepicker/datecontainer--variants-core-dark.png
  tests/snapshots/datepicker/datecontainer--variants-core-light.png
  tests/snapshots/datepicker/datepicker--variants-core-dark.png
  tests/snapshots/datepicker/datepicker--variants-core-light.png
  tests/snapshots/forms/input-states--variants-core-dark.png
  tests/snapshots/forms/input-states--variants-core-light.png
  tests/snapshots/forms/reactive--variants-core-dark.png
  tests/snapshots/forms/reactive--variants-core-light.png
  tests/snapshots/forms/required-mark--variants-core-dark.png
  tests/snapshots/forms/required-mark--variants-core-light.png
  tests/snapshots/forms/template-driven--variants-core-dark.png
  tests/snapshots/forms/template-driven--variants-core-light.png
  tests/snapshots/login/login--variants-core-dark.png
  tests/snapshots/login/login--variants-core-light.png
Labels: cla-not-required

#1031 feat(password): remove shim mapping and fallback
  projects/angular/src/forms/password/password-container.ts
  projects/angular/src/forms/styles/_password.clarity.scss
  projects/angular/src/forms/styles/_properties.forms.scss
  projects/angular/src/forms/styles/_variables.forms.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/forms/reactive--variants-core-dark.png
  tests/snapshots/forms/reactive--variants-core-light.png
  tests/snapshots/forms/required-mark--variants-core-dark.png
  tests/snapshots/forms/required-mark--variants-core-light.png
  tests/snapshots/forms/template-driven--variants-core-dark.png
  tests/snapshots/forms/template-driven--variants-core-light.png
  tests/snapshots/login/login--variants-core-dark.png
  tests/snapshots/login/login--variants-core-light.png
Labels: cla-not-required, type:feat, token-migration

#1029 feat(alert): shim and fallbacks removal
  projects/angular/src/data/tree-view/_tree-view.clarity.scss
  projects/angular/src/data/tree-view/_variables.tree-view.scss
  projects/angular/src/emphasis/alert/STYLES.md
  projects/angular/src/emphasis/alert/_alert.clarity.scss
  projects/angular/src/emphasis/alert/_properties.alert.scss
  projects/angular/src/emphasis/alert/_variables.alert.scss
  projects/angular/src/layout/_card.clarity.scss
  projects/angular/src/layout/_properties.card.scss
  projects/angular/src/modal/_modal.clarity.scss
  projects/demo/src/app/alert/angular/alert-angular-not-closable.demo.html
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/alert/alert--variants-core-dark.png
  tests/snapshots/alert/alert--variants-core-light.png
  tests/snapshots/alert/alerts--variants-core-dark.png
  tests/snapshots/alert/alerts--variants-core-light.png
Labels: cla-not-required, type:feat, token-migration

#998 feat(tabs): remove shim mapping and fallbacks
  projects/angular/src/layout/nav/_nav.clarity.scss
  projects/angular/src/layout/nav/_variables.subnav.scss
  projects/angular/src/layout/tabs/STYLES.md
  projects/angular/src/layout/tabs/_properties.tabs.scss
  projects/angular/src/layout/tabs/_tabs.clarity.scss
  projects/angular/src/layout/tabs/_variables.tabs.scss
  projects/ui/src/shim.cds-core.scss
Labels: cla-not-required

#1035 fix(Input-group password): icon colors change
  projects/angular/src/forms/styles/_input-group.clarity.scss
  projects/angular/src/forms/styles/_properties.forms.scss
  projects/angular/src/forms/styles/_variables.forms.scss
  tests/snapshots/datepicker/datecontainer--variants-core-dark.png
  tests/snapshots/datepicker/datecontainer--variants-core-light.png
  tests/snapshots/datepicker/datepicker--variants-core-dark.png
  tests/snapshots/datepicker/datepicker--variants-core-light.png
  tests/snapshots/forms/input-states--variants-core-dark.png
  tests/snapshots/forms/input-states--variants-core-light.png
  tests/snapshots/forms/reactive--variants-core-dark.png
  tests/snapshots/forms/required-mark--variants-core-dark.png
  tests/snapshots/forms/required-mark--variants-core-light.png
  tests/snapshots/forms/template-driven--variants-core-dark.png
  tests/snapshots/login/login--variants-core-dark.png
Labels: cla-not-required, type:fix

#1018 fix(vertical-nav): fix inconsistent padding and font-weight of nav item groups
  projects/angular/src/layout/vertical-nav/_properties.vertical-nav.scss
  projects/angular/src/layout/vertical-nav/_variables.vertical-nav.scss
  projects/angular/src/layout/vertical-nav/_vertical-nav.clarity.scss
  tests/snapshots/vertical-nav/vertical-nav-routing--variants-core-dark.png
  tests/snapshots/vertical-nav/vertical-nav-routing--variants-core-light.png
  tests/snapshots/vertical-nav/vertical-nav-routing--variants-ng-dark.png
  tests/snapshots/vertical-nav/vertical-nav-routing--variants-ng-light.png
Labels: cla-not-required

#1039 fix(datagrid): add role gridcell to detail caret
  projects/angular/src/data/datagrid/datagrid-row.html
Labels: cla-not-required, type:fix

#1034 feat(datepicker): shim relation and fallback removal
  projects/angular/src/forms/datepicker/STYLES.md
  projects/angular/src/forms/datepicker/_datepicker.clarity.scss
  projects/angular/src/forms/datepicker/_properties.datepicker.scss
  projects/angular/src/forms/datepicker/_variables.datepicker.scss
  projects/ui/src/shim.cds-core.scss
Labels: cla-not-required, type:feat, token-migration

#1040 fix(stack-view): ignore input events in stack block (backport to 13.x)
  projects/angular/clarity.api.md
  projects/angular/src/data/stack-view/stack-block.ts
Labels: type:fix, backport

#1045 chore: prevent installing Angular 17 instead of Angular 16
  .github/workflows/pr-build.yml
Labels: cla-not-required, type:chore

#1047 chore: prevent installing Angular 17 instead of Angular 16
  .github/workflows/pr-build.yml
Labels: cla-not-required, backport, v15

#1037 feat(dropdown): remove shim and fallbacks
  projects/angular/src/popover/dropdown/STYLES.md
  projects/angular/src/popover/dropdown/_dropdown.clarity.scss
  projects/angular/src/popover/dropdown/_menu-mixins.clarity.scss
  projects/angular/src/popover/dropdown/_properties.dropdown.scss
  projects/angular/src/popover/dropdown/_variables.dropdown.scss
  projects/angular/src/utils/_mixins.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/dropdown/dropdown--variants-core-dark.png
  tests/snapshots/dropdown/dropdown--variants-core-light.png
  tests/snapshots/dropdown/dropdown-menu--variants-core-dark.png
  tests/snapshots/dropdown/dropdown-menu--variants-core-light.png
  tests/snapshots/dropdown/dropdown-static--variants-core-dark.png
  tests/snapshots/dropdown/dropdown-static--variants-core-light.png
  tests/snapshots/header/headers-static--variants-core-dark.png
  tests/snapshots/header/headers-static--variants-core-light.png
Labels: cla-not-required

#1036 feat(range): remove shim mapping and fallback
  projects/angular/src/forms/styles/_mixins.forms.scss
  projects/angular/src/forms/styles/_properties.forms.scss
  projects/angular/src/forms/styles/_range.clarity.scss
  projects/angular/src/forms/styles/_variables.forms.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/range/range-container--variants-core-dark.png
  tests/snapshots/range/range-container--variants-core-light.png
Labels: cla-not-required

#1049 fix(vertical-nav): nav-header font size
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/vertical-nav/vertical-header-and-divider--variants-core-dark.png
  tests/snapshots/vertical-nav/vertical-header-and-divider--variants-core-light.png
Labels: cla-not-required, type:fix, v16

#1050 fix(vertical-nav): nav header typography token (port of #1049)
  projects/angular/src/layout/vertical-nav/_vertical-nav.clarity.scss
  projects/angular/src/utils/_mixins.scss
  tests/snapshots/vertical-nav/vertical-header-and-divider--variants-core-dark.png
  tests/snapshots/vertical-nav/vertical-header-and-divider--variants-core-light.png
Labels: cla-not-required, type:fix

#1041 feat(toggle): remove shim and fallbacks
  projects/angular/src/button/_properties.toggles.scss
  projects/angular/src/button/_variables.toggles.scss
  projects/angular/src/forms/styles/_containers.clarity.scss
  projects/angular/src/forms/styles/_toggles.clarity.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle--variants-core-dark.png
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle--variants-core-light.png
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle-container--variants-core-dark.png
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle-container--variants-core-light.png
Labels: cla-not-required, type:feat, token-migration

#1053 feat(combobox): remove shim and fallbacks
  projects/angular/src/forms/combobox/STYLES.md
  projects/angular/src/forms/combobox/_combobox.clarity.scss
  projects/angular/src/forms/combobox/_properties.combobox.scss
  projects/angular/src/forms/combobox/_variables.combobox.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/combobox/combobox--variants-core-dark.png
  tests/snapshots/combobox/combobox--variants-core-light.png
Labels: cla-not-required

#1042 feat(datagrid table): remove shim mapping and fallbacks
  projects/angular/src/data/_properties.tables.scss
  projects/angular/src/data/_tables.clarity.scss
  projects/angular/src/data/_variables.tables.scss
  projects/angular/src/data/datagrid/STYLES.md
  projects/angular/src/data/datagrid/_datagrid.clarity.scss
  projects/angular/src/data/datagrid/_properties.datagrid.scss
  projects/angular/src/data/datagrid/_variables.datagrid.scss
  projects/angular/src/data/datagrid/utils/key-navigation-grid.controller.ts
  projects/angular/src/forms/styles/_properties.forms.scss
  projects/angular/src/forms/styles/_variables.forms.scss
  projects/angular/src/utils/_mixins.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/datagrid/action-overflow--variants-core-dark.png
  tests/snapshots/datagrid/action-overflow--variants-core-light.png
  tests/snapshots/datagrid/column--variants-core-dark.png
  tests/snapshots/datagrid/column--variants-core-light.png
  tests/snapshots/datagrid/datagrid--variants-core-dark.png
  tests/snapshots/datagrid/datagrid--variants-core-light.png
  tests/snapshots/datagrid/detail--variants-core-dark.png
  tests/snapshots/datagrid/detail--variants-core-light.png
  tests/snapshots/datagrid/page-size--variants-core-dark.png
  tests/snapshots/datagrid/page-size--variants-core-light.png
  tests/snapshots/datagrid/pagination--variants-core-dark.png
  tests/snapshots/datagrid/pagination--variants-core-light.png
  tests/snapshots/datagrid/placeholder--variants-core-dark.png
  tests/snapshots/datagrid/placeholder--variants-core-light.png
  tests/snapshots/datagrid/row--variants-core-dark.png
  tests/snapshots/datagrid/row--variants-core-light.png
  tests/snapshots/table/table--variants-core-dark.png
  tests/snapshots/table/table--variants-core-light.png
Labels: cla-not-required, type:feat

#1022 feat(forms): always show the helper text under controls
  .storybook/stories/forms/forms-input-states.stories.ts
  projects/angular/src/forms/common/abstract-container.ts
  projects/angular/src/forms/common/error.ts
  projects/angular/src/forms/common/success.ts
  projects/angular/src/forms/styles/_containers.clarity.scss
  projects/angular/src/forms/styles/containers.spec.ts
  projects/angular/src/forms/tests/container.spec.ts
  tests/snapshots/forms/input-states--variants-core-dark.png
  tests/snapshots/forms/input-states--variants-core-light.png
Labels: cla-not-required, type:feat, type:breaking-change, next

#1052 fix(signpost): provide default `aria-label` only on default trigger
  projects/angular/clarity.api.md
  projects/angular/src/popover/signpost/signpost-trigger.spec.ts
  projects/angular/src/popover/signpost/signpost-trigger.ts
  projects/angular/src/popover/signpost/signpost.spec.ts
  projects/angular/src/popover/signpost/signpost.ts
Labels: cla-not-required

#1057 fix(combobox): remove forgotten style doc
  projects/angular/src/forms/combobox/STYLES.md
Labels: cla-not-required

#1056 fix(signpost): provide default `aria-label` only on default trigger
  projects/angular/clarity.api.md
  projects/angular/src/popover/signpost/signpost-trigger.spec.ts
  projects/angular/src/popover/signpost/signpost-trigger.ts
  projects/angular/src/popover/signpost/signpost.spec.ts
  projects/angular/src/popover/signpost/signpost.ts
Labels: cla-not-required, type:fix, backport

#1055 fix(range): remove unnecessary thumb positioning for firefox
  projects/angular/src/forms/styles/_range.clarity.scss
Labels: cla-not-required

#1060 fix(links): Remove shim and fallbacks
  projects/angular/src/data/tree-view/_properties.tree-view.scss
  projects/angular/src/data/tree-view/_variables.tree-view.scss
  projects/angular/src/layout/_login.clarity.scss
  projects/angular/src/layout/nav/_links.clarity.scss
  projects/angular/src/layout/nav/_properties.nav.scss
  projects/angular/src/layout/nav/_variables.nav.scss
  projects/angular/src/utils/_reboot.clarity.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/header/headers-static--variants-core-dark.png
  tests/snapshots/header/headers-static--variants-core-light.png
Labels: type:feat, token-migration

#1059 feat(progress-bar): remove shim and fallbacks
  projects/angular/src/progress/progress-bars/STYLES.md
  projects/angular/src/progress/progress-bars/_progress-bars.clarity.scss
  projects/angular/src/progress/progress-bars/_properties.progress-bars.scss
  projects/angular/src/progress/progress-bars/_variables.progress-bars.scss
  projects/angular/src/progress/progress-bars/utils/_mixins.clarity.scss
  projects/ui/src/shim.cds-core.scss
Labels: cla-not-required, type:feat, token-migration

#1066 chore: prevent installing Angular 17 instead of Angular 16
  .github/workflows/pr-build.yml
Labels: cla-not-required, type:chore, backport

#1062 fix(range): remove unnecessary thumb positioning for firefox (port of #1055)
  projects/angular/src/forms/styles/_range.clarity.scss
Labels: cla-not-required

#1067 feat(wizard): add back inline wizards in 15.x
  .storybook/stories/modal/modal.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/modal/modal.ts
  projects/angular/src/wizard/_wizard.clarity.scss
  projects/angular/src/wizard/wizard.html
  projects/angular/src/wizard/wizard.ts
  projects/demo/src/app/wizard/wizard-inline.demo.html
  projects/demo/src/app/wizard/wizard-inline.demo.ts
  projects/demo/src/app/wizard/wizard.demo.module.ts
  projects/demo/src/app/wizard/wizard.demo.routing.ts
  projects/demo/src/app/wizard/wizard.demo.ts
Labels: cla-not-required

#1063 feat(datalist): remove shim mapping and fallbacks
  projects/angular/src/forms/styles/_datalist.clarity.scss
  projects/angular/src/forms/styles/_properties.forms.scss
  projects/angular/src/forms/styles/_variables.forms.scss
  projects/ui/src/shim.cds-core.scss
Labels: cla-not-required, type:fix, token-migration

#1065 feat(tree-view): remove shim and fallbacks
  projects/angular/src/data/tree-view/STYLES.md
  projects/angular/src/data/tree-view/_properties.tree-view.scss
  projects/angular/src/data/tree-view/_tree-view.clarity.scss
  projects/angular/src/data/tree-view/_variables.tree-view.scss
  projects/angular/src/layout/nav/_variables.nav.scss
  projects/angular/src/utils/_mixins.scss
  projects/ui/src/shim.cds-core.scss
Labels: cla-not-required, type:feat, token-migration

#1061 feat(login): remove shim mapping and fallbacks
  projects/angular/src/layout/STYLES.md
  projects/angular/src/layout/_login.clarity.scss
  projects/angular/src/layout/_properties.login.scss
  projects/angular/src/layout/_variables.login.scss
  projects/angular/src/utils/_mixins.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/login/login--variants-core-dark.png
  tests/snapshots/login/login--variants-core-light.png
Labels: type:fix, type:breaking-change, token-migration

#1068 feat(wizard): add back inline wizards in 16.x
  .storybook/stories/modal/modal.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/modal/modal.ts
  projects/angular/src/wizard/_wizard.clarity.scss
  projects/angular/src/wizard/wizard.html
  projects/angular/src/wizard/wizard.ts
  projects/demo/src/app/wizard/wizard-inline.demo.html
  projects/demo/src/app/wizard/wizard-inline.demo.ts
  projects/demo/src/app/wizard/wizard.demo.module.ts
  projects/demo/src/app/wizard/wizard.demo.routing.ts
  projects/demo/src/app/wizard/wizard.demo.ts
Labels: cla-not-required

#1072 feat(signpost): remove shim and fallbacks
  projects/angular/src/popover/signpost/STYLES.md
  projects/angular/src/popover/signpost/_properties.signpost.scss
  projects/angular/src/popover/signpost/_signposts.clarity.scss
  projects/angular/src/popover/signpost/_variables.signpost.scss
  projects/demo/src/app/signpost/signpost.demo.html
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/signpost/signpost--initial-core-dark.png
  tests/snapshots/signpost/signpost--initial-core-light.png
  tests/snapshots/signpost/signpost--opened-core-dark.png
  tests/snapshots/signpost/signpost--opened-core-light.png
Labels: cla-not-required, type:feat, token-migration

#1073 feat(header): remove shim mappings and fallbacks
  projects/angular/src/layout/main-container/STYLES.md
  projects/angular/src/layout/main-container/_properties.header.scss
  projects/angular/src/layout/main-container/_variables.header.scss
  projects/angular/src/layout/nav/_header.clarity.scss
  projects/angular/src/popover/dropdown/_properties.dropdown.scss
  projects/angular/src/utils/_mixins.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/dropdown/dropdown--variants-core-dark.png
  tests/snapshots/dropdown/dropdown--variants-core-light.png
  tests/snapshots/dropdown/dropdown-menu--variants-core-dark.png
  tests/snapshots/dropdown/dropdown-menu--variants-core-light.png
  tests/snapshots/dropdown/dropdown-static--variants-core-dark.png
  tests/snapshots/dropdown/dropdown-static--variants-core-light.png
  tests/snapshots/header/header--variants-core-dark.png
  tests/snapshots/header/header--variants-core-light.png
  tests/snapshots/header/header-colors--variants-core-dark.png
  tests/snapshots/header/header-colors--variants-core-light.png
  tests/snapshots/header/headers-collapsed--variants-core-dark.png
  tests/snapshots/header/headers-collapsed--variants-core-light.png
  tests/snapshots/header/headers-static--variants-core-dark.png
  tests/snapshots/header/headers-static--variants-core-light.png
Labels: cla-not-required

#1077 feat(lists): remove shim mapping and fallbacks
  projects/angular/src/typography/_lists.scss
  projects/angular/src/utils/variables/_properties.typography.scss
  projects/angular/src/utils/variables/_variables.typography.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/card/card--variants-core-dark.png
  tests/snapshots/card/card--variants-core-light.png
  tests/snapshots/list/list--variants-core-dark.png
  tests/snapshots/list/list--variants-core-light.png
  tests/snapshots/modal/modal--variants-core-dark.png
  tests/snapshots/modal/modal--variants-core-light.png
Labels: cla-not-required, type:feat, token-migration

#1071 feat(stack-view): Remove shim and fallbacks
  .storybook/stories/stack-view/stack-block.stories.ts
  projects/angular/src/data/stack-view/STYLES.md
  projects/angular/src/data/stack-view/_properties.stack-view.scss
  projects/angular/src/data/stack-view/_stack-view.clarity.scss
  projects/angular/src/data/stack-view/_variables.stack-view.scss
  projects/angular/src/utils/_overwrites.clarity.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/stack-view/stack-block--variants-core-dark.png
  tests/snapshots/stack-view/stack-block--variants-core-light.png
  tests/snapshots/stack-view/stack-view--variants-core-dark.png
  tests/snapshots/stack-view/stack-view--variants-core-light.png
  tests/snapshots/stack-view/stack-view-with-lazy-loaded-blocks--variants-core-dark.png
  tests/snapshots/stack-view/stack-view-with-lazy-loaded-blocks--variants-core-light.png
Labels: cla-not-required, type:feat, type:breaking-change, token-migration
