Repository vmware-clarity/ng-clarity, pull requests merged in 2023-12, with the labels that each got.

#1090 feat(tooltip): remove shim and fallbacks
  projects/angular/src/popover/tooltip/STYLES.md
  projects/angular/src/popover/tooltip/_properties.tooltip.scss
  projects/angular/src/popover/tooltip/_tooltips.clarity.scss
  projects/angular/src/popover/tooltip/_variables.tooltip.scss
  projects/ui/src/shim.cds-core.scss
Labels: cla-not-required, type:feat, token-migration

#1089 chore: add retries to playwright to prevent flaky tests
  playwright.config.ts
Labels: cla-not-required

#1054 feat(accordion): remove shim mapping and fallbacks
  projects/angular/src/accordion/STYLES.md
  projects/angular/src/accordion/_accordion.clarity.scss
  projects/angular/src/accordion/_properties.accordion.scss
  projects/angular/src/accordion/_variables.accordion.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/accordion/accordion--variants-core-dark.png
  tests/snapshots/accordion/accordion--variants-core-light.png
  tests/snapshots/accordion/accordion-panel--variants-core-dark.png
  tests/snapshots/accordion/accordion-panel--variants-core-light.png
  tests/snapshots/accordion/nested-accordion--variants-core-dark.png
  tests/snapshots/accordion/nested-accordion--variants-core-light.png
  tests/snapshots/stepper/stepper--variants-core-dark.png
  tests/snapshots/stepper/stepper--variants-core-light.png
Labels: cla-not-required, token-migration

#1095 feat(close button): remove shim and fallbacks
  projects/angular/src/emphasis/alert/_alert.clarity.scss
  projects/angular/src/emphasis/alert/_properties.alert.scss
  projects/angular/src/modal/_modal.clarity.scss
  projects/angular/src/modal/_properties.modal.scss
  projects/angular/src/popover/signpost/_signposts.clarity.scss
  projects/angular/src/utils/_close.clarity.scss
  projects/angular/src/utils/_mixins.scss
  projects/angular/src/utils/variables/_properties.global.scss
  projects/angular/src/utils/variables/_variables.global.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/modal/static--variants-core-dark.png
  tests/snapshots/modal/static--variants-core-light.png
  tests/snapshots/wizard/wizard--variants-core-dark.png
  tests/snapshots/wizard/wizard--variants-core-light.png
  tests/snapshots/wizard/wizard-page--variants-core-dark.png
  tests/snapshots/wizard/wizard-page--variants-core-light.png
Labels: cla-not-required, type:feat, token-migration

#1092 feat(timeline): remove shim and fallbacks
  projects/angular/src/timeline/STYLES.md
  projects/angular/src/timeline/_properties.timeline.scss
  projects/angular/src/timeline/_timeline.clarity.scss
  projects/angular/src/timeline/_variables.timeline.scss
  projects/angular/src/utils/_mixins.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/timeline/timeline--variants-core-dark.png
  tests/snapshots/timeline/timeline--variants-core-light.png
  tests/snapshots/timeline/timeline-step--variants-core-dark.png
  tests/snapshots/timeline/timeline-step--variants-core-light.png
Labels: cla-not-required, type:feat, token-migration

#1093 fix(login): revert trademark properties removal and mark as deprecated
  projects/angular/src/layout/STYLES.md
  projects/angular/src/layout/_login.clarity.scss
  projects/angular/src/layout/_properties.login.scss
  projects/angular/src/layout/_variables.login.scss
Labels: cla-not-required, type:fix

#1084 chore(utils): remove obsolete _overwrites file
  projects/angular/src/utils/_overwrites.clarity.scss
Labels: cla-not-required

#1083 fix(range): use correct color of thumb for disabled state (port of #1070)
  projects/angular/src/forms/styles/_containers.clarity.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/forms/input-states--variants-ng-dark.png
  tests/snapshots/forms/input-states--variants-ng-light.png
Labels: cla-not-required

#1097 fix(select): add select option background-color (port of #1088)
  projects/angular/src/forms/select/STYLES.md
  projects/angular/src/forms/styles/_properties.forms.scss
  projects/angular/src/forms/styles/_select.clarity.scss
  projects/angular/src/forms/styles/_variables.forms.scss
Labels: cla-not-required, next

#1101 chore(release): update release action
  .github/workflows/release.yml
  .releaserc.js
Labels: cla-not-required

#1107 feat(progress-bar): change color api
  .storybook/stories/progress-bar/progress-bar.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/progress/progress-bars/_variables.progress-bars.scss
  projects/angular/src/progress/progress-bars/progress-bar.spec.ts
  projects/angular/src/progress/progress-bars/progress-bar.ts
  projects/demo/src/app/progress-bars/progress-bar-component.html
Labels: cla-not-required, type:feat, type:breaking-change

#1074 feat(forms): support for dynamic control change
  projects/angular/clarity.api.md
  projects/angular/src/forms/common/wrapped-control.spec.ts
  projects/angular/src/forms/common/wrapped-control.ts
  projects/demo/src/app/forms/dynamic-controls/dynamic-controls.demo.html
  projects/demo/src/app/forms/dynamic-controls/dynamic-controls.demo.ts
  projects/demo/src/app/forms/forms.demo.module.ts
  projects/demo/src/app/forms/forms.demo.routing.ts
  projects/demo/src/app/forms/forms.demo.ts
Labels: cla-not-required, type:feat

#1106 feat(alerts): add neutral type
  .storybook/stories/alert/alert.stories.ts
  .storybook/stories/alert/alerts.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/emphasis/alert/STYLES.md
  projects/angular/src/emphasis/alert/_alert.clarity.scss
  projects/angular/src/emphasis/alert/_properties.alert.scss
  projects/angular/src/emphasis/alert/_variables.alert.scss
  projects/angular/src/emphasis/alert/alert.spec.ts
  projects/angular/src/emphasis/alert/alerts.ts
  projects/angular/src/emphasis/alert/providers/icon-and-types.service.ts
  projects/angular/src/emphasis/alert/utils/alert-types.ts
  projects/angular/src/utils/i18n/common-strings.default.ts
  projects/angular/src/utils/i18n/common-strings.interface.ts
  projects/demo/src/app/alert/angular/alert-angular-app-level-alerts.demo.html
  projects/demo/src/app/alert/angular/alert-angular-app-level-alerts.ts
  projects/demo/src/app/alert/static/alert-app-level.demo.html
  projects/demo/src/app/alert/static/alert-styles.demo.html
  tests/snapshots/alert/alert--variants-core-dark.png
  tests/snapshots/alert/alert--variants-core-light.png
  tests/snapshots/alert/alerts--variants-core-dark.png
  tests/snapshots/alert/alerts--variants-core-light.png
Labels: cla-not-required, type:feat

#1115 feat(forms): support for dynamic control change (#1074)
  projects/angular/clarity.api.md
  projects/angular/src/forms/common/wrapped-control.spec.ts
  projects/angular/src/forms/common/wrapped-control.ts
  projects/demo/src/app/forms/dynamic-controls/dynamic-controls.demo.html
  projects/demo/src/app/forms/dynamic-controls/dynamic-controls.demo.ts
  projects/demo/src/app/forms/forms.demo.module.ts
  projects/demo/src/app/forms/forms.demo.routing.ts
  projects/demo/src/app/forms/forms.demo.ts
Labels: cla-not-required, type:feat

#1116 feat(forms): support for dynamic control change (#1074)
  projects/angular/clarity.api.md
  projects/angular/src/forms/common/wrapped-control.spec.ts
  projects/angular/src/forms/common/wrapped-control.ts
  projects/demo/src/app/forms/dynamic-controls/dynamic-controls.demo.html
  projects/demo/src/app/forms/dynamic-controls/dynamic-controls.demo.ts
  projects/demo/src/app/forms/forms.demo.module.ts
  projects/demo/src/app/forms/forms.demo.routing.ts
  projects/demo/src/app/forms/forms.demo.ts
Labels: cla-not-required, type:feat

#1110 feat(alerts): add lightweight unknown and loading types
  .storybook/stories/alert/alert.stories.ts
  .storybook/stories/alert/alerts.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/emphasis/alert/STYLES.md
  projects/angular/src/emphasis/alert/_alert.clarity.scss
  projects/angular/src/emphasis/alert/alert-item.ts
  projects/angular/src/emphasis/alert/alert.html
  projects/angular/src/emphasis/alert/alert.module.ts
  projects/angular/src/emphasis/alert/alert.spec.ts
  projects/angular/src/emphasis/alert/alert.ts
  projects/angular/src/emphasis/alert/providers/icon-and-types.service.ts
  projects/angular/src/emphasis/alert/utils/alert-types.ts
  projects/angular/src/utils/i18n/common-strings.default.ts
  projects/angular/src/utils/i18n/common-strings.interface.ts
  projects/demo/src/app/alert/angular/alert-angular-not-closable.demo.html
  tests/snapshots/alert/alert--variants-core-dark.png
  tests/snapshots/alert/alert--variants-core-light.png
Labels: cla-not-required, type:feat, type:breaking-change

#1100 feat(ui): remove obsolete token mapping in shim (leftovers in accordion and navs)
  .prettierrc.js
  .storybook/pages/cds-core-shim.stories.mdx
  .storybook/pages/themes.stories.mdx
  .storybook/preview.js
  package.json
  projects/angular/src/data/datagrid/_datagrid.clarity.scss
  projects/angular/src/data/datagrid/_properties.datagrid.scss
  projects/angular/src/emphasis/_variables.label.scss
  projects/angular/src/layout/main-container/_layout.clarity.scss
  projects/angular/src/layout/main-container/_variables.header.scss
  projects/angular/src/layout/nav/_nav.clarity.scss
  projects/angular/src/layout/nav/_properties.nav.scss
  projects/angular/src/layout/nav/_properties.responsive-nav.scss
  projects/angular/src/layout/nav/_properties.subnav.scss
  projects/angular/src/layout/nav/_responsive-nav.clarity.scss
  projects/angular/src/layout/nav/_subnav.clarity.scss
  projects/angular/src/layout/nav/_variables.nav.scss
  projects/angular/src/layout/nav/_variables.responsive-nav.scss
  projects/angular/src/layout/nav/_variables.subnav.scss
  projects/angular/src/typography/_code.scss
  projects/angular/src/utils/_mixins.scss
  projects/angular/src/utils/variables/_properties.global.scss
  projects/angular/src/utils/variables/_variables.global.scss
  projects/demo/src/styles.scss
  projects/ui/src/clr-ui.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/header/headers-collapsed--variants-core-dark.png
  tests/snapshots/header/headers-collapsed--variants-core-light.png
Labels: cla-not-required, type:feat, type:breaking-change, token-migration

#1114 fix(vertical-nav): use `justify-content: flex-end` instead of `end`
  projects/angular/src/layout/vertical-nav/_vertical-nav.clarity.scss
Labels: cla-not-required
