Repository vmware-clarity/ng-clarity, pull requests merged in 2023-05, with the labels that each got.

#661 chore(wizard): remove unused `clr-wizard-pagetitle` selector
  projects/angular/clarity.api.md
  projects/angular/src/wizard/wizard-custom-tags.ts
Labels: cla-not-required, type:chore

#667 fix(popover): export popover host directive
  projects/angular/clarity.api.md
  projects/angular/src/button/button-group/button-group.ts
  projects/angular/src/data/datagrid/datagrid-action-overflow.ts
  projects/angular/src/data/datagrid/datagrid-column-toggle.ts
  projects/angular/src/data/datagrid/datagrid-column.ts
  projects/angular/src/forms/combobox/combobox.ts
  projects/angular/src/forms/datepicker/date-container.ts
  projects/angular/src/layout/tabs/tabs.ts
  projects/angular/src/popover/dropdown/dropdown.ts
  projects/angular/src/popover/signpost/signpost.ts
  projects/angular/src/popover/tooltip/tooltip.ts
  projects/angular/src/utils/popover/index.ts
  projects/angular/src/utils/popover/popover-host.directive.ts
  projects/demo/src/app/popovers/dummy-anchor.ts
Labels: cla-not-required, type:fix

#668 fix(nav): export standalone `CdkTrapFocus` directive
  projects/angular/clarity.api.md
  projects/angular/src/layout/nav/nav-level.ts
  projects/angular/src/utils/focus/focus-trap/index.ts
  projects/angular/src/utils/focus/focus-trap/standalone-cdk-trap-focus.directive.ts
  projects/angular/src/utils/index.ts
Labels: cla-not-required, type:fix

#634 feat: add support for Angular 16
  .github/workflows/pr-build.yml
  projects/angular/package.json
Labels: cla-not-required, type:feat

#627 fix(datagrid): set row aria label in label elements
  .storybook/stories/datagrid/datagrid-row.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid-row.html
  projects/angular/src/data/datagrid/datagrid-row.spec.ts
  projects/angular/src/data/datagrid/datagrid-row.ts
Labels: cla-not-required, type:fix

#645 fix(stack-view): remove static height in modals
  projects/angular/src/data/stack-view/_stack-view.clarity.scss
Labels: cla-not-required, type:fix

#676 chore: clean up eslint ignore comments
  .eslintrc.js
  projects/angular/src/data/datagrid/built-in/filters/datagrid-numeric-filter-impl.spec.ts
  projects/angular/src/data/datagrid/built-in/filters/datagrid-string-filter-impl.spec.ts
  projects/angular/src/data/datagrid/datagrid-action-overflow.spec.ts
  projects/angular/src/data/datagrid/datagrid-column.spec.ts
  projects/angular/src/data/datagrid/datagrid-filter.spec.ts
  projects/angular/src/data/datagrid/datagrid.spec.ts
  projects/angular/src/data/datagrid/render/noop-dom-adapter.ts
  projects/angular/src/forms/common/if-control-state/abstract-if-state.ts
  projects/angular/src/forms/datepicker/date-input.spec.ts
  projects/angular/src/popover/dropdown/providers/dropdown-focus-handler.spec.ts
  projects/angular/src/utils/dom-adapter/dom-adapter.mock.ts
  projects/angular/src/wizard/providers/page-collection.service.mock.ts
Labels: cla-not-required, type:chore

#675 chore: simplify `EventEmitter` property declarations
  projects/angular/src/button/button-group/button.ts
  projects/angular/src/button/button-loading/loading-button.ts
  projects/angular/src/data/datagrid/render/header-renderer.ts
  projects/angular/src/data/stack-view/stack-block.ts
  projects/angular/src/emphasis/alert/alert.ts
  projects/angular/src/forms/combobox/combobox.ts
  projects/angular/src/forms/datepicker/date-input.ts
  projects/angular/src/forms/datepicker/providers/datepicker-focus.service.spec.ts
  projects/angular/src/layout/vertical-nav/vertical-nav-group.ts
  projects/angular/src/layout/vertical-nav/vertical-nav.ts
  projects/angular/src/modal/modal.ts
  projects/angular/src/utils/conditional/if-active.directive.ts
  projects/angular/src/utils/conditional/if-expanded.directive.ts
  projects/angular/src/utils/conditional/if-open.directive.ts
  projects/angular/src/utils/focus/key-focus/key-focus.ts
  projects/angular/src/utils/popover/popover-close-button.ts
  projects/angular/src/utils/popover/popover-content.ts
  projects/angular/src/utils/popover/popover-open-close-button.ts
  projects/angular/src/wizard/wizard-button.ts
  projects/angular/src/wizard/wizard-header-action.ts
  projects/angular/src/wizard/wizard-page.ts
  projects/angular/src/wizard/wizard.ts
Labels: cla-not-required, type:chore

#673 feat(wizard): add custom aria-label for stepnav section
  .storybook/stories/wizard/wizard.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/utils/i18n/common-strings.default.ts
  projects/angular/src/utils/i18n/common-strings.interface.ts
  projects/angular/src/wizard/test-components/api-wizard.mock.ts
  projects/angular/src/wizard/wizard.html
  projects/angular/src/wizard/wizard.spec.ts
  projects/angular/src/wizard/wizard.ts
Labels: cla-not-required, type:fix

#674 fix(form): move required asterisk to the right side
  .storybook/stories/forms/forms-required-mark.stories.ts
  projects/angular/src/forms/styles/_form.clarity.scss
  tests/snapshots/forms/required-mark--variants-core-dark.png
  tests/snapshots/forms/required-mark--variants-core-light.png
  tests/snapshots/forms/required-mark--variants-high-contrast.png
  tests/snapshots/forms/required-mark--variants-ng-dark.png
  tests/snapshots/forms/required-mark--variants-ng-light.png
Labels: cla-not-required, type:fix

#680 chore(wizard): remove unused `clr-wizard-pagetitle` selector (backport #661 to 13.x)
  projects/angular/clarity.api.md
  projects/angular/src/wizard/wizard-custom-tags.ts
Labels: cla-not-required, type:chore, backport

#681 chore(wizard): rename `wizardTitle` property/template to `pageTitle` (backport of #660 to 13.x)
  projects/angular/clarity.api.md
  projects/angular/src/wizard/wizard.html
  projects/angular/src/wizard/wizard.ts
Labels: cla-not-required, type:chore, backport

#682 fix(datagrid): re-map selection if row item references are changed (backport of #672 to 13.x)
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid-row.ts
  projects/angular/src/data/datagrid/datagrid.spec.ts
  projects/angular/src/data/datagrid/datagrid.ts
Labels: cla-not-required, type:fix, backport

#683 chore: clean up eslint ignore comments (backport of #676 to 13.x)
  .eslintrc.js
  projects/angular/src/data/datagrid/built-in/filters/datagrid-numeric-filter-impl.spec.ts
  projects/angular/src/data/datagrid/built-in/filters/datagrid-string-filter-impl.spec.ts
  projects/angular/src/data/datagrid/datagrid-action-overflow.spec.ts
  projects/angular/src/data/datagrid/datagrid-column.spec.ts
  projects/angular/src/data/datagrid/datagrid-filter.spec.ts
  projects/angular/src/data/datagrid/datagrid.spec.ts
  projects/angular/src/data/datagrid/render/noop-dom-adapter.ts
  projects/angular/src/forms/common/if-control-state/abstract-if-state.ts
  projects/angular/src/forms/datepicker/date-input.spec.ts
  projects/angular/src/popover/dropdown/providers/dropdown-focus-handler.spec.ts
  projects/angular/src/utils/dom-adapter/dom-adapter.mock.ts
  projects/angular/src/wizard/providers/page-collection.service.mock.ts
Labels: cla-not-required, type:chore, backport

#684 chore: simplify `EventEmitter` property declarations (backport of #675 to 13.x)
  projects/angular/src/button/button-group/button.ts
  projects/angular/src/button/button-loading/loading-button.ts
  projects/angular/src/data/datagrid/render/header-renderer.ts
  projects/angular/src/data/stack-view/stack-block.ts
  projects/angular/src/emphasis/alert/alert.ts
  projects/angular/src/forms/combobox/combobox.ts
  projects/angular/src/forms/datepicker/date-input.ts
  projects/angular/src/forms/datepicker/providers/datepicker-focus.service.spec.ts
  projects/angular/src/layout/vertical-nav/vertical-nav-group.ts
  projects/angular/src/layout/vertical-nav/vertical-nav.ts
  projects/angular/src/modal/modal.ts
  projects/angular/src/utils/conditional/if-active.directive.ts
  projects/angular/src/utils/conditional/if-expanded.directive.ts
  projects/angular/src/utils/conditional/if-open.directive.ts
  projects/angular/src/utils/focus/key-focus/key-focus.ts
  projects/angular/src/utils/popover/popover-close-button.ts
  projects/angular/src/utils/popover/popover-content.ts
  projects/angular/src/utils/popover/popover-open-close-button.ts
  projects/angular/src/wizard/wizard-button.ts
  projects/angular/src/wizard/wizard-header-action.ts
  projects/angular/src/wizard/wizard-page.ts
  projects/angular/src/wizard/wizard.ts
Labels: cla-not-required, type:chore, backport

#688 fix(form): move required asterisk to the right side (backport to 13.x)
  .storybook/stories/forms/forms-required-mark.stories.ts
  projects/angular/src/forms/styles/_form.clarity.scss
  tests/snapshots/forms/required-mark--variants-core-dark.png
  tests/snapshots/forms/required-mark--variants-core-light.png
  tests/snapshots/forms/required-mark--variants-high-contrast.png
  tests/snapshots/forms/required-mark--variants-ng-dark.png
  tests/snapshots/forms/required-mark--variants-ng-light.png
Labels: cla-not-required, type:fix, backport

#689 chore(analytics): update storybook config to use gtag/ga4
  .storybook/manager-head.html
Labels: cla-not-required

#644 chore: add css documentation for card and login styles
  projects/angular/src/layout/API.md
  projects/angular/src/layout/_login.clarity.scss
  projects/angular/src/layout/_properties.login.scss
  projects/angular/src/layout/_variables.login.scss
Labels: type:chore, website / documentation

#679 fix(combobox): prevent flashing on option selected
  projects/angular/src/utils/popover/popover-content.ts
Labels: cla-not-required, type:fix

#691 fix(combobox): prevent flashing on option selected (backport to 13.x)
  projects/angular/src/utils/popover/popover-content.ts
Labels: cla-not-required

#692 feat(wizard): add custom aria-label for stepnav section (backport to 13.x)
  .storybook/stories/wizard/wizard.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/utils/i18n/common-strings.default.ts
  projects/angular/src/utils/i18n/common-strings.interface.ts
  projects/angular/src/wizard/test-components/api-wizard.mock.ts
  projects/angular/src/wizard/wizard.html
  projects/angular/src/wizard/wizard.spec.ts
  projects/angular/src/wizard/wizard.ts
Labels: cla-not-required

#695 fix(forms): remove improper alignment of checkbox and radio on firefox
  projects/angular/src/forms/styles/_checkbox.clarity.scss
  projects/angular/src/forms/styles/_radio.clarity.scss
Labels: cla-not-required, type:fix

#699 chore: simplify `Subject` property declarations (backport to 13.x)
  projects/angular/src/accordion/providers/accordion.service.ts
  projects/angular/src/accordion/stepper/stepper-panel.spec.ts
  projects/angular/src/button/providers/button-in-group.service.ts
  projects/angular/src/data/datagrid/datagrid-if-expanded.service.ts
  projects/angular/src/data/datagrid/providers/detail.service.ts
  projects/angular/src/data/datagrid/providers/display-mode.service.ts
  projects/angular/src/data/datagrid/providers/selection.ts
  projects/angular/src/data/datagrid/render/render-organizer.ts
  projects/angular/src/data/datagrid/utils/key-navigation-grid.controller.ts
  projects/angular/src/data/tree-view/models/tree-node.model.ts
  projects/angular/src/data/tree-view/tree-features.service.ts
  projects/angular/src/data/tree-view/tree-focus-manager.service.ts
  projects/angular/src/data/tree-view/tree-node.ts
  projects/angular/src/forms/combobox/model/pseudo-focus.model.ts
  projects/angular/src/forms/combobox/providers/option-selection.service.ts
  projects/angular/src/forms/common/if-control-state/if-control-state.service.ts
  projects/angular/src/forms/common/providers/container-id.service.ts
  projects/angular/src/forms/common/providers/control-id.service.ts
  projects/angular/src/forms/common/providers/focus.service.ts
  projects/angular/src/forms/common/providers/mark-control.service.ts
  projects/angular/src/forms/common/providers/ng-control.service.ts
  projects/angular/src/forms/datalist/providers/datalist-id.service.ts
  projects/angular/src/forms/datepicker/providers/date-form-control.service.ts
  projects/angular/src/forms/datepicker/providers/date-navigation.service.ts
  projects/angular/src/layout/vertical-nav/providers/vertical-nav-group.service.ts
  projects/angular/src/layout/vertical-nav/providers/vertical-nav.service.ts
  projects/angular/src/popover/dropdown/providers/dropdown.service.ts
  projects/angular/src/popover/signpost/providers/signpost-id.service.ts
  projects/angular/src/popover/tooltip/providers/tooltip-id.service.ts
  projects/angular/src/timeline/providers/timeline-step-id.service.ts
  projects/angular/src/utils/conditional/if-active.service.ts
  projects/angular/src/utils/conditional/if-expanded.service.ts
  projects/angular/src/utils/drag-and-drop/providers/drag-and-drop-event-bus.service.ts
  projects/angular/src/utils/drag-and-drop/providers/drag-event-listener.service.mock.ts
  projects/angular/src/utils/drag-and-drop/providers/drag-event-listener.service.ts
  projects/angular/src/utils/for-type-ahead/for-type-ahead.service.ts
  projects/angular/src/utils/popover/providers/popover-position.service.ts
  projects/angular/src/utils/popover/providers/popover-toggle.service.ts
  projects/demo/src/app/z-index/custom-filter.demo.ts
Labels: cla-not-required, type:chore, backport

#700 fix(datagrid): set row aria label in label elements backport to 13.x
  .storybook/stories/datagrid/datagrid-row.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid-row.html
  projects/angular/src/data/datagrid/datagrid-row.spec.ts
  projects/angular/src/data/datagrid/datagrid-row.ts
Labels: cla-not-required

#702 chore: remove unnecessary get/set accessors
  projects/angular/clarity.api.md
  projects/angular/src/progress/progress-bars/progress-bar.ts
  projects/angular/src/utils/popover/providers/popover-events.service.ts
  projects/angular/src/utils/popover/providers/popover-position.service.ts
Labels: cla-not-required, type:chore

#703 chore: remove unnecessary get/set accessors (backport to 13.x)
  projects/angular/clarity.api.md
  projects/angular/src/progress/progress-bars/progress-bar.ts
  projects/angular/src/utils/popover/providers/popover-events.service.ts
  projects/angular/src/utils/popover/providers/popover-position.service.ts
Labels: cla-not-required, type:chore, backport

#722 fix(select): change caret color on hover
  projects/angular/src/forms/styles/_select.clarity.scss
Labels: cla-not-required, type:fix

#725 chore: add security report policy
  SECURITY.md
Labels: cla-not-required
