Repository vmware-clarity/ng-clarity, pull requests merged in 2023-09, with the labels that each got.

#920 feat(alert): add lightweight type and align with spec
  .storybook/stories/alert/alert.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/emphasis/alert/STYLES.md
  projects/angular/src/emphasis/alert/_alert.clarity.scss
  projects/angular/src/emphasis/alert/_properties.alert.scss
  projects/angular/src/emphasis/alert/_variables.alert.scss
  projects/angular/src/emphasis/alert/alert.html
  projects/angular/src/emphasis/alert/alert.ts
  projects/angular/src/emphasis/alert/alerts.html
  projects/angular/src/emphasis/alert/alerts.spec.ts
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/alert/alert--variants-core-dark.png
  tests/snapshots/alert/alert--variants-core-light.png
  tests/snapshots/alert/alert--variants-ng-dark.png
  tests/snapshots/alert/alert--variants-ng-light.png
  tests/snapshots/alert/alerts--variants-core-dark.png
  tests/snapshots/alert/alerts--variants-core-light.png
  tests/snapshots/alert/alerts--variants-ng-dark.png
  tests/snapshots/alert/alerts--variants-ng-light.png
Labels: cla-not-required

#930 feat(treeview): add tokens styles for hover, active and selected nodes and update shim
  projects/angular/src/data/tree-view/STYLES.md
  projects/angular/src/data/tree-view/_properties.tree-view.scss
  projects/angular/src/data/tree-view/_tree-view.clarity.scss
  projects/angular/src/data/tree-view/tree-node.html
  projects/angular/src/utils/_reboot.clarity.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/tree/tree--variants-core-dark.png
  tests/snapshots/tree/tree--variants-core-light.png
  tests/snapshots/tree/tree-node--variants-core-dark.png
  tests/snapshots/tree/tree-node--variants-core-light.png
  tests/snapshots/tree/tree-with-lazy-loaded-nodes--variants-core-dark.png
  tests/snapshots/tree/tree-with-lazy-loaded-nodes--variants-core-light.png
  tests/snapshots/tree/tree-with-lazy-loaded-recursive-nodes--variants-core-dark.png
  tests/snapshots/tree/tree-with-lazy-loaded-recursive-nodes--variants-core-light.png
  tests/snapshots/tree/tree-with-recursive-nodes--variants-core-dark.png
  tests/snapshots/tree/tree-with-recursive-nodes--variants-core-light.png
Labels: cla-not-required, type:feat, type:breaking-change, token-migration, v16

#934 chore(vrt): update body to html scrollheight
  tests/screenshot-options.ts
  tests/snapshots/header/headers-static--variants-core-dark.png
  tests/snapshots/header/headers-static--variants-core-light.png
  tests/snapshots/header/headers-static--variants-ng-dark.png
  tests/snapshots/header/headers-static--variants-ng-light.png
  tests/visual-snapshots.spec.ts
Labels: cla-not-required

#939 fix(card): use correct font-size value for header and title in ng-theme
  projects/angular/src/layout/_card.clarity.scss
  projects/angular/src/layout/_properties.card.scss
  tests/snapshots/card/card--variants-ng-dark.png
  tests/snapshots/card/card--variants-ng-light.png
Labels: cla-not-required, type:fix

#940 fix(modal): remove overflow hidden and set background on modal-dialog
  projects/angular/src/modal/_modal.clarity.scss
  tests/snapshots/modal/static--variants-core-dark.png
  tests/snapshots/modal/static--variants-core-light.png
  tests/snapshots/modal/static--variants-ng-dark.png
  tests/snapshots/wizard/wizard--variants-core-dark.png
  tests/snapshots/wizard/wizard--variants-core-light.png
  tests/snapshots/wizard/wizard-page--variants-core-dark.png
  tests/snapshots/wizard/wizard-page--variants-core-light.png
Labels: cla-not-required, type:fix

#938 fix(card): use correct font-size for header and title in ng-theme
  projects/angular/src/layout/_card.clarity.scss
  projects/angular/src/layout/_properties.card.scss
  tests/snapshots/card/card--variants-ng-dark.png
  tests/snapshots/card/card--variants-ng-light.png
Labels: cla-not-required, type:fix, v16

#941 fix(modal): remove overflow hidden and set background on modal-dialog
  projects/angular/src/modal/_modal.clarity.scss
  tests/snapshots/modal/static--variants-core-dark.png
  tests/snapshots/modal/static--variants-core-light.png
  tests/snapshots/modal/static--variants-ng-dark.png
  tests/snapshots/wizard/wizard--variants-core-dark.png
  tests/snapshots/wizard/wizard--variants-core-light.png
  tests/snapshots/wizard/wizard-page--variants-core-dark.png
  tests/snapshots/wizard/wizard-page--variants-core-light.png
Labels: cla-not-required, type:fix, v16

#932 chore(storybook): refactor input states story to be css only
  .storybook/stories/forms/forms-input-states.stories.ts
  tests/snapshots/forms/input-states--variants-core-dark.png
  tests/snapshots/forms/input-states--variants-core-light.png
  tests/snapshots/forms/input-states--variants-ng-dark.png
  tests/snapshots/forms/input-states--variants-ng-light.png
Labels: cla-not-required, type:chore

#935 fix(signpost): use correct trigger icon size and align padding
  projects/angular/src/popover/signpost/STYLES.md
  projects/angular/src/popover/signpost/_properties.signpost.scss
  projects/angular/src/popover/signpost/_signposts.clarity.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/signpost/signpost--variants-core-dark.png
  tests/snapshots/signpost/signpost--variants-core-light.png
Labels: cla-not-required, type:fix, token-migration, v16

#908 feat(vertical-nav): add font-weight tokens for nav item active and selected state
  projects/angular/src/layout/vertical-nav/STYLES.md
  projects/angular/src/layout/vertical-nav/_vertical-nav.clarity.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/vertical-nav/vertical-nav-routing--variants-core-dark.png
  tests/snapshots/vertical-nav/vertical-nav-routing--variants-core-light.png
  tests/snapshots/vertical-nav/vertical-nav-routing--variants-ng-dark.png
  tests/snapshots/vertical-nav/vertical-nav-routing--variants-ng-light.png
Labels: cla-not-required, type:feat

#946 chore(demo): add stepper scenario with clrIfExpanded directive and fix icon in select
  projects/demo/src/app/selects/selects.demo.html
  projects/demo/src/app/stepper/stepper.demo.html
  projects/demo/src/app/stepper/stepper.demo.ts
Labels: cla-not-required

#947 fix(timeline): adjust spinner size to be same as other icons
  projects/angular/src/timeline/STYLES.md
  projects/angular/src/timeline/_properties.timeline.scss
  projects/angular/src/timeline/_timeline.clarity.scss
  projects/angular/src/timeline/_variables.timeline.scss
  tests/snapshots/timeline/timeline--variants-core-dark.png
  tests/snapshots/timeline/timeline--variants-core-light.png
  tests/snapshots/timeline/timeline--variants-ng-dark.png
  tests/snapshots/timeline/timeline--variants-ng-light.png
  tests/snapshots/timeline/timeline-step--variants-core-dark.png
  tests/snapshots/timeline/timeline-step--variants-core-light.png
  tests/snapshots/timeline/timeline-step--variants-ng-dark.png
  tests/snapshots/timeline/timeline-step--variants-ng-light.png
Labels: cla-not-required, type:fix

#950 fix(combobox): add touched condition to invalid validation
  projects/angular/src/forms/combobox/combobox.ts
Labels: cla-not-required, type:fix, v16

#955 fix(badge): override links styles
  .storybook/stories/badge/badge.stories.ts
  projects/angular/src/emphasis/_badges.clarity.scss
  projects/angular/src/layout/nav/_links.clarity.scss
  tests/snapshots/badge/badge--variants-core-dark.png
  tests/snapshots/badge/badge--variants-core-light.png
  tests/snapshots/badge/badge--variants-ng-dark.png
  tests/snapshots/badge/badge--variants-ng-light.png
Labels: cla-not-required

#956 fix(badge): override link styles - backport
  .storybook/stories/badge/badge.stories.ts
  projects/angular/src/emphasis/_badges.clarity.scss
  projects/angular/src/layout/nav/_links.clarity.scss
  tests/snapshots/badge/badge--variants-core-dark.png
  tests/snapshots/badge/badge--variants-core-light.png
  tests/snapshots/badge/badge--variants-ng-dark.png
  tests/snapshots/badge/badge--variants-ng-light.png
Labels: cla-not-required

#951 chore(md): update bug-report.md to link to slack support channel
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: cla-not-required

#958 chore(header): add basic collapsed view story
  .storybook/stories/header/header-collapsed.stories.ts
  tests/snapshots/header/headers-collapsed--variants-core-dark.png
  tests/snapshots/header/headers-collapsed--variants-core-light.png
  tests/snapshots/header/headers-collapsed--variants-ng-dark.png
  tests/snapshots/header/headers-collapsed--variants-ng-light.png
Labels: cla-not-required

#959 fix(card): update footer spacing to spec
  .storybook/stories/card/card.stories.ts
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/card/card--variants-core-dark.png
  tests/snapshots/card/card--variants-core-light.png
  tests/snapshots/card/card--variants-ng-dark.png
  tests/snapshots/card/card--variants-ng-light.png
Labels: cla-not-required

#954 feat(progress-bar): compact progress bars
  .storybook/stories/progress-bar/progress-bar.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/layout/_properties.card.scss
  projects/angular/src/progress/progress-bars/STYLES.md
  projects/angular/src/progress/progress-bars/_progress-bars.clarity.scss
  projects/angular/src/progress/progress-bars/_properties.progress-bars.scss
  projects/angular/src/progress/progress-bars/progress-bar.ts
  projects/demo/src/app/progress-bars/progress-bar-colors.ts
  projects/demo/src/app/progress-bars/progress-bar-inline.html
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/progress-bar/progress-bar--variants-core-dark.png
  tests/snapshots/progress-bar/progress-bar--variants-core-light.png
  tests/snapshots/progress-bar/progress-bar--variants-ng-dark.png
  tests/snapshots/progress-bar/progress-bar--variants-ng-light.png
Labels: cla-not-required

#957 fix(datepicker): don't read all days of month on focus with screen reader
  projects/angular/src/forms/datepicker/calendar.html
  projects/angular/src/forms/datepicker/model/day.model.spec.ts
  projects/angular/src/forms/datepicker/model/day.model.ts
Labels: cla-not-required

#961 feat(label): add text class in span element
  .storybook/stories/label/label.stories.ts
  projects/angular/src/emphasis/STYLES.md
  projects/demo/src/app/labels/labels-clickable.demo.html
  projects/demo/src/app/labels/labels-with-badges.demo.html
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/label/label--variants-core-dark.png
  tests/snapshots/label/label--variants-core-light.png
  tests/snapshots/label/label--variants-ng-dark.png
  tests/snapshots/label/label--variants-ng-light.png
Labels: cla-not-required, type:feat

#962 feat(deps): update cds/core to 6.7.0
  package-lock.json
  package.json
  projects/angular/package.json
  projects/ui/package.json
  tests/snapshots/button/button--variants-core-light.png
  tests/snapshots/checkbox-or-toggle/checkbox-or-toggle--variants-core-light.png
  tests/snapshots/combobox/combobox--variants-core-light.png
  tests/snapshots/datalist/datalist--variants-core-light.png
  tests/snapshots/datepicker/datepicker--variants-core-light.png
  tests/snapshots/forms/input-states--variants-core-light.png
  tests/snapshots/wizard/wizard--variants-core-light.png
  tests/snapshots/wizard/wizard-page--variants-core-light.png
Labels: cla-not-required

#963 fix(signpost): use correct trigger icon size
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/signpost/signpost--variants-core-dark.png
  tests/snapshots/signpost/signpost--variants-core-light.png
Labels: cla-not-required, type:fix, backport

#964 fix(alert): top alert pager misalignment (v15 only)
  projects/angular/src/emphasis/alert/_alert.clarity.scss
Labels: cla-not-required

#953 fix(header): align responsive nav to look like header nav
  projects/angular/src/layout/nav/_header.clarity.scss
  projects/angular/src/layout/nav/_nav.clarity.scss
  projects/angular/src/layout/nav/_responsive-nav.clarity.scss
  projects/ui/src/shim.cds-core.scss
  tests/snapshots/header/headers-collapsed--variants-core-dark.png
  tests/snapshots/header/headers-collapsed--variants-core-light.png
  tests/snapshots/header/headers-collapsed--variants-ng-dark.png
  tests/snapshots/header/headers-collapsed--variants-ng-light.png
Labels: cla-not-required

#966 fix(tabs): add paddings and text size from tokens for overflow menu
  projects/ui/src/shim.cds-core.scss
Labels: cla-not-required, type:fix, token-migration

#965 fix(header): revert changes and align subnav to vertical nav in cds-theme
  projects/angular/src/layout/nav/_nav.clarity.scss
  projects/angular/src/layout/nav/_responsive-nav.clarity.scss
  projects/ui/src/shim.cds-core.scss
Labels: cla-not-required, type:chore

#968 chore(release): add v15 storybook to release
  .github/workflows/release.yml
Labels: cla-not-required, v15
