Repository vmware-clarity/ng-clarity, pull requests merged in 2024-06, with the labels that each got.

#1419 fix(datagrid): hide initially hidden columns
  projects/angular/src/data/datagrid/enums/column-changes.enum.ts
  projects/angular/src/data/datagrid/render/main-renderer.ts
Labels: cla-not-required, type:fix, auto-backport-to-16.x

#1421 fix(a11y): timeline steps should have a list structure
  projects/angular/src/timeline/timeline-step.ts
  projects/angular/src/timeline/timeline.ts
Labels: cla-not-required

#1425 fix(datagrid): remove cell input focus by `tab` key
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid-action-overflow.ts
  projects/angular/src/data/datagrid/datagrid-row.html
  projects/angular/src/data/datagrid/datagrid.html
  projects/angular/src/data/datagrid/datagrid.ts
Labels: cla-not-required, auto-backport-to-16.x

#1420 fix(datagrid): hide sticky columns for loading more items row
  projects/angular/src/data/datagrid/_datagrid.clarity.scss
  projects/angular/src/data/datagrid/datagrid.html
Labels: cla-not-required, type:fix, auto-backport-to-16.x

#1430 fix(datagrid): hide sticky columns for loading more items row (#1420)
  projects/angular/src/data/datagrid/_datagrid.clarity.scss
  projects/angular/src/data/datagrid/datagrid.html
Labels: cla-not-required, type:fix

#1427 fix(datagrid): retain focus on closing detail
  projects/angular/src/data/datagrid/_datagrid.clarity.scss
  projects/angular/src/data/datagrid/providers/detail.service.ts
Labels: cla-not-required, type:fix, auto-backport-to-16.x

#1399 fix(a11y): datagrid filter button aria-label fix
  projects/angular/src/data/datagrid/datagrid-filter.spec.ts
  projects/angular/src/data/datagrid/datagrid-filter.ts
  projects/angular/src/utils/i18n/common-strings.default.ts
Labels: cla-not-required

#1431 fix(datagrid): virtual scroll load extra page for details
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid-detail-header.ts
  projects/angular/src/data/datagrid/datagrid-detail.ts
  projects/angular/src/data/datagrid/datagrid-virtual-scroll.directive.ts
  projects/angular/src/data/datagrid/datagrid.spec.ts
  projects/angular/src/data/datagrid/datagrid.ts
  projects/angular/src/data/datagrid/providers/detail.service.ts
  projects/angular/src/data/datagrid/utils/key-navigation-grid.controller.ts
  projects/demo/src/app/datagrid/virtual-scroll-client-side/virtual-scroll-client-side.html
  projects/demo/src/app/datagrid/virtual-scroll-client-side/virtual-scroll-client-side.ts
Labels: cla-not-required, auto-backport-to-16.x

#1437 chore(datagrid): remove unused change detector from details
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid-detail.ts
Labels: cla-not-required, type:chore

#1436 fix(datagrid): virtual scroll load extra page for details (backport to 16.x)
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid-detail-header.ts
  projects/angular/src/data/datagrid/datagrid-detail.ts
  projects/angular/src/data/datagrid/datagrid-virtual-scroll.directive.ts
  projects/angular/src/data/datagrid/datagrid.ts
  projects/angular/src/data/datagrid/providers/detail.service.ts
  projects/angular/src/data/datagrid/utils/key-navigation-grid.controller.ts
  projects/demo/src/app/datagrid/virtual-scroll-client-side/virtual-scroll-client-side.html
  projects/demo/src/app/datagrid/virtual-scroll-client-side/virtual-scroll-client-side.ts
Labels: cla-not-required, type:fix, v16

#1433 chore: use `async`/`await` instead of `.then`
  projects/angular/src/forms/combobox/combobox.spec.ts
  projects/angular/src/forms/datepicker/date-container.spec.ts
  projects/angular/src/forms/datepicker/date-input.spec.ts
  projects/angular/src/forms/tests/container.spec.ts
  projects/angular/src/layout/vertical-nav/vertical-nav-group.spec.ts
  projects/demo/src/app/datagrid/full/full.ts
  projects/demo/src/app/datagrid/preserve-selection/preserve-selection.ts
  projects/demo/src/app/datagrid/selection-single/selection-single.ts
  projects/demo/src/app/datagrid/selection/selection.ts
  projects/demo/src/app/datagrid/server-driven/server-driven.ts
  projects/demo/src/app/datagrid/virtual-scroll-server-side/virtual-scroll-server-side.ts
Labels: cla-not-required, type:chore, auto-backport-to-16.x

#1428 fix(datagrid): previously hidden columns visible after detail close
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid.ts
  projects/angular/src/data/datagrid/enums/column-changes.enum.ts
  projects/angular/src/data/datagrid/providers/columns.service.ts
  projects/angular/src/data/datagrid/render/cell-renderer.ts
  projects/angular/src/data/datagrid/render/main-renderer.ts
Labels: cla-not-required, type:fix, auto-backport-to-16.x

#1442 fix(datagrid): keep filter focus on row changes
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid-filter.spec.ts
  projects/angular/src/data/datagrid/datagrid-filter.ts
  projects/angular/src/data/datagrid/utils/key-navigation-grid.controller.ts
Labels: cla-not-required

#1417 fix(alert): remove space between action dropdown trigger and popup menu
  .storybook/helpers/common.ts
  .storybook/stories/alert/standard-alert.stories.ts
  projects/angular/src/emphasis/alert/_alert.clarity.scss
  tests/screenshot-options.ts
  tests/snapshots/chromium/alert/standard-alerts--with-actions-core-dark.png
  tests/snapshots/chromium/alert/standard-alerts--with-actions-core-light.png
  tests/snapshots/chromium/alert/standard-alerts--with-long-content-and-open-actions-dropdown-core-dark.png
  tests/snapshots/chromium/alert/standard-alerts--with-long-content-and-open-actions-dropdown-core-light.png
  tests/snapshots/chromium/alert/standard-alerts--with-open-actions-dropdown-core-dark.png
  tests/snapshots/chromium/alert/standard-alerts--with-open-actions-dropdown-core-light.png
  tests/snapshots/firefox/alert/standard-alerts--with-actions-core-dark.png
  tests/snapshots/firefox/alert/standard-alerts--with-actions-core-light.png
  tests/snapshots/firefox/alert/standard-alerts--with-long-content-and-open-actions-dropdown-core-dark.png
  tests/snapshots/firefox/alert/standard-alerts--with-long-content-and-open-actions-dropdown-core-light.png
  tests/snapshots/firefox/alert/standard-alerts--with-open-actions-dropdown-core-dark.png
  tests/snapshots/firefox/alert/standard-alerts--with-open-actions-dropdown-core-light.png
Labels: cla-not-required, type:fix

#1445 fix(alert): make neutral app-level alert action buttons visible
  .storybook/stories/alert/app-level-alert.stories.ts
  projects/angular/src/emphasis/alert/_alert.clarity.scss
  tests/snapshots/chromium/alert/app-level-alerts--with-actions-core-dark.png
  tests/snapshots/chromium/alert/app-level-alerts--with-actions-core-light.png
  tests/snapshots/firefox/alert/app-level-alerts--with-actions-core-dark.png
  tests/snapshots/firefox/alert/app-level-alerts--with-actions-core-light.png
Labels: cla-not-required

#1446 fix(datagrid): use proxy for detail context change
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid-if-detail.ts
Labels: cla-not-required

#1325 fix(forms): add error id in aria-describedby on first blur
  projects/angular/src/forms/common/abstract-container.ts
Labels: cla-not-required, type:fix, auto-backport-to-16.x

#1448 fix(select): use correct token for disabled border on hover
  projects/angular/src/forms/styles/_properties.forms.scss
Labels: cla-not-required

#1449 fix(select): use correct token for disabled border on hover (backport…
  projects/ui/src/shim.cds-core.scss
Labels: cla-not-required

#1450 chore(datagrid): remove missed console log
  projects/angular/src/data/datagrid/datagrid-if-detail.ts
Labels: cla-not-required

#1454 fix(dropdown): add negative offset to item focus outline
  projects/angular/src/popover/dropdown/_dropdown.clarity.scss
Labels: cla-not-required, type:fix

#1451 chore(datagrid): add datagrid detail tests in "all" file
  projects/angular/src/data/datagrid/all.spec.ts
  projects/angular/src/data/datagrid/datagrid-detail.spec.ts
Labels: cla-not-required

#1405 fix(a11y): datagrid detail pane has role dialog with no aria label
  .storybook/stories/datagrid/datagrid-detail.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid-detail.spec.ts
  projects/angular/src/data/datagrid/datagrid-detail.ts
Labels: cla-not-required

#1456 fix(datagrid): detail button icon compact size and default color
  projects/angular/src/data/datagrid/_datagrid.clarity.scss
  projects/demo/src/app/datagrid/virtual-scroll-client-side/virtual-scroll-client-side.html
  tests/snapshots/chromium/datagrid/virtual-scroll-details--full-compact-core-dark.png
  tests/snapshots/chromium/datagrid/virtual-scroll-details--full-compact-core-light.png
  tests/snapshots/firefox/datagrid/virtual-scroll-details--full-compact-core-dark.png
  tests/snapshots/firefox/datagrid/virtual-scroll-details--full-compact-core-light.png
Labels: cla-not-required

#1455 fix(a11y): vertical nav - remove incorrect usage of links at top level for the vertical nav story
  .storybook/stories/vertical-nav/vertical-nav-routing.stories.ts
  tests/snapshots/chromium/vertical-nav/vertical-nav-routing--nav-with-routing-core-dark.png
  tests/snapshots/chromium/vertical-nav/vertical-nav-routing--nav-with-routing-core-light.png
  tests/snapshots/chromium/vertical-nav/vertical-nav-routing--showcase-core-dark.png
  tests/snapshots/chromium/vertical-nav/vertical-nav-routing--showcase-core-light.png
  tests/snapshots/firefox/vertical-nav/vertical-nav-routing--nav-with-routing-core-dark.png
  tests/snapshots/firefox/vertical-nav/vertical-nav-routing--nav-with-routing-core-light.png
  tests/snapshots/firefox/vertical-nav/vertical-nav-routing--showcase-core-dark.png
  tests/snapshots/firefox/vertical-nav/vertical-nav-routing--showcase-core-light.png
Labels: cla-not-required

#1452 fix(datagrid): detach cached rows on column state change
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid-virtual-scroll.directive.ts
  projects/demo/src/app/datagrid/virtual-scroll-client-side/virtual-scroll-client-side.html
Labels: cla-not-required, type:fix, auto-backport-to-16.x

#1462 fix: revert sidepanel z-index variables
  projects/angular/src/layout/nav/_variables.responsive-nav.scss
  projects/angular/src/utils/variables/_variables.global.scss
  projects/demo/src/styles.scss
Labels: cla-not-required

#1465 fix(stepper): set panel validation after input touched
  projects/angular/src/accordion/stepper/stepper-panel.ts
  projects/angular/src/accordion/stepper/stepper.spec.ts
  projects/demo/src/app/stepper/stepper.demo.html
  projects/demo/src/app/stepper/stepper.demo.ts
Labels: cla-not-required

#1464 chore(popover): remove undefined `is-inverse` css class from readme
  projects/angular/src/utils/popover/README.md
Labels: cla-not-required
