Repository vmware-clarity/ng-clarity, pull requests merged in 2024-09, with the labels that each got.

#1539 Drop cds-internal-close-button dependency from responsive nav
  projects/angular/clarity.api.md
  projects/angular/src/layout/nav/_responsive-nav.clarity.scss
  projects/angular/src/layout/nav/nav-level.spec.ts
  projects/angular/src/layout/nav/nav-level.ts
Labels: cla-not-required

#1541 chore: update to uppercase S in readme for BrowserStack
  README.md
Labels: cla-not-required

#1524 fix(accordion,stepper): adjust panel title width to align panel descriptions
  .storybook/stories/accordion/accordion.stories.ts
  .storybook/stories/stepper/stepper.stories.ts
  projects/angular/src/accordion/_accordion.clarity.scss
  tests/snapshots/chromium/accordion/accordion--alignment-test-core-dark.png
  tests/snapshots/chromium/accordion/accordion--alignment-test-core-light.png
  tests/snapshots/chromium/accordion/accordion--with-panel-descriptions-core-dark.png
  tests/snapshots/chromium/accordion/accordion--with-panel-descriptions-core-light.png
  tests/snapshots/chromium/stepper/stepper--stepper-alignment-test-core-dark.png
  tests/snapshots/chromium/stepper/stepper--stepper-alignment-test-core-light.png
  tests/snapshots/chromium/stepper/stepper--stepper-core-dark.png
  tests/snapshots/chromium/stepper/stepper--stepper-core-light.png
  tests/snapshots/firefox/accordion/accordion--alignment-test-core-dark.png
  tests/snapshots/firefox/accordion/accordion--alignment-test-core-light.png
  tests/snapshots/firefox/accordion/accordion--with-panel-descriptions-core-dark.png
  tests/snapshots/firefox/accordion/accordion--with-panel-descriptions-core-light.png
  tests/snapshots/firefox/stepper/stepper--stepper-alignment-test-core-dark.png
  tests/snapshots/firefox/stepper/stepper--stepper-alignment-test-core-light.png
  tests/snapshots/firefox/stepper/stepper--stepper-core-dark.png
  tests/snapshots/firefox/stepper/stepper--stepper-core-light.png
Labels: cla-not-required

#1534 fix(stack-view): align content with label
  projects/angular/src/data/stack-view/_stack-view.clarity.scss
  tests/snapshots/chromium/stack-view/stack-block--stack-view-colapsed-core-dark.png
  tests/snapshots/chromium/stack-view/stack-block--stack-view-colapsed-core-light.png
  tests/snapshots/chromium/stack-view/stack-block--stack-view-core-dark.png
  tests/snapshots/chromium/stack-view/stack-block--stack-view-core-light.png
  tests/snapshots/chromium/stack-view/stack-block--stack-view-expanded-core-dark.png
  tests/snapshots/chromium/stack-view/stack-block--stack-view-expanded-core-light.png
  tests/snapshots/chromium/stack-view/stack-block--stack-view-non-expandable-core-dark.png
  tests/snapshots/chromium/stack-view/stack-block--stack-view-non-expandable-core-light.png
  tests/snapshots/chromium/stack-view/stack-block--stack-view-notify-change-core-dark.png
  tests/snapshots/chromium/stack-view/stack-block--stack-view-notify-change-core-light.png
  tests/snapshots/chromium/stack-view/stack-view--stack-view-core-dark.png
  tests/snapshots/chromium/stack-view/stack-view--stack-view-core-light.png
  tests/snapshots/chromium/stack-view/stack-view--stack-view-showcase-core-dark.png
  tests/snapshots/chromium/stack-view/stack-view--stack-view-showcase-core-light.png
  tests/snapshots/chromium/stack-view/stack-view-editable--stack-view-editable-core-dark.png
  tests/snapshots/chromium/stack-view/stack-view-editable--stack-view-editable-core-light.png
  tests/snapshots/firefox/stack-view/stack-block--stack-view-colapsed-core-dark.png
  tests/snapshots/firefox/stack-view/stack-block--stack-view-colapsed-core-light.png
  tests/snapshots/firefox/stack-view/stack-block--stack-view-core-dark.png
  tests/snapshots/firefox/stack-view/stack-block--stack-view-core-light.png
  tests/snapshots/firefox/stack-view/stack-block--stack-view-expanded-core-dark.png
  tests/snapshots/firefox/stack-view/stack-block--stack-view-expanded-core-light.png
  tests/snapshots/firefox/stack-view/stack-block--stack-view-non-expandable-core-dark.png
  tests/snapshots/firefox/stack-view/stack-block--stack-view-non-expandable-core-light.png
  tests/snapshots/firefox/stack-view/stack-block--stack-view-notify-change-core-dark.png
  tests/snapshots/firefox/stack-view/stack-block--stack-view-notify-change-core-light.png
  tests/snapshots/firefox/stack-view/stack-view--stack-view-core-dark.png
  tests/snapshots/firefox/stack-view/stack-view--stack-view-core-light.png
  tests/snapshots/firefox/stack-view/stack-view--stack-view-showcase-core-dark.png
  tests/snapshots/firefox/stack-view/stack-view--stack-view-showcase-core-light.png
  tests/snapshots/firefox/stack-view/stack-view-editable--stack-view-editable-core-dark.png
  tests/snapshots/firefox/stack-view/stack-view-editable--stack-view-editable-core-light.png
Labels: cla-not-required, type:fix

#1525 feat(datagrid): disable and hide open detail button
  .storybook/stories/datagrid/datagrid-detail.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/_datagrid.clarity.scss
  projects/angular/src/data/datagrid/datagrid-row.html
  projects/angular/src/data/datagrid/datagrid-row.spec.ts
  projects/angular/src/data/datagrid/datagrid-row.ts
  projects/angular/src/data/datagrid/utils/key-navigation-grid.controller.ts
  projects/demo/src/app/datagrid/detail/detail.html
  projects/demo/src/app/datagrid/detail/detail.ts
  tests/snapshots/chromium/datagrid/detail--disabled-detail-button-core-dark.png
  tests/snapshots/chromium/datagrid/detail--disabled-detail-button-core-light.png
  tests/snapshots/chromium/datagrid/detail--hidden-detail-button-core-dark.png
  tests/snapshots/chromium/datagrid/detail--hidden-detail-button-core-light.png
  tests/snapshots/firefox/datagrid/detail--disabled-detail-button-core-dark.png
  tests/snapshots/firefox/datagrid/detail--disabled-detail-button-core-light.png
  tests/snapshots/firefox/datagrid/detail--hidden-detail-button-core-dark.png
  tests/snapshots/firefox/datagrid/detail--hidden-detail-button-core-light.png
Labels: cla-not-required, type:feat

#1545 fix(datagrid): skip focusing active cell if focus outside component
  projects/angular/src/data/datagrid/datagrid.ts
Labels: cla-not-required

#1540 fix(combobox): stop event propagation on option click
  projects/angular/clarity.api.md
  projects/angular/src/forms/combobox/option.spec.ts
  projects/angular/src/forms/combobox/option.ts
Labels: cla-not-required, type:fix

#1544 Revert "fix(datepicker): a11y - add ability to change year in month view & focus indicator changes"
  projects/angular/clarity.api.md
  projects/angular/src/forms/datepicker/_datepicker.clarity.scss
  projects/angular/src/forms/datepicker/_properties.datepicker.scss
  projects/angular/src/forms/datepicker/_variables.datepicker.scss
  projects/angular/src/forms/datepicker/model/calendar.model.ts
  projects/angular/src/forms/datepicker/monthpicker.spec.ts
  projects/angular/src/forms/datepicker/monthpicker.ts
  projects/angular/src/forms/datepicker/providers/date-navigation.service.ts
  projects/angular/src/forms/datepicker/yearpicker.spec.ts
  projects/angular/src/forms/datepicker/yearpicker.ts
Labels: cla-not-required

#1550 fix(stepper): nested accordion have wrong styling and behaviour
  projects/angular/src/accordion/stepper/_stepper.clarity.scss
  projects/demo/src/app/stepper/stepper.demo.html
Labels: cla-not-required, auto-backport-to-16.x

#1552 chore(ci): clean up netlify deploy commands
  .github/workflows/pr-preview.yml
  .github/workflows/release-preview.yml
  .github/workflows/release.yml
Labels: cla-not-required

#1554 fix(link): set interactions colors on icons inside links
  projects/angular/src/layout/nav/_links.clarity.scss
Labels: cla-not-required

#1556 fix(modal): provide modal config service in root and export
  projects/angular/clarity.api.md
  projects/angular/src/modal/index.ts
  projects/angular/src/modal/modal-configuration.service.ts
  projects/angular/src/modal/modal.module.ts
Labels: cla-not-required, auto-backport-to-16.x

#1557 fix(wizard): improve wizard step status indicator for color-blind users
  projects/angular/src/wizard/_wizard.clarity.scss
  tests/snapshots/chromium/wizard/wizard--full-screen-wizard-core-dark.png
  tests/snapshots/chromium/wizard/wizard--full-screen-wizard-core-light.png
  tests/snapshots/chromium/wizard/wizard--wizard-core-dark.png
  tests/snapshots/chromium/wizard/wizard--wizard-core-light.png
  tests/snapshots/chromium/wizard/wizard-long-titles--wizard-long-titles-core-dark.png
  tests/snapshots/chromium/wizard/wizard-long-titles--wizard-long-titles-core-light.png
  tests/snapshots/chromium/wizard/wizard-page--wizard-page-core-dark.png
  tests/snapshots/chromium/wizard/wizard-page--wizard-page-core-light.png
  tests/snapshots/chromium/wizard/wizard-page--wizard-page-status-indicators-core-dark.png
  tests/snapshots/chromium/wizard/wizard-page--wizard-page-status-indicators-core-light.png
  tests/snapshots/firefox/wizard/wizard--full-screen-wizard-core-dark.png
  tests/snapshots/firefox/wizard/wizard--full-screen-wizard-core-light.png
  tests/snapshots/firefox/wizard/wizard--wizard-core-dark.png
  tests/snapshots/firefox/wizard/wizard--wizard-core-light.png
  tests/snapshots/firefox/wizard/wizard-long-titles--wizard-long-titles-core-dark.png
  tests/snapshots/firefox/wizard/wizard-long-titles--wizard-long-titles-core-light.png
  tests/snapshots/firefox/wizard/wizard-page--wizard-page-core-dark.png
  tests/snapshots/firefox/wizard/wizard-page--wizard-page-core-light.png
  tests/snapshots/firefox/wizard/wizard-page--wizard-page-status-indicators-core-dark.png
  tests/snapshots/firefox/wizard/wizard-page--wizard-page-status-indicators-core-light.png
Labels: cla-not-required, type:fix

#1561 fix(datagrid): update detail state on initialization (backport to 16.x)
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid.spec.ts
  projects/angular/src/data/datagrid/datagrid.ts
Labels: cla-not-required

#1568 fix(header): title font family
  projects/angular/src/layout/main-container/_properties.header.scss
  tests/snapshots/chromium/header/header--header-core-dark.png
  tests/snapshots/chromium/header/header--header-core-light.png
  tests/snapshots/chromium/header/header-colors--header-colors-core-dark.png
  tests/snapshots/chromium/header/header-colors--header-colors-core-light.png
  tests/snapshots/chromium/header/header-colors--showcase-core-dark.png
  tests/snapshots/chromium/header/header-colors--showcase-core-light.png
  tests/snapshots/chromium/header/headers-collapsed--header-collapsed-core-dark.png
  tests/snapshots/chromium/header/headers-collapsed--header-collapsed-core-light.png
  tests/snapshots/chromium/header/headers-static--header-static-core-dark.png
  tests/snapshots/chromium/header/headers-static--header-static-core-light.png
  tests/snapshots/firefox/header/header--header-core-dark.png
  tests/snapshots/firefox/header/header--header-core-light.png
  tests/snapshots/firefox/header/header-colors--header-colors-core-dark.png
  tests/snapshots/firefox/header/header-colors--header-colors-core-light.png
  tests/snapshots/firefox/header/header-colors--showcase-core-dark.png
  tests/snapshots/firefox/header/header-colors--showcase-core-light.png
  tests/snapshots/firefox/header/headers-collapsed--header-collapsed-core-dark.png
  tests/snapshots/firefox/header/headers-collapsed--header-collapsed-core-light.png
  tests/snapshots/firefox/header/headers-static--header-static-core-dark.png
  tests/snapshots/firefox/header/headers-static--header-static-core-light.png
Labels: cla-not-required, type:fix

#1570 chore: specify element type when using `ElementRef` (take two)
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/providers/table-size.service.spec.ts
  projects/angular/src/data/datagrid/providers/table-size.service.ts
  projects/angular/src/emphasis/alert/alert.ts
  projects/angular/src/forms/combobox/combobox-container.ts
  projects/angular/src/forms/common/control.ts
  projects/angular/src/forms/common/label.ts
  projects/angular/src/forms/common/wrapped-control.spec.ts
  projects/angular/src/forms/common/wrapped-control.ts
  projects/angular/src/forms/datepicker/calendar.ts
  projects/angular/src/forms/datepicker/date-container.ts
  projects/angular/src/forms/datepicker/providers/datepicker-focus.service.spec.ts
  projects/angular/src/forms/datepicker/providers/datepicker-focus.service.ts
  projects/angular/src/forms/input/input.ts
  projects/angular/src/forms/radio/radio.ts
  projects/angular/src/forms/range/range.ts
  projects/angular/src/forms/select/select.ts
  projects/angular/src/forms/textarea/textarea.ts
  projects/angular/src/layout/main-container/main-container.ts
  projects/angular/src/layout/tabs/tabs.ts
  projects/angular/src/popover/common/abstract-popover.spec.ts
  projects/angular/src/popover/common/abstract-popover.ts
  projects/angular/src/utils/focus/key-focus/key-focus.ts
  projects/angular/src/utils/popover/popover-anchor.ts
  projects/angular/src/utils/popover/providers/popover-events.service.spec.ts
Labels: type:chore

#1563 fix(tree-view): add aria multiselectable attribute when needed
  projects/angular/clarity.api.md
  projects/angular/src/data/tree-view/tree.spec.ts
  projects/angular/src/data/tree-view/tree.ts
Labels: cla-not-required, type:fix, auto-backport-to-16.x
