Repository vmware-clarity/ng-clarity, pull requests merged in 2024-04, with the labels that each got.

#1316 fix(combobox): enable screen readers to announce "no results" properly
  projects/angular/clarity.api.md
  projects/angular/src/forms/combobox/combobox.ts
  projects/angular/src/forms/combobox/options.ts
Labels: cla-not-required, auto-backport-to-16.x

#1334 fix(a11y): stepper-completed step does not have accessible notification after completion
  projects/angular/clarity.api.md
  projects/angular/src/accordion/accordion-panel.html
  projects/angular/src/accordion/accordion-panel.ts
  projects/angular/src/accordion/stepper/stepper-panel.spec.ts
  projects/angular/src/utils/i18n/common-strings.default.ts
  projects/angular/src/utils/i18n/common-strings.interface.ts
Labels: cla-not-required, a11y, auto-backport-to-15.x, auto-backport-to-16.x

#1348 fix(a11y): stepper-completed step does not have accessible notification after completion (#1334)
  projects/angular/clarity.api.md
  projects/angular/src/accordion/accordion-panel.html
  projects/angular/src/accordion/accordion-panel.ts
  projects/angular/src/accordion/stepper/stepper-panel.spec.ts
  projects/angular/src/utils/i18n/common-strings.default.ts
  projects/angular/src/utils/i18n/common-strings.interface.ts
Labels: cla-not-required

#1349 fix(a11y): screen reader does not announce label for radio group
  projects/angular/clarity.api.md
  projects/angular/src/forms/radio/radio-container.ts
Labels: cla-not-required, auto-backport-to-16.x

#1200 feat(tree-view): add ability to disable nodes
  .storybook/helpers/files.data.ts
  .storybook/stories/tree/tree-node.stories.ts
  .storybook/stories/tree/tree.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/data/tree-view/_tree-view.clarity.scss
  projects/angular/src/data/tree-view/models/tree-node.model.spec.ts
  projects/angular/src/data/tree-view/models/tree-node.model.ts
  projects/angular/src/data/tree-view/tree-focus-manager.service.spec.ts
  projects/angular/src/data/tree-view/tree-node.html
  projects/angular/src/data/tree-view/tree-node.spec.ts
  projects/angular/src/data/tree-view/tree-node.ts
  projects/demo/src/app/tree-view/eager-declarative-tree/eager-declarative-tree.html
  tests/snapshots/chromium/tree/tree--tree-view-as-link-core-dark.png
  tests/snapshots/chromium/tree/tree--tree-view-as-link-core-light.png
  tests/snapshots/chromium/tree/tree--tree-view-core-dark.png
  tests/snapshots/chromium/tree/tree--tree-view-core-light.png
  tests/snapshots/chromium/tree/tree--tree-view-has-icon-core-dark.png
  tests/snapshots/chromium/tree/tree--tree-view-has-icon-core-light.png
  tests/snapshots/chromium/tree/tree-node--checkbox-indeterminate-core-dark.png
  tests/snapshots/chromium/tree/tree-node--checkbox-indeterminate-core-light.png
  tests/snapshots/chromium/tree/tree-node--checkbox-selected-core-dark.png
  tests/snapshots/chromium/tree/tree-node--checkbox-selected-core-light.png
  tests/snapshots/chromium/tree/tree-node--checkbox-unselected-core-dark.png
  tests/snapshots/chromium/tree/tree-node--checkbox-unselected-core-light.png
  tests/snapshots/chromium/tree/tree-node--tree-node-core-dark.png
  tests/snapshots/chromium/tree/tree-node--tree-node-core-light.png
  tests/snapshots/chromium/tree/tree-node--tree-node-showcase-core-dark.png
  tests/snapshots/chromium/tree/tree-node--tree-node-showcase-core-light.png
  tests/snapshots/firefox/tree/tree--tree-view-as-link-core-dark.png
  tests/snapshots/firefox/tree/tree--tree-view-as-link-core-light.png
  tests/snapshots/firefox/tree/tree--tree-view-core-dark.png
  tests/snapshots/firefox/tree/tree--tree-view-core-light.png
  tests/snapshots/firefox/tree/tree--tree-view-has-icon-core-dark.png
  tests/snapshots/firefox/tree/tree--tree-view-has-icon-core-light.png
  tests/snapshots/firefox/tree/tree-node--checkbox-indeterminate-core-dark.png
  tests/snapshots/firefox/tree/tree-node--checkbox-indeterminate-core-light.png
  tests/snapshots/firefox/tree/tree-node--checkbox-selected-core-dark.png
  tests/snapshots/firefox/tree/tree-node--checkbox-selected-core-light.png
  tests/snapshots/firefox/tree/tree-node--checkbox-unselected-core-dark.png
  tests/snapshots/firefox/tree/tree-node--checkbox-unselected-core-light.png
  tests/snapshots/firefox/tree/tree-node--tree-node-core-dark.png
  tests/snapshots/firefox/tree/tree-node--tree-node-core-light.png
  tests/snapshots/firefox/tree/tree-node--tree-node-showcase-core-dark.png
  tests/snapshots/firefox/tree/tree-node--tree-node-showcase-core-light.png
Labels: cla-not-required, type:feat

#1337 feat(modal, wizard): add `full-screen` size option
  .storybook/stories/modal/modal-static.stories.ts
  .storybook/stories/modal/modal.stories.ts
  .storybook/stories/wizard/wizard.stories.ts
  projects/angular/src/modal/_modal.clarity.scss
  projects/angular/src/modal/modal.html
  projects/angular/src/modal/modal.spec.ts
  projects/demo/src/app/modal/modal-angular-show.demo.html
  projects/demo/src/app/modal/modal-angular-show.ts
  projects/demo/src/app/wizard/wizard-basic.demo.html
  projects/demo/src/app/wizard/wizard-basic.demo.ts
  tests/screenshot-options.ts
  tests/snapshots/chromium/modal/modal--open-full-screen-modal-core-dark.png
  tests/snapshots/chromium/modal/modal--open-full-screen-modal-core-light.png
  tests/snapshots/chromium/modal/static--full-screen-modal-core-dark.png
  tests/snapshots/chromium/modal/static--full-screen-modal-core-light.png
  tests/snapshots/chromium/wizard/wizard--full-screen-wizard-core-dark.png
  tests/snapshots/chromium/wizard/wizard--full-screen-wizard-core-light.png
  tests/snapshots/firefox/modal/modal--open-full-screen-modal-core-dark.png
  tests/snapshots/firefox/modal/modal--open-full-screen-modal-core-light.png
  tests/snapshots/firefox/modal/static--full-screen-modal-core-dark.png
  tests/snapshots/firefox/modal/static--full-screen-modal-core-light.png
  tests/snapshots/firefox/wizard/wizard--full-screen-wizard-core-dark.png
  tests/snapshots/firefox/wizard/wizard--full-screen-wizard-core-light.png
Labels: cla-not-required

#1352 feat(modal, wizard): add `full-screen` size option
  .storybook/stories/modal/modal-static.stories.ts
  .storybook/stories/modal/modal.stories.ts
  .storybook/stories/wizard/wizard.stories.ts
  projects/angular/src/modal/_modal.clarity.scss
  projects/angular/src/modal/modal.html
  projects/angular/src/modal/modal.spec.ts
  projects/demo/src/app/modal/modal-angular-show.demo.html
  projects/demo/src/app/modal/modal-angular-show.ts
  projects/demo/src/app/wizard/wizard-basic.demo.html
  projects/demo/src/app/wizard/wizard-basic.demo.ts
  tests/snapshots/chromium/modal/static--variants-core-dark.png
  tests/snapshots/chromium/modal/static--variants-core-light.png
  tests/snapshots/chromium/modal/static--variants-ng-dark.png
  tests/snapshots/chromium/modal/static--variants-ng-light.png
  tests/snapshots/firefox/modal/static--variants-core-dark.png
  tests/snapshots/firefox/modal/static--variants-core-light.png
  tests/snapshots/firefox/modal/static--variants-ng-dark.png
  tests/snapshots/firefox/modal/static--variants-ng-light.png
Labels: cla-not-required

#1355 chore(wizard): remove leftover title focus outlines from screenshots
  .storybook/stories/wizard/wizard-long-titles.stories.ts
  .storybook/stories/wizard/wizard-page.stories.ts
  .storybook/stories/wizard/wizard.stories.ts
  tests/snapshots/chromium/wizard/wizard--full-screen-wizard-core-dark.png
  tests/snapshots/chromium/wizard/wizard--full-screen-wizard-core-light.png
  tests/snapshots/chromium/wizard/wizard-long-titles--wizard-long-titles-core-dark.png
  tests/snapshots/chromium/wizard/wizard-long-titles--wizard-long-titles-core-light.png
  tests/snapshots/chromium/wizard/wizard-page--wizard-page-core-dark.png
  tests/snapshots/chromium/wizard/wizard-page--wizard-page-core-light.png
  tests/snapshots/firefox/wizard/wizard--full-screen-wizard-core-dark.png
  tests/snapshots/firefox/wizard/wizard--full-screen-wizard-core-light.png
  tests/snapshots/firefox/wizard/wizard-long-titles--wizard-long-titles-core-dark.png
  tests/snapshots/firefox/wizard/wizard-long-titles--wizard-long-titles-core-light.png
  tests/snapshots/firefox/wizard/wizard-page--wizard-page-core-dark.png
  tests/snapshots/firefox/wizard/wizard-page--wizard-page-core-light.png
Labels: cla-not-required

#1356 chore(storybook): move default values from `argTypes` to `args`
  .storybook/stories/accordion/accordion.stories.ts
  .storybook/stories/alert/app-level-alert.stories.ts
  .storybook/stories/alert/standard-alert.stories.ts
  .storybook/stories/button/button-group.stories.ts
  .storybook/stories/button/button.stories.ts
  .storybook/stories/card/card.stories.ts
  .storybook/stories/checkbox-toggle/checkbox-toggle-container.stories.ts
  .storybook/stories/checkbox-toggle/checkbox-toggle.stories.ts
  .storybook/stories/combobox/combobox.stories.ts
  .storybook/stories/datagrid/datagrid-action-overflow.stories.ts
  .storybook/stories/datagrid/datagrid-column.stories.ts
  .storybook/stories/datagrid/datagrid-expandable-row.stories.ts
  .storybook/stories/datagrid/datagrid-page-size.stories.ts
  .storybook/stories/datagrid/datagrid-pagination.stories.ts
  .storybook/stories/datagrid/datagrid-row.stories.ts
  .storybook/stories/datagrid/datagrid.stories.ts
  .storybook/stories/datepicker/date-container.stories.ts
  .storybook/stories/datepicker/datepicker.stories.ts
  .storybook/stories/dropdown/dropdown-item-that-opens-modal.stories.ts
  .storybook/stories/dropdown/dropdown-menu.stories.ts
  .storybook/stories/dropdown/dropdown.stories.ts
  .storybook/stories/forms/forms-input-states.stories.ts
  .storybook/stories/forms/forms-reactive.stories.ts
  .storybook/stories/forms/forms-required-mark.stories.ts
  .storybook/stories/forms/forms-template-driven.stories.ts
  .storybook/stories/header/header-colors.stories.ts
  .storybook/stories/label/label.stories.ts
  .storybook/stories/modal/modal-static.stories.ts
  .storybook/stories/modal/modal.stories.ts
  .storybook/stories/progress-bar/progress-bar.stories.ts
  .storybook/stories/radio/radio-container.stories.ts
  .storybook/stories/radio/radio.stories.ts
  .storybook/stories/range/range.stories.ts
  .storybook/stories/select/multiple-select.stories.ts
  .storybook/stories/select/select.stories.ts
  .storybook/stories/signpost/signpost.stories.ts
  .storybook/stories/spinner/spinner.stories.ts
  .storybook/stories/stepper/stepper.stories.ts
  .storybook/stories/tabs/tabs.stories.ts
  .storybook/stories/timeline/timeline-step.stories.ts
  .storybook/stories/timeline/timeline.stories.ts
  .storybook/stories/tooltip/tooltip.stories.ts
  .storybook/stories/tree/tree-node.stories.ts
  .storybook/stories/tree/tree.stories.ts
  .storybook/stories/vertical-nav/vertical-nav-group.stories.ts
  .storybook/stories/vertical-nav/vertical-nav-routing.stories.ts
  .storybook/stories/vertical-nav/vertical-nav.stories.ts
  .storybook/stories/wizard/wizard-long-titles.stories.ts
  .storybook/stories/wizard/wizard-page.stories.ts
  .storybook/stories/wizard/wizard.stories.ts
Labels: cla-not-required

#1357 fix(datagrid): align detail caret to top and remove unnecessary checkbox styles
  projects/angular/src/data/datagrid/_datagrid.clarity.scss
  tests/snapshots/chromium/datagrid/detail--detail-core-dark.png
  tests/snapshots/chromium/datagrid/detail--detail-core-light.png
  tests/snapshots/chromium/datagrid/row--multi-selection-core-dark.png
  tests/snapshots/chromium/datagrid/row--multi-selection-core-light.png
  tests/snapshots/firefox/datagrid/detail--detail-core-dark.png
  tests/snapshots/firefox/datagrid/detail--detail-core-light.png
  tests/snapshots/firefox/datagrid/row--multi-selection-core-dark.png
  tests/snapshots/firefox/datagrid/row--multi-selection-core-light.png
Labels: cla-not-required

#1343 chore: update storybook to latest v8
  .storybook/helpers/common.ts
  .storybook/main.js
  .storybook/manager.js
  .storybook/pages/themes.mdx
  .storybook/preview.js
  .storybook/stories/button/button-group.stories.ts
  .storybook/stories/button/button.stories.ts
  .storybook/stories/card/card.stories.ts
  .storybook/stories/checkbox-toggle/checkbox-toggle-container.stories.ts
  .storybook/stories/checkbox-toggle/checkbox-toggle.stories.ts
  .storybook/stories/combobox/combobox.stories.ts
  .storybook/stories/datagrid/datagrid-column.stories.ts
  .storybook/stories/datagrid/datagrid-detail.stories.ts
  .storybook/stories/datagrid/datagrid-expandable-row.stories.ts
  .storybook/stories/datagrid/modal-stacked-on-detail.stories.ts
  .storybook/stories/datepicker/date-container.stories.ts
  .storybook/stories/dropdown/dropdown-item-that-opens-modal.stories.ts
  .storybook/stories/dropdown/dropdown-menu.stories.ts
  .storybook/stories/dropdown/dropdown.stories.ts
  .storybook/stories/forms/forms-reactive.stories.ts
  .storybook/stories/forms/forms-required-mark.stories.ts
  .storybook/stories/forms/forms-template-driven.stories.ts
  .storybook/stories/header/header-colors.stories.ts
  .storybook/stories/home.mdx
  .storybook/stories/label/label.stories.ts
  .storybook/stories/modal/modal-static.stories.ts
  .storybook/stories/modal/modal.stories.ts
  .storybook/stories/progress-bar/progress-bar.stories.ts
  .storybook/stories/signpost/signpost.stories.ts
  .storybook/stories/tabs/tabs.stories.ts
  .storybook/stories/timeline/timeline-step.stories.ts
  .storybook/stories/timeline/timeline.stories.ts
  .storybook/stories/tooltip/tooltip.stories.ts
  .storybook/stories/tree/tree-node.stories.ts
  .storybook/stories/wizard/wizard-long-titles.stories.ts
  .storybook/stories/wizard/wizard-page.stories.ts
  .storybook/stories/wizard/wizard.stories.ts
  angular.json
  package-lock.json
  package.json
  patches/@storybook+angular+6.5.10.patch
  projects/angular/clarity.api.md
  projects/angular/src/utils/cdk/cdk-drag.module.ts
  projects/angular/src/utils/cdk/cdk-trap-focus.module.ts
  projects/angular/src/utils/focus/focus-trap/standalone-cdk-trap-focus.directive.ts
  scripts/write-story-list.ts
  tests/visual-snapshots.spec.ts
Labels: cla-not-required

#1365 fix(combobox): hide scrollbar if not needed
  projects/angular/src/forms/combobox/_combobox.clarity.scss
Labels: cla-not-required

#1366 chore(storybook login): import common modules to allow controls to work
  .storybook/stories/login/login.stories.ts
Labels: cla-not-required, type:fix

#1364 fix(datagrid): align compact select column and add stories
  .storybook/stories/datagrid/datagrid.stories.ts
  projects/angular/src/data/datagrid/_datagrid.clarity.scss
  tests/snapshots/chromium/datagrid/datagrid--compact-core-dark.png
  tests/snapshots/chromium/datagrid/datagrid--compact-core-light.png
  tests/snapshots/chromium/datagrid/datagrid--compact-multi-select-core-dark.png
  tests/snapshots/chromium/datagrid/datagrid--compact-multi-select-core-light.png
  tests/snapshots/chromium/datagrid/datagrid--compact-multi-select-with-selection-core-dark.png
  tests/snapshots/chromium/datagrid/datagrid--compact-multi-select-with-selection-core-light.png
  tests/snapshots/chromium/datagrid/datagrid--compact-single-select-core-dark.png
  tests/snapshots/chromium/datagrid/datagrid--compact-single-select-core-light.png
  tests/snapshots/chromium/datagrid/datagrid--multi-select-core-dark.png
  tests/snapshots/chromium/datagrid/datagrid--multi-select-core-light.png
  tests/snapshots/chromium/datagrid/datagrid--multi-select-with-selection-core-dark.png
  tests/snapshots/chromium/datagrid/datagrid--multi-select-with-selection-core-light.png
  tests/snapshots/chromium/datagrid/datagrid--single-select-core-dark.png
  tests/snapshots/chromium/datagrid/datagrid--single-select-core-light.png
  tests/snapshots/firefox/datagrid/datagrid--compact-core-dark.png
  tests/snapshots/firefox/datagrid/datagrid--compact-core-light.png
  tests/snapshots/firefox/datagrid/datagrid--compact-multi-select-core-dark.png
  tests/snapshots/firefox/datagrid/datagrid--compact-multi-select-core-light.png
  tests/snapshots/firefox/datagrid/datagrid--compact-multi-select-with-selection-core-dark.png
  tests/snapshots/firefox/datagrid/datagrid--compact-multi-select-with-selection-core-light.png
  tests/snapshots/firefox/datagrid/datagrid--compact-single-select-core-dark.png
  tests/snapshots/firefox/datagrid/datagrid--compact-single-select-core-light.png
  tests/snapshots/firefox/datagrid/datagrid--multi-select-core-dark.png
  tests/snapshots/firefox/datagrid/datagrid--multi-select-core-light.png
  tests/snapshots/firefox/datagrid/datagrid--multi-select-with-selection-core-dark.png
  tests/snapshots/firefox/datagrid/datagrid--multi-select-with-selection-core-light.png
  tests/snapshots/firefox/datagrid/datagrid--single-select-core-dark.png
  tests/snapshots/firefox/datagrid/datagrid--single-select-core-light.png
Labels: cla-not-required

#1360 fix(a11y): radio group label is not announced by screen readers
  projects/angular/clarity.api.md
  projects/angular/src/forms/radio/radio-container.ts
Labels: cla-not-required, auto-backport-to-16.x

#1375 chore(storybook): add toggle in forms stories
  .storybook/stories/forms/forms-input-states.stories.ts
  .storybook/stories/forms/forms-required-mark.stories.ts
  projects/demo/src/app/forms/layout-angular/layout-angular.html
  tests/snapshots/chromium/forms/input-states--disabled-states-core-dark.png
  tests/snapshots/chromium/forms/input-states--disabled-states-core-light.png
  tests/snapshots/chromium/forms/input-states--error-states-core-dark.png
  tests/snapshots/chromium/forms/input-states--error-states-core-light.png
  tests/snapshots/chromium/forms/input-states--input-states-core-dark.png
  tests/snapshots/chromium/forms/input-states--input-states-core-light.png
  tests/snapshots/chromium/forms/input-states--success-states-core-dark.png
  tests/snapshots/chromium/forms/input-states--success-states-core-light.png
  tests/snapshots/chromium/forms/required-mark--compact-layout-core-dark.png
  tests/snapshots/chromium/forms/required-mark--compact-layout-core-light.png
  tests/snapshots/chromium/forms/required-mark--horizontal-layout-core-dark.png
  tests/snapshots/chromium/forms/required-mark--horizontal-layout-core-light.png
  tests/snapshots/chromium/forms/required-mark--vertical-layout-core-dark.png
  tests/snapshots/chromium/forms/required-mark--vertical-layout-core-light.png
  tests/snapshots/firefox/forms/input-states--disabled-states-core-dark.png
  tests/snapshots/firefox/forms/input-states--disabled-states-core-light.png
  tests/snapshots/firefox/forms/input-states--error-states-core-dark.png
  tests/snapshots/firefox/forms/input-states--error-states-core-light.png
  tests/snapshots/firefox/forms/input-states--input-states-core-dark.png
  tests/snapshots/firefox/forms/input-states--input-states-core-light.png
  tests/snapshots/firefox/forms/input-states--success-states-core-dark.png
  tests/snapshots/firefox/forms/input-states--success-states-core-light.png
  tests/snapshots/firefox/forms/required-mark--compact-layout-core-dark.png
  tests/snapshots/firefox/forms/required-mark--compact-layout-core-light.png
  tests/snapshots/firefox/forms/required-mark--horizontal-layout-core-dark.png
  tests/snapshots/firefox/forms/required-mark--horizontal-layout-core-light.png
  tests/snapshots/firefox/forms/required-mark--vertical-layout-core-dark.png
  tests/snapshots/firefox/forms/required-mark--vertical-layout-core-light.png
Labels: cla-not-required
