Repository vmware-clarity/ng-clarity, pull requests merged in 2024-07, with the labels that each got.

#1467 fix(datagrid): use outline token for cell focus
  projects/angular/src/data/datagrid/_datagrid.clarity.scss
Labels: cla-not-required, auto-backport-to-16.x

#1457 feat(grid): add container class and tokens
  projects/angular/src/layout/grid/STYLES.md
  projects/angular/src/layout/grid/grid/_grid.scss
  projects/angular/src/layout/grid/mixins/_grid-framework.scss
  projects/angular/src/layout/grid/mixins/_grid.scss
  projects/angular/src/utils/variables/_properties.layout.scss
  projects/angular/src/utils/variables/_properties.scss
  projects/angular/src/utils/variables/_variables.layout.scss
  projects/demo/src/app/grid/grid.demo.module.ts
  projects/demo/src/app/grid/grid.demo.routing.ts
  projects/demo/src/app/grid/grid.demo.scss
  projects/demo/src/app/grid/grid.demo.ts
  projects/demo/src/app/grid/overflow/grid-container.html
  projects/demo/src/app/grid/overflow/grid-container.ts
Labels: cla-not-required

#1472 chore(a11y): add aria menu code structure for static dropdown story
  .storybook/stories/dropdown/dropdown-static.stories.ts
Labels: cla-not-required

#1470 fix(select): disable state color for single option
  .storybook/stories/select/multiple-select.stories.ts
  .storybook/stories/select/select.stories.ts
  projects/angular/src/forms/select/STYLES.md
  projects/angular/src/forms/styles/_properties.forms.scss
  projects/angular/src/forms/styles/_select.clarity.scss
  projects/angular/src/forms/styles/_variables.forms.scss
  tests/snapshots/chromium/select/multiple-select--multiple-select-core-dark.png
  tests/snapshots/chromium/select/multiple-select--multiple-select-core-light.png
  tests/snapshots/chromium/select/multiple-select--multiple-select-with-selected-option-core-dark.png
  tests/snapshots/chromium/select/multiple-select--multiple-select-with-selected-option-core-light.png
  tests/snapshots/chromium/select/multiple-select--multiple-select-with-selected-options-core-dark.png
  tests/snapshots/chromium/select/multiple-select--multiple-select-with-selected-options-core-light.png
  tests/snapshots/firefox/select/multiple-select--multiple-select-core-dark.png
  tests/snapshots/firefox/select/multiple-select--multiple-select-core-light.png
  tests/snapshots/firefox/select/multiple-select--multiple-select-with-selected-option-core-dark.png
  tests/snapshots/firefox/select/multiple-select--multiple-select-with-selected-option-core-light.png
  tests/snapshots/firefox/select/multiple-select--multiple-select-with-selected-options-core-dark.png
  tests/snapshots/firefox/select/multiple-select--multiple-select-with-selected-options-core-light.png
Labels: cla-not-required, auto-backport-to-16.x

#1473 fix(wizard): dynamic initialization with prevented navigation
  projects/angular/src/wizard/test-components/dynamic-empty-wizard.mock.ts
  projects/angular/src/wizard/wizard.html
  projects/angular/src/wizard/wizard.spec.ts
Labels: cla-not-required

#1369 fix(accordion): style only parent header
  projects/angular/src/accordion/_accordion.clarity.scss
  projects/angular/src/accordion/stepper/_stepper.clarity.scss
  projects/demo/src/app/stepper/stepper.demo.html
  projects/demo/src/app/stepper/stepper.demo.ts
Labels: cla-not-required, auto-backport-to-16.x

#1481 fix(file-input): prevent wrapping clear button to next line
  .storybook/stories/file-input/file-input.stories.ts
  projects/angular/src/forms/styles/_file-input.clarity.scss
  scripts/format-story-templates.js
  tests/snapshots/chromium/file-input/file-input--compact-file-input-with-selection-core-dark.png
  tests/snapshots/chromium/file-input/file-input--compact-file-input-with-selection-core-light.png
  tests/snapshots/chromium/file-input/file-input--horizontal-file-input-selection-core-dark.png
  tests/snapshots/chromium/file-input/file-input--horizontal-file-input-selection-core-light.png
  tests/snapshots/chromium/file-input/file-input--vertical-file-input-with-selection-core-dark.png
  tests/snapshots/chromium/file-input/file-input--vertical-file-input-with-selection-core-light.png
  tests/snapshots/chromium/file-input/file-input--vertical-file-input-with-selection-in-constrained-container-core-dark.png
  tests/snapshots/chromium/file-input/file-input--vertical-file-input-with-selection-in-constrained-container-core-light.png
  tests/snapshots/firefox/file-input/file-input--compact-file-input-with-selection-core-dark.png
  tests/snapshots/firefox/file-input/file-input--compact-file-input-with-selection-core-light.png
  tests/snapshots/firefox/file-input/file-input--horizontal-file-input-selection-core-dark.png
  tests/snapshots/firefox/file-input/file-input--horizontal-file-input-selection-core-light.png
  tests/snapshots/firefox/file-input/file-input--vertical-file-input-with-selection-core-dark.png
  tests/snapshots/firefox/file-input/file-input--vertical-file-input-with-selection-core-light.png
  tests/snapshots/firefox/file-input/file-input--vertical-file-input-with-selection-in-constrained-container-core-dark.png
  tests/snapshots/firefox/file-input/file-input--vertical-file-input-with-selection-in-constrained-container-core-light.png
Labels: cla-not-required, auto-backport-to-16.x

#1483 fix(file-input): prevent wrapping clear button to next line (backport to 16.x)
  .storybook/stories/file-input/file-input.stories.ts
  projects/angular/src/forms/styles/_file-input.clarity.scss
  tests/snapshots/chromium/file-input/file-input--compact-file-input-ng-dark.png
  tests/snapshots/chromium/file-input/file-input--compact-file-input-ng-light.png
  tests/snapshots/chromium/file-input/file-input--compact-file-input-with-selection-core-dark.png
  tests/snapshots/chromium/file-input/file-input--compact-file-input-with-selection-core-light.png
  tests/snapshots/chromium/file-input/file-input--compact-file-input-with-selection-ng-dark.png
  tests/snapshots/chromium/file-input/file-input--compact-file-input-with-selection-ng-light.png
  tests/snapshots/chromium/file-input/file-input--horizontal-file-input-ng-dark.png
  tests/snapshots/chromium/file-input/file-input--horizontal-file-input-ng-light.png
  tests/snapshots/chromium/file-input/file-input--horizontal-file-input-selection-core-dark.png
  tests/snapshots/chromium/file-input/file-input--horizontal-file-input-selection-core-light.png
  tests/snapshots/chromium/file-input/file-input--horizontal-file-input-selection-ng-dark.png
  tests/snapshots/chromium/file-input/file-input--horizontal-file-input-selection-ng-light.png
  tests/snapshots/chromium/file-input/file-input--vertical-file-input-ng-dark.png
  tests/snapshots/chromium/file-input/file-input--vertical-file-input-ng-light.png
  tests/snapshots/chromium/file-input/file-input--vertical-file-input-with-selection-core-dark.png
  tests/snapshots/chromium/file-input/file-input--vertical-file-input-with-selection-core-light.png
  tests/snapshots/chromium/file-input/file-input--vertical-file-input-with-selection-in-constrained-container-core-dark.png
  tests/snapshots/chromium/file-input/file-input--vertical-file-input-with-selection-in-constrained-container-core-light.png
  tests/snapshots/chromium/file-input/file-input--vertical-file-input-with-selection-in-constrained-container-ng-dark.png
  tests/snapshots/chromium/file-input/file-input--vertical-file-input-with-selection-in-constrained-container-ng-light.png
  tests/snapshots/chromium/file-input/file-input--vertical-file-input-with-selection-ng-dark.png
  tests/snapshots/chromium/file-input/file-input--vertical-file-input-with-selection-ng-light.png
  tests/snapshots/chromium/file-input/file-input-states--compact-file-input-states-ng-dark.png
  tests/snapshots/chromium/file-input/file-input-states--compact-file-input-states-ng-light.png
  tests/snapshots/chromium/file-input/file-input-states--horizontal-file-input-states-ng-dark.png
  tests/snapshots/chromium/file-input/file-input-states--horizontal-file-input-states-ng-light.png
  tests/snapshots/chromium/file-input/file-input-states--vertical-file-input-states-ng-dark.png
  tests/snapshots/chromium/file-input/file-input-states--vertical-file-input-states-ng-light.png
  tests/snapshots/firefox/file-input/file-input--compact-file-input-ng-dark.png
  tests/snapshots/firefox/file-input/file-input--compact-file-input-ng-light.png
  tests/snapshots/firefox/file-input/file-input--compact-file-input-with-selection-core-dark.png
  tests/snapshots/firefox/file-input/file-input--compact-file-input-with-selection-core-light.png
  tests/snapshots/firefox/file-input/file-input--compact-file-input-with-selection-ng-dark.png
  tests/snapshots/firefox/file-input/file-input--compact-file-input-with-selection-ng-light.png
  tests/snapshots/firefox/file-input/file-input--horizontal-file-input-ng-dark.png
  tests/snapshots/firefox/file-input/file-input--horizontal-file-input-ng-light.png
  tests/snapshots/firefox/file-input/file-input--horizontal-file-input-selection-core-dark.png
  tests/snapshots/firefox/file-input/file-input--horizontal-file-input-selection-core-light.png
  tests/snapshots/firefox/file-input/file-input--horizontal-file-input-selection-ng-dark.png
  tests/snapshots/firefox/file-input/file-input--horizontal-file-input-selection-ng-light.png
  tests/snapshots/firefox/file-input/file-input--vertical-file-input-ng-dark.png
  tests/snapshots/firefox/file-input/file-input--vertical-file-input-ng-light.png
  tests/snapshots/firefox/file-input/file-input--vertical-file-input-with-selection-core-dark.png
  tests/snapshots/firefox/file-input/file-input--vertical-file-input-with-selection-core-light.png
  tests/snapshots/firefox/file-input/file-input--vertical-file-input-with-selection-in-constrained-container-core-dark.png
  tests/snapshots/firefox/file-input/file-input--vertical-file-input-with-selection-in-constrained-container-core-light.png
  tests/snapshots/firefox/file-input/file-input--vertical-file-input-with-selection-in-constrained-container-ng-dark.png
  tests/snapshots/firefox/file-input/file-input--vertical-file-input-with-selection-in-constrained-container-ng-light.png
  tests/snapshots/firefox/file-input/file-input--vertical-file-input-with-selection-ng-dark.png
  tests/snapshots/firefox/file-input/file-input--vertical-file-input-with-selection-ng-light.png
  tests/snapshots/firefox/file-input/file-input-states--compact-file-input-states-ng-dark.png
  tests/snapshots/firefox/file-input/file-input-states--compact-file-input-states-ng-light.png
  tests/snapshots/firefox/file-input/file-input-states--horizontal-file-input-states-ng-dark.png
  tests/snapshots/firefox/file-input/file-input-states--horizontal-file-input-states-ng-light.png
  tests/snapshots/firefox/file-input/file-input-states--vertical-file-input-states-ng-dark.png
  tests/snapshots/firefox/file-input/file-input-states--vertical-file-input-states-ng-light.png
Labels: cla-not-required

#1474 fix(a11y): datagrid placeholder screen reader fix
  projects/angular/src/data/datagrid/datagrid-placeholder.spec.ts
  projects/angular/src/data/datagrid/datagrid-placeholder.ts
  projects/angular/src/data/datagrid/datagrid.spec.ts
Labels: cla-not-required

#1469 fix(datepicker): a11y - add ability to change year in month view & focus indicator changes
  projects/angular/clarity.api.md
  projects/angular/src/forms/datepicker/_datepicker.clarity.scss
  projects/angular/src/forms/datepicker/_properties.datepicker.scss
  projects/angular/src/forms/datepicker/_variables.datepicker.scss
  projects/angular/src/forms/datepicker/model/calendar.model.ts
  projects/angular/src/forms/datepicker/monthpicker.spec.ts
  projects/angular/src/forms/datepicker/monthpicker.ts
  projects/angular/src/forms/datepicker/providers/date-navigation.service.ts
  projects/angular/src/forms/datepicker/yearpicker.spec.ts
  projects/angular/src/forms/datepicker/yearpicker.ts
Labels: cla-not-required

#1490 chore(datepicker): use static dates in date range picker screenshots
  .storybook/stories/datepicker/datepicker.stories.ts
  .storybook/stories/datepicker/daterangepicker.stories.ts
Labels: cla-not-required

#1495 fix(alert): app level action buttons hover and active colors
  projects/angular/src/emphasis/alert/_alert.clarity.scss
  projects/angular/src/emphasis/alert/_variables.alert.scss
Labels: cla-not-required

#1410 chore(date-picker): style label correctly in stories
  .storybook/stories/datepicker/date-container.stories.ts
  .storybook/stories/datepicker/datepicker.stories.ts
  .storybook/stories/datepicker/daterangepicker.stories.ts
  tests/snapshots/chromium/datepicker/datecontainer--date-container-core-dark.png
  tests/snapshots/chromium/datepicker/datecontainer--date-container-core-light.png
  tests/snapshots/chromium/datepicker/datepicker--datepicker-core-dark.png
  tests/snapshots/chromium/datepicker/datepicker--datepicker-core-light.png
  tests/snapshots/chromium/datepicker/datepicker--default-date-core-dark.png
  tests/snapshots/chromium/datepicker/datepicker--default-date-core-light.png
  tests/snapshots/chromium/datepicker/datepicker--disabled-core-dark.png
  tests/snapshots/chromium/datepicker/datepicker--disabled-core-light.png
  tests/snapshots/chromium/datepicker/datepicker--max-date-core-dark.png
  tests/snapshots/chromium/datepicker/datepicker--max-date-core-light.png
  tests/snapshots/chromium/datepicker/datepicker--min-date-core-dark.png
  tests/snapshots/chromium/datepicker/datepicker--min-date-core-light.png
  tests/snapshots/chromium/datepicker/daterangepicker--date-range-picker-core-dark.png
  tests/snapshots/chromium/datepicker/daterangepicker--date-range-picker-core-light.png
  tests/snapshots/chromium/datepicker/daterangepicker--default-date-core-dark.png
  tests/snapshots/chromium/datepicker/daterangepicker--default-date-core-light.png
  tests/snapshots/chromium/datepicker/daterangepicker--disabled-core-dark.png
  tests/snapshots/chromium/datepicker/daterangepicker--disabled-core-light.png
  tests/snapshots/chromium/datepicker/daterangepicker--max-date-core-dark.png
  tests/snapshots/chromium/datepicker/daterangepicker--max-date-core-light.png
  tests/snapshots/chromium/datepicker/daterangepicker--min-date-core-dark.png
  tests/snapshots/chromium/datepicker/daterangepicker--min-date-core-light.png
  tests/snapshots/firefox/datepicker/datecontainer--date-container-core-dark.png
  tests/snapshots/firefox/datepicker/datecontainer--date-container-core-light.png
  tests/snapshots/firefox/datepicker/datepicker--datepicker-core-dark.png
  tests/snapshots/firefox/datepicker/datepicker--datepicker-core-light.png
  tests/snapshots/firefox/datepicker/datepicker--default-date-core-dark.png
  tests/snapshots/firefox/datepicker/datepicker--default-date-core-light.png
  tests/snapshots/firefox/datepicker/datepicker--disabled-core-dark.png
  tests/snapshots/firefox/datepicker/datepicker--disabled-core-light.png
  tests/snapshots/firefox/datepicker/datepicker--max-date-core-dark.png
  tests/snapshots/firefox/datepicker/datepicker--max-date-core-light.png
  tests/snapshots/firefox/datepicker/datepicker--min-date-core-dark.png
  tests/snapshots/firefox/datepicker/datepicker--min-date-core-light.png
  tests/snapshots/firefox/datepicker/daterangepicker--date-range-picker-core-dark.png
  tests/snapshots/firefox/datepicker/daterangepicker--date-range-picker-core-light.png
  tests/snapshots/firefox/datepicker/daterangepicker--default-date-core-dark.png
  tests/snapshots/firefox/datepicker/daterangepicker--default-date-core-light.png
  tests/snapshots/firefox/datepicker/daterangepicker--disabled-core-dark.png
  tests/snapshots/firefox/datepicker/daterangepicker--disabled-core-light.png
  tests/snapshots/firefox/datepicker/daterangepicker--max-date-core-dark.png
  tests/snapshots/firefox/datepicker/daterangepicker--max-date-core-light.png
  tests/snapshots/firefox/datepicker/daterangepicker--min-date-core-dark.png
  tests/snapshots/firefox/datepicker/daterangepicker--min-date-core-light.png
Labels: cla-not-required, auto-backport-to-16.x

#1493 fix(datagrid): opened details missing vertical separator
  .storybook/stories/datagrid/datagrid-detail.stories.ts
  projects/angular/src/data/datagrid/_datagrid.clarity.scss
  tests/snapshots/chromium/datagrid/detail--open-detail-core-dark.png
  tests/snapshots/chromium/datagrid/detail--open-detail-core-light.png
  tests/snapshots/firefox/datagrid/detail--open-detail-core-dark.png
  tests/snapshots/firefox/datagrid/detail--open-detail-core-light.png
Labels: cla-not-required, auto-backport-to-16.x

#1488 fix(spinner): use correct background color for inverse
  projects/angular/src/progress/spinner/_properties.spinner.scss
  tests/snapshots/chromium/spinner/spinner--inline-inverse-core-dark.png
  tests/snapshots/chromium/spinner/spinner--inline-inverse-core-light.png
  tests/snapshots/chromium/spinner/spinner--inverse-core-dark.png
  tests/snapshots/chromium/spinner/spinner--inverse-core-light.png
  tests/snapshots/chromium/spinner/spinner--medium-inverse-core-dark.png
  tests/snapshots/chromium/spinner/spinner--medium-inverse-core-light.png
  tests/snapshots/chromium/spinner/spinner--small-inverse-core-dark.png
  tests/snapshots/chromium/spinner/spinner--small-inverse-core-light.png
  tests/snapshots/firefox/spinner/spinner--inline-inverse-core-dark.png
  tests/snapshots/firefox/spinner/spinner--inline-inverse-core-light.png
  tests/snapshots/firefox/spinner/spinner--inverse-core-dark.png
  tests/snapshots/firefox/spinner/spinner--inverse-core-light.png
  tests/snapshots/firefox/spinner/spinner--medium-inverse-core-dark.png
  tests/snapshots/firefox/spinner/spinner--medium-inverse-core-light.png
  tests/snapshots/firefox/spinner/spinner--small-inverse-core-dark.png
  tests/snapshots/firefox/spinner/spinner--small-inverse-core-light.png
Labels: cla-not-required

#1494 fix(datagrid): nested in accordion columns have wrong width
  .storybook/stories/datagrid/datagrid-detail.stories.ts
  projects/angular/src/data/datagrid/datagrid.spec.ts
  projects/angular/src/data/datagrid/render/header-renderer.spec.ts
  projects/angular/src/data/datagrid/render/main-renderer.spec.ts
  projects/angular/src/data/datagrid/render/main-renderer.ts
  projects/demo/src/app/accordion/accordion.demo.html
  projects/demo/src/app/accordion/accordion.demo.ts
  tests/snapshots/chromium/datagrid/detail--open-detail-core-dark.png
  tests/snapshots/chromium/datagrid/detail--open-detail-core-light.png
  tests/snapshots/chromium/datagrid/detail--open-long-content-detail-core-dark.png
  tests/snapshots/chromium/datagrid/detail--open-long-content-detail-core-light.png
  tests/snapshots/chromium/datagrid/detail--open-long-uninterrupted-content-detail-core-dark.png
  tests/snapshots/chromium/datagrid/detail--open-long-uninterrupted-content-detail-core-light.png
  tests/snapshots/chromium/datagrid/expandable-rows--expandable-rows-core-dark.png
  tests/snapshots/chromium/datagrid/expandable-rows--expandable-rows-core-light.png
  tests/snapshots/firefox/datagrid/detail--open-detail-core-dark.png
  tests/snapshots/firefox/datagrid/detail--open-detail-core-light.png
  tests/snapshots/firefox/datagrid/detail--open-long-content-detail-core-dark.png
  tests/snapshots/firefox/datagrid/detail--open-long-content-detail-core-light.png
  tests/snapshots/firefox/datagrid/detail--open-long-uninterrupted-content-detail-core-dark.png
  tests/snapshots/firefox/datagrid/detail--open-long-uninterrupted-content-detail-core-light.png
Labels: cla-not-required, type:fix
