Repository vmware-clarity/ng-clarity, pull requests merged in 2024-11, with the labels that each got.

#1611 fix(tokens): temp overrride for warning status dark color for dark theme
  projects/ui/src/temp-overrides.scss
  tests/snapshots/chromium/alert/standard-alerts--lightweight-core-dark.png
  tests/snapshots/chromium/alert/standard-alerts--small-lightweight-core-dark.png
  tests/snapshots/chromium/button/button--showcase-core-dark.png
  tests/snapshots/chromium/button/button-group--button-group-showcase-core-dark.png
  tests/snapshots/firefox/alert/standard-alerts--lightweight-core-dark.png
  tests/snapshots/firefox/alert/standard-alerts--small-lightweight-core-dark.png
  tests/snapshots/firefox/button/button--showcase-core-dark.png
  tests/snapshots/firefox/button/button-group--button-group-showcase-core-dark.png
Labels: cla-not-required

#1612 feat(datagrid): add ability to unsort columns
  projects/angular/src/data/datagrid/datagrid-column.spec.ts
  projects/angular/src/data/datagrid/datagrid-column.ts
  projects/demo/src/app/datagrid/sorting/sorting.html
  projects/demo/src/app/datagrid/sorting/sorting.ts
Labels: cla-not-required, type:feat

#1618 fix(wizard): remove content extra padding top
  projects/angular/src/wizard/_wizard.clarity.scss
  tests/snapshots/chromium/wizard/wizard--full-screen-wizard-core-dark.png
  tests/snapshots/chromium/wizard/wizard--full-screen-wizard-core-light.png
  tests/snapshots/chromium/wizard/wizard--wizard-core-dark.png
  tests/snapshots/chromium/wizard/wizard--wizard-core-light.png
  tests/snapshots/chromium/wizard/wizard-long-titles--wizard-long-titles-core-dark.png
  tests/snapshots/chromium/wizard/wizard-long-titles--wizard-long-titles-core-light.png
  tests/snapshots/chromium/wizard/wizard-page--wizard-page-core-dark.png
  tests/snapshots/chromium/wizard/wizard-page--wizard-page-core-light.png
  tests/snapshots/chromium/wizard/wizard-page--wizard-page-status-indicators-core-dark.png
  tests/snapshots/chromium/wizard/wizard-page--wizard-page-status-indicators-core-light.png
  tests/snapshots/firefox/wizard/wizard--full-screen-wizard-core-dark.png
  tests/snapshots/firefox/wizard/wizard--full-screen-wizard-core-light.png
  tests/snapshots/firefox/wizard/wizard--wizard-core-dark.png
  tests/snapshots/firefox/wizard/wizard--wizard-core-light.png
  tests/snapshots/firefox/wizard/wizard-long-titles--wizard-long-titles-core-dark.png
  tests/snapshots/firefox/wizard/wizard-long-titles--wizard-long-titles-core-light.png
  tests/snapshots/firefox/wizard/wizard-page--wizard-page-core-dark.png
  tests/snapshots/firefox/wizard/wizard-page--wizard-page-core-light.png
  tests/snapshots/firefox/wizard/wizard-page--wizard-page-status-indicators-core-dark.png
  tests/snapshots/firefox/wizard/wizard-page--wizard-page-status-indicators-core-light.png
Labels: cla-not-required

#1621 Revert "feat(datagrid): add ability to unsort columns"
  projects/angular/src/data/datagrid/datagrid-column.spec.ts
  projects/angular/src/data/datagrid/datagrid-column.ts
  projects/demo/src/app/datagrid/sorting/sorting.html
  projects/demo/src/app/datagrid/sorting/sorting.ts
Labels: cla-not-required

#1620 feat(tabs): add actions section
  .storybook/stories/tabs/tabs-actions.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/layout/tabs/_tabs.clarity.scss
  projects/angular/src/layout/tabs/index.ts
  projects/angular/src/layout/tabs/tab-action.directive.spec.ts
  projects/angular/src/layout/tabs/tab-action.directive.ts
  projects/angular/src/layout/tabs/tabs-actions.spec.ts
  projects/angular/src/layout/tabs/tabs-actions.ts
  projects/angular/src/layout/tabs/tabs.module.ts
  projects/angular/src/layout/tabs/tabs.ts
  projects/demo/src/app/tabs/tabs-actions-angular.demo.html
  projects/demo/src/app/tabs/tabs-actions-angular.ts
  projects/demo/src/app/tabs/tabs.demo.html
  projects/demo/src/app/tabs/tabs.demo.module.ts
  projects/demo/src/app/tabs/tabs.demo.routing.ts
  tests/snapshots/chromium/tabs/tabs-actions--tabs-actions-left-core-dark.png
  tests/snapshots/chromium/tabs/tabs-actions--tabs-actions-left-core-light.png
  tests/snapshots/chromium/tabs/tabs-actions--tabs-core-dark.png
  tests/snapshots/chromium/tabs/tabs-actions--tabs-core-light.png
  tests/snapshots/chromium/tabs/tabs-actions--tabs-responsive-core-dark.png
  tests/snapshots/chromium/tabs/tabs-actions--tabs-responsive-core-light.png
  tests/snapshots/chromium/tabs/tabs-actions--vertical-tabs-core-dark.png
  tests/snapshots/chromium/tabs/tabs-actions--vertical-tabs-core-light.png
  tests/snapshots/firefox/tabs/tabs-actions--tabs-actions-left-core-dark.png
  tests/snapshots/firefox/tabs/tabs-actions--tabs-actions-left-core-light.png
  tests/snapshots/firefox/tabs/tabs-actions--tabs-core-dark.png
  tests/snapshots/firefox/tabs/tabs-actions--tabs-core-light.png
  tests/snapshots/firefox/tabs/tabs-actions--tabs-responsive-core-dark.png
  tests/snapshots/firefox/tabs/tabs-actions--tabs-responsive-core-light.png
  tests/snapshots/firefox/tabs/tabs-actions--vertical-tabs-core-dark.png
  tests/snapshots/firefox/tabs/tabs-actions--vertical-tabs-core-light.png
Labels: cla-not-required, type:feat, auto-backport-to-16.x

#1623 feat(tabs): add actions section (#1620) (backport to 16.x)
  .storybook/stories/tabs/tabs-actions.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/layout/tabs/_tabs.clarity.scss
  projects/angular/src/layout/tabs/index.ts
  projects/angular/src/layout/tabs/tab-action.directive.spec.ts
  projects/angular/src/layout/tabs/tab-action.directive.ts
  projects/angular/src/layout/tabs/tabs-actions.spec.ts
  projects/angular/src/layout/tabs/tabs-actions.ts
  projects/angular/src/layout/tabs/tabs.module.ts
  projects/angular/src/layout/tabs/tabs.ts
  projects/demo/src/app/tabs/tabs-actions-angular.demo.html
  projects/demo/src/app/tabs/tabs-actions-angular.ts
  projects/demo/src/app/tabs/tabs.demo.html
  projects/demo/src/app/tabs/tabs.demo.module.ts
  projects/demo/src/app/tabs/tabs.demo.routing.ts
  tests/snapshots/chromium/tabs/tabs-actions--tabs-actions-left-core-dark.png
  tests/snapshots/chromium/tabs/tabs-actions--tabs-actions-left-core-light.png
  tests/snapshots/chromium/tabs/tabs-actions--tabs-actions-left-ng-dark.png
  tests/snapshots/chromium/tabs/tabs-actions--tabs-actions-left-ng-light.png
  tests/snapshots/chromium/tabs/tabs-actions--tabs-core-dark.png
  tests/snapshots/chromium/tabs/tabs-actions--tabs-core-light.png
  tests/snapshots/chromium/tabs/tabs-actions--tabs-ng-dark.png
  tests/snapshots/chromium/tabs/tabs-actions--tabs-ng-light.png
  tests/snapshots/chromium/tabs/tabs-actions--tabs-responsive-core-dark.png
  tests/snapshots/chromium/tabs/tabs-actions--tabs-responsive-core-light.png
  tests/snapshots/chromium/tabs/tabs-actions--tabs-responsive-ng-dark.png
  tests/snapshots/chromium/tabs/tabs-actions--tabs-responsive-ng-light.png
  tests/snapshots/chromium/tabs/tabs-actions--vertical-tabs-core-dark.png
  tests/snapshots/chromium/tabs/tabs-actions--vertical-tabs-core-light.png
  tests/snapshots/chromium/tabs/tabs-actions--vertical-tabs-ng-dark.png
  tests/snapshots/chromium/tabs/tabs-actions--vertical-tabs-ng-light.png
  tests/snapshots/firefox/tabs/tabs-actions--tabs-actions-left-core-dark.png
  tests/snapshots/firefox/tabs/tabs-actions--tabs-actions-left-core-light.png
  tests/snapshots/firefox/tabs/tabs-actions--tabs-actions-left-ng-dark.png
  tests/snapshots/firefox/tabs/tabs-actions--tabs-actions-left-ng-light.png
  tests/snapshots/firefox/tabs/tabs-actions--tabs-core-dark.png
  tests/snapshots/firefox/tabs/tabs-actions--tabs-core-light.png
  tests/snapshots/firefox/tabs/tabs-actions--tabs-ng-dark.png
  tests/snapshots/firefox/tabs/tabs-actions--tabs-ng-light.png
  tests/snapshots/firefox/tabs/tabs-actions--tabs-responsive-core-dark.png
  tests/snapshots/firefox/tabs/tabs-actions--tabs-responsive-core-light.png
  tests/snapshots/firefox/tabs/tabs-actions--tabs-responsive-ng-dark.png
  tests/snapshots/firefox/tabs/tabs-actions--tabs-responsive-ng-light.png
  tests/snapshots/firefox/tabs/tabs-actions--vertical-tabs-core-dark.png
  tests/snapshots/firefox/tabs/tabs-actions--vertical-tabs-core-light.png
  tests/snapshots/firefox/tabs/tabs-actions--vertical-tabs-ng-dark.png
  tests/snapshots/firefox/tabs/tabs-actions--vertical-tabs-ng-light.png
Labels: cla-not-required, backport
