Repository vmware-clarity/ng-clarity, pull requests merged in 2025-05, with the labels that each got.

#1794 fix(datagrid): virtual scroller work with filtering, sorting and selection
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid-virtual-scroll.directive.spec.ts
  projects/angular/src/data/datagrid/datagrid-virtual-scroll.directive.ts
  projects/angular/src/data/datagrid/index.ts
  projects/angular/src/data/datagrid/interfaces/virtual-scroll-data-range.interface.ts
  projects/angular/src/data/datagrid/providers/items.ts
  projects/demo/src/app/datagrid/virtual-scroll-client-side/virtual-scroll-client-side.html
  projects/demo/src/app/datagrid/virtual-scroll-client-side/virtual-scroll-client-side.ts
  projects/demo/src/app/datagrid/virtual-scroll-empty-rows/virtual-scroll-empty-rows.html
  projects/demo/src/app/datagrid/virtual-scroll-empty-rows/virtual-scroll-empty-rows.ts
  projects/demo/src/app/datagrid/virtual-scroll-server-side/virtual-scroll-server-side.html
  projects/demo/src/app/datagrid/virtual-scroll-server-side/virtual-scroll-server-side.ts
Labels: cla-not-required, type:fix

#1800 fix(datagrid): compact header overlaps first data row
  projects/angular/src/data/datagrid/_datagrid.clarity.scss
  tests/snapshots/chromium/datagrid/virtual-scroll--full-compact-core-dark.png
  tests/snapshots/chromium/datagrid/virtual-scroll--full-compact-core-light.png
  tests/snapshots/chromium/datagrid/virtual-scroll--full-compact-with-button-navigation-pattern-core-dark.png
  tests/snapshots/chromium/datagrid/virtual-scroll--full-compact-with-button-navigation-pattern-core-light.png
Labels: cla-not-required

#1724 feat(datagrid): add ability to use custom select all logic
  .storybook/stories/datagrid/datagrid-virtualscroll-detail.stories.ts
  .storybook/stories/datagrid/datagrid-virtualscroll.stories.ts
  .storybook/stories/datagrid/datagrid.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid.html
  projects/angular/src/data/datagrid/datagrid.spec.ts
  projects/angular/src/data/datagrid/datagrid.ts
  projects/demo/src/app/datagrid/virtual-scroll-client-side/virtual-scroll-client-side.html
  projects/demo/src/app/datagrid/virtual-scroll-client-side/virtual-scroll-client-side.ts
Labels: cla-not-required

#1744 fix(dropdown): relative positioning autoclose
  .storybook/stories/dropdown/dropdown-relative-position.stories.ts
  projects/angular/src/utils/focus/focusable-item/basic-focusable-item.service.ts
  projects/demo/src/app/dropdown/dropdown-angular-nested.demo.html
  tests/snapshots/chromium/dropdown/dropdown-relative-position--dropdown-relative-postion-core-dark.png
  tests/snapshots/chromium/dropdown/dropdown-relative-position--dropdown-relative-postion-core-light.png
  tests/snapshots/firefox/dropdown/dropdown-relative-position--dropdown-relative-postion-core-dark.png
  tests/snapshots/firefox/dropdown/dropdown-relative-position--dropdown-relative-postion-core-light.png
Labels: cla-not-required

#1771 chore(storybook): add alert nesting stories
  .storybook/helpers/nesting-components.ts
  .storybook/stories/accordion/nested-components.stories.ts
  .storybook/stories/alert/app-level-alert.stories.ts
  .storybook/stories/alert/app-level-alert.storybook.component.ts
  .storybook/stories/alert/nested-components.stories.ts
  .storybook/stories/alert/standard-alert.storybook.component.ts
  tests/snapshots/chromium/accordion/nesting-components--default-core-dark.png
  tests/snapshots/chromium/accordion/nesting-components--default-core-light.png
  tests/snapshots/chromium/alert/app-level-alerts--single-alert-core-dark.png
  tests/snapshots/chromium/alert/app-level-alerts--single-alert-core-light.png
  tests/snapshots/chromium/alert/nesting-components--default-core-dark.png
  tests/snapshots/chromium/alert/nesting-components--default-core-light.png
  tests/snapshots/chromium/alert/standard-alerts--with-actions-core-dark.png
  tests/snapshots/chromium/alert/standard-alerts--with-actions-core-light.png
  tests/snapshots/chromium/alert/standard-alerts--with-long-content-and-open-actions-dropdown-core-dark.png
  tests/snapshots/chromium/alert/standard-alerts--with-long-content-and-open-actions-dropdown-core-light.png
  tests/snapshots/chromium/alert/standard-alerts--with-open-actions-dropdown-core-dark.png
  tests/snapshots/chromium/alert/standard-alerts--with-open-actions-dropdown-core-light.png
  tests/snapshots/firefox/accordion/nesting-components--default-core-dark.png
  tests/snapshots/firefox/accordion/nesting-components--default-core-light.png
  tests/snapshots/firefox/alert/app-level-alerts--single-alert-core-dark.png
  tests/snapshots/firefox/alert/app-level-alerts--single-alert-core-light.png
  tests/snapshots/firefox/alert/nesting-components--default-core-dark.png
  tests/snapshots/firefox/alert/nesting-components--default-core-light.png
  tests/snapshots/firefox/alert/standard-alerts--with-actions-core-dark.png
  tests/snapshots/firefox/alert/standard-alerts--with-actions-core-light.png
  tests/snapshots/firefox/alert/standard-alerts--with-long-content-and-open-actions-dropdown-core-dark.png
  tests/snapshots/firefox/alert/standard-alerts--with-long-content-and-open-actions-dropdown-core-light.png
  tests/snapshots/firefox/alert/standard-alerts--with-open-actions-dropdown-core-dark.png
  tests/snapshots/firefox/alert/standard-alerts--with-open-actions-dropdown-core-light.png
Labels: cla-not-required

#1826 fix(popover): working within shadow dom
  projects/angular/src/popover/common/popover.ts
  projects/angular/src/popover/dropdown/dropdown.spec.ts
  projects/demo/src/app/dropdown/dropdown-angular-shadow-root.demo.html
  projects/demo/src/app/dropdown/dropdown-angular-shadow-root.ts
  projects/demo/src/app/dropdown/dropdown.demo.module.ts
  projects/demo/src/app/dropdown/dropdown.demo.routing.ts
  projects/demo/src/app/dropdown/dropdown.demo.ts
Labels: type:fix
