Repository vmware-clarity/ng-clarity, pull requests merged in 2025-03, with the labels that each got.

#1703 fix(datagrid): expanded row keyboard navigation
  projects/angular/src/data/datagrid/_datagrid.clarity.scss
  projects/angular/src/data/datagrid/all.spec.ts
  projects/angular/src/data/datagrid/datagrid-row-detail.spec.ts
  projects/angular/src/data/datagrid/datagrid-row-detail.ts
  projects/angular/src/data/datagrid/datagrid.spec.ts
  projects/angular/src/data/datagrid/utils/key-navigation-grid.controller.spec.ts
  projects/angular/src/data/datagrid/utils/key-navigation-grid.controller.ts
  projects/demo/src/app/datagrid/density/density.html
  projects/demo/src/app/datagrid/density/density.ts
  tests/snapshots/chromium/datagrid/expandable-rows--compact-expanded-expandable-rows-core-dark.png
  tests/snapshots/chromium/datagrid/expandable-rows--compact-expanded-expandable-rows-core-light.png
  tests/snapshots/chromium/datagrid/expandable-rows--expanded-expandable-rows-core-dark.png
  tests/snapshots/chromium/datagrid/expandable-rows--expanded-expandable-rows-core-light.png
  tests/snapshots/firefox/datagrid/expandable-rows--compact-expanded-expandable-rows-core-dark.png
  tests/snapshots/firefox/datagrid/expandable-rows--compact-expanded-expandable-rows-core-light.png
  tests/snapshots/firefox/datagrid/expandable-rows--expanded-expandable-rows-core-dark.png
  tests/snapshots/firefox/datagrid/expandable-rows--expanded-expandable-rows-core-light.png
Labels: cla-not-required, type:fix

#1716 fix(a11y): use browser double outline focus
  projects/angular/src/button/button-group/_button-group.clarity.scss
  projects/angular/src/forms/datepicker/_datepicker.clarity.scss
  projects/angular/src/utils/_mixins.scss
  projects/angular/src/utils/_normalize.scss
  projects/angular/src/utils/_reboot.clarity.scss
  projects/ui/src/temp-overrides.scss
Labels: cla-not-required, type:fix

#1721 chore(datagrid): move unsorted/default cases to end of `switch` block
  projects/angular/src/data/datagrid/datagrid-column.ts
Labels: cla-not-required

#1723 fix(checkbox): render individual disabled checkboxes/toggles correctly
  .storybook/stories/checkbox-toggle/checkbox-toggle-container.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/forms/checkbox/checkbox-container.ts
  projects/angular/src/forms/checkbox/checkbox-wrapper.ts
  projects/angular/src/forms/checkbox/checkbox.ts
  projects/angular/src/forms/styles/_checkbox.clarity.scss
  tests/snapshots/chromium/checkbox-or-toggle/checkbox-or-toggle-container--checkbox-container-core-dark.png
  tests/snapshots/chromium/checkbox-or-toggle/checkbox-or-toggle-container--checkbox-container-core-light.png
  tests/snapshots/chromium/checkbox-or-toggle/checkbox-or-toggle-container--checkbox-container-disabled-core-dark.png
  tests/snapshots/chromium/checkbox-or-toggle/checkbox-or-toggle-container--checkbox-container-disabled-core-light.png
  tests/snapshots/chromium/checkbox-or-toggle/checkbox-or-toggle-container--checkbox-container-partially-disabled-core-dark.png
  tests/snapshots/chromium/checkbox-or-toggle/checkbox-or-toggle-container--checkbox-container-partially-disabled-core-light.png
  tests/snapshots/chromium/checkbox-or-toggle/checkbox-or-toggle-container--toggle-container-core-dark.png
  tests/snapshots/chromium/checkbox-or-toggle/checkbox-or-toggle-container--toggle-container-core-light.png
  tests/snapshots/chromium/checkbox-or-toggle/checkbox-or-toggle-container--toggle-container-disabled-core-dark.png
  tests/snapshots/chromium/checkbox-or-toggle/checkbox-or-toggle-container--toggle-container-disabled-core-light.png
  tests/snapshots/chromium/checkbox-or-toggle/checkbox-or-toggle-container--toggle-container-partially-disabled-core-dark.png
  tests/snapshots/chromium/checkbox-or-toggle/checkbox-or-toggle-container--toggle-container-partially-disabled-core-light.png
  tests/snapshots/firefox/checkbox-or-toggle/checkbox-or-toggle-container--checkbox-container-core-dark.png
  tests/snapshots/firefox/checkbox-or-toggle/checkbox-or-toggle-container--checkbox-container-core-light.png
  tests/snapshots/firefox/checkbox-or-toggle/checkbox-or-toggle-container--checkbox-container-disabled-core-dark.png
  tests/snapshots/firefox/checkbox-or-toggle/checkbox-or-toggle-container--checkbox-container-disabled-core-light.png
  tests/snapshots/firefox/checkbox-or-toggle/checkbox-or-toggle-container--checkbox-container-partially-disabled-core-dark.png
  tests/snapshots/firefox/checkbox-or-toggle/checkbox-or-toggle-container--checkbox-container-partially-disabled-core-light.png
  tests/snapshots/firefox/checkbox-or-toggle/checkbox-or-toggle-container--toggle-container-core-dark.png
  tests/snapshots/firefox/checkbox-or-toggle/checkbox-or-toggle-container--toggle-container-core-light.png
  tests/snapshots/firefox/checkbox-or-toggle/checkbox-or-toggle-container--toggle-container-disabled-core-dark.png
  tests/snapshots/firefox/checkbox-or-toggle/checkbox-or-toggle-container--toggle-container-disabled-core-light.png
  tests/snapshots/firefox/checkbox-or-toggle/checkbox-or-toggle-container--toggle-container-partially-disabled-core-dark.png
  tests/snapshots/firefox/checkbox-or-toggle/checkbox-or-toggle-container--toggle-container-partially-disabled-core-light.png
Labels: cla-not-required, type:fix

#1725 chore(datagrid): remove duplicate `clrDgRefresh` event handler in story
  .storybook/stories/datagrid/datagrid.stories.ts
Labels: cla-not-required

#1729 chore(datagrid): expose virtual scroller to datagrid for ease of access
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid-virtual-scroll.directive.ts
  projects/angular/src/data/datagrid/datagrid.html
  projects/angular/src/data/datagrid/datagrid.ts
Labels: cla-not-required

#1728 fix(datepicker): update calendar border color and remove day hover rounded border
  projects/angular/src/forms/datepicker/_properties.datepicker.scss
  projects/angular/src/forms/datepicker/day.ts
Labels: cla-not-required

#1730 fix(datagrid): focus handling on actionable element click
  projects/angular/src/data/datagrid/utils/key-navigation-grid.controller.ts
  projects/demo/src/app/datagrid/expandable-rows/expandable-rows.html
Labels: cla-not-required

#1722 fix(side-panel): pinning with default modal size
  .storybook/stories/modal/side-panel-inline.stories.ts
  .storybook/stories/modal/side-panel.stories.ts
  projects/angular/src/modal/modal.ts
  projects/angular/src/modal/side-panel.ts
  tests/snapshots/chromium/modal/side-panel--side-panel-alternate-close-core-dark.png
  tests/snapshots/chromium/modal/side-panel--side-panel-alternate-close-core-light.png
  tests/snapshots/chromium/modal/side-panel--side-panel-extra-large-core-dark.png
  tests/snapshots/chromium/modal/side-panel--side-panel-extra-large-core-light.png
  tests/snapshots/chromium/modal/side-panel--side-panel-full-screen-core-dark.png
  tests/snapshots/chromium/modal/side-panel--side-panel-full-screen-core-light.png
  tests/snapshots/chromium/modal/side-panel--side-panel-large-core-dark.png
  tests/snapshots/chromium/modal/side-panel--side-panel-large-core-light.png
  tests/snapshots/chromium/modal/side-panel--side-panel-medium-core-dark.png
  tests/snapshots/chromium/modal/side-panel--side-panel-medium-core-light.png
  tests/snapshots/chromium/modal/side-panel--side-panel-pinnable-core-dark.png
  tests/snapshots/chromium/modal/side-panel--side-panel-pinnable-core-light.png
  tests/snapshots/chromium/modal/side-panel--side-panel-small-core-dark.png
  tests/snapshots/chromium/modal/side-panel--side-panel-small-core-light.png
  tests/snapshots/chromium/modal/side-panel--side-panel-without-backdrop-core-dark.png
  tests/snapshots/chromium/modal/side-panel--side-panel-without-backdrop-core-light.png
  tests/snapshots/firefox/modal/side-panel--side-panel-alternate-close-core-dark.png
  tests/snapshots/firefox/modal/side-panel--side-panel-alternate-close-core-light.png
  tests/snapshots/firefox/modal/side-panel--side-panel-extra-large-core-dark.png
  tests/snapshots/firefox/modal/side-panel--side-panel-extra-large-core-light.png
  tests/snapshots/firefox/modal/side-panel--side-panel-full-screen-core-dark.png
  tests/snapshots/firefox/modal/side-panel--side-panel-full-screen-core-light.png
  tests/snapshots/firefox/modal/side-panel--side-panel-large-core-dark.png
  tests/snapshots/firefox/modal/side-panel--side-panel-large-core-light.png
  tests/snapshots/firefox/modal/side-panel--side-panel-medium-core-dark.png
  tests/snapshots/firefox/modal/side-panel--side-panel-medium-core-light.png
  tests/snapshots/firefox/modal/side-panel--side-panel-pinnable-core-dark.png
  tests/snapshots/firefox/modal/side-panel--side-panel-pinnable-core-light.png
  tests/snapshots/firefox/modal/side-panel--side-panel-small-core-dark.png
  tests/snapshots/firefox/modal/side-panel--side-panel-small-core-light.png
  tests/snapshots/firefox/modal/side-panel--side-panel-without-backdrop-core-dark.png
  tests/snapshots/firefox/modal/side-panel--side-panel-without-backdrop-core-light.png
Labels: cla-not-required

#1732 chore(datagrid): spell "tabbable" correctly
  projects/angular/src/data/datagrid/utils/key-navigation-grid.controller.ts
Labels: cla-not-required

#1733 chore(datagrid): update virtual scroll story
  .storybook/stories/datagrid/datagrid-virtualscroll.stories.ts
Labels: cla-not-required

#1736 chore(breadcrumbs): clean up breadcrumbs router link demo
  projects/demo/src/app/breadcrumbs/breadcrumbs-routing.demo.html
  projects/demo/src/app/breadcrumbs/breadcrumbs-routing.demo.ts
Labels: cla-not-required

#1735 feat(breadcrumbs): export `BreadcrumbItem` model
  projects/angular/clarity.api.md
  projects/angular/src/layout/breadcrumbs/index.ts
  projects/demo/src/app/breadcrumbs/breadcrumbs-routing.demo.html
  projects/demo/src/app/breadcrumbs/breadcrumbs-routing.demo.ts
  projects/demo/src/app/breadcrumbs/breadcrumbs.demo.model.ts
Labels: cla-not-required, type:feat

#1738 fix(datagrid): add a `min-height` for empty cells
  .storybook/stories/datagrid/datagrid-row.stories.ts
  projects/angular/src/data/_tables.clarity.scss
  projects/angular/src/data/datagrid/_datagrid.clarity.scss
  tests/snapshots/chromium/datagrid/row--compact-empty-row-core-dark.png
  tests/snapshots/chromium/datagrid/row--compact-empty-row-core-light.png
  tests/snapshots/chromium/datagrid/row--empty-row-core-dark.png
  tests/snapshots/chromium/datagrid/row--empty-row-core-light.png
  tests/snapshots/firefox/datagrid/row--compact-empty-row-core-dark.png
  tests/snapshots/firefox/datagrid/row--compact-empty-row-core-light.png
  tests/snapshots/firefox/datagrid/row--empty-row-core-dark.png
  tests/snapshots/firefox/datagrid/row--empty-row-core-light.png
Labels: cla-not-required, type:fix

#1743 fix(datagrid): increase interaction area for row actions cells
  projects/angular/src/data/datagrid/_datagrid.clarity.scss
Labels: cla-not-required

#1742 chore: add open in stackblitz in pr bot comment
  .github/workflows/pr-comment-bot.yml
Labels: cla-not-required

#1737 chore(ci): add preview build branches
  .github/workflows/update-preview-build-branches.yml
  docs/INSTALLATION.md
  scripts/update-preview-build-branches.sh
Labels: cla-not-required, type:chore

#1741 feat(datagrid): row skeleton loading
  .storybook/stories/datagrid/datagrid-virtualscroll-detail.stories.ts
  .storybook/stories/datagrid/datagrid-virtualscroll.stories.ts
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/_datagrid.clarity.scss
  projects/angular/src/data/datagrid/datagrid-row.html
  projects/angular/src/data/datagrid/datagrid-row.ts
  projects/angular/src/utils/animations/_animations.clarity.scss
  projects/demo/src/app/datagrid/datagrid.demo.html
  projects/demo/src/app/datagrid/datagrid.demo.module.ts
  projects/demo/src/app/datagrid/datagrid.demo.routing.ts
  projects/demo/src/app/datagrid/inventory/inventory.ts
  projects/demo/src/app/datagrid/virtual-scroll-empty-rows/virtual-scroll-empty-rows.html
  projects/demo/src/app/datagrid/virtual-scroll-empty-rows/virtual-scroll-empty-rows.ts
  projects/ui/src/temp-overrides.scss
  tests/snapshots/chromium/datagrid/virtual-scroll--compact-skeleton-loading-core-dark.png
  tests/snapshots/chromium/datagrid/virtual-scroll--compact-skeleton-loading-core-light.png
  tests/snapshots/chromium/datagrid/virtual-scroll--skeleton-loading-core-dark.png
  tests/snapshots/chromium/datagrid/virtual-scroll--skeleton-loading-core-light.png
  tests/snapshots/chromium/datagrid/virtual-scroll-details--compact-skeleton-loading-core-dark.png
  tests/snapshots/chromium/datagrid/virtual-scroll-details--compact-skeleton-loading-core-light.png
  tests/snapshots/chromium/datagrid/virtual-scroll-details--skeleton-loading-core-dark.png
  tests/snapshots/chromium/datagrid/virtual-scroll-details--skeleton-loading-core-light.png
  tests/snapshots/firefox/datagrid/virtual-scroll--compact-skeleton-loading-core-dark.png
  tests/snapshots/firefox/datagrid/virtual-scroll--compact-skeleton-loading-core-light.png
  tests/snapshots/firefox/datagrid/virtual-scroll--skeleton-loading-core-dark.png
  tests/snapshots/firefox/datagrid/virtual-scroll--skeleton-loading-core-light.png
  tests/snapshots/firefox/datagrid/virtual-scroll-details--compact-skeleton-loading-core-dark.png
  tests/snapshots/firefox/datagrid/virtual-scroll-details--compact-skeleton-loading-core-light.png
  tests/snapshots/firefox/datagrid/virtual-scroll-details--skeleton-loading-core-dark.png
  tests/snapshots/firefox/datagrid/virtual-scroll-details--skeleton-loading-core-light.png
Labels: cla-not-required

#1760 fix(button-group): left-align overflow items
  .storybook/stories/button/button-group.stories.ts
  projects/angular/src/popover/dropdown/_dropdown.clarity.scss
  tests/snapshots/chromium/button/button-group--button-group-overflow-core-dark.png
  tests/snapshots/chromium/button/button-group--button-group-overflow-core-light.png
  tests/snapshots/chromium/button/button-group--disabled-buttons-core-dark.png
  tests/snapshots/chromium/button/button-group--disabled-buttons-core-light.png
  tests/snapshots/firefox/button/button-group--button-group-overflow-core-dark.png
  tests/snapshots/firefox/button/button-group--button-group-overflow-core-light.png
  tests/snapshots/firefox/button/button-group--disabled-buttons-core-dark.png
  tests/snapshots/firefox/button/button-group--disabled-buttons-core-light.png
Labels: cla-not-required

#1763 fix(accordion): extra title padding with description
  projects/angular/src/accordion/_accordion.clarity.scss
  tests/snapshots/chromium/accordion/accordion--alignment-test-core-dark.png
  tests/snapshots/chromium/accordion/accordion--alignment-test-core-light.png
  tests/snapshots/chromium/accordion/accordion--with-panel-descriptions-core-dark.png
  tests/snapshots/chromium/accordion/accordion--with-panel-descriptions-core-light.png
  tests/snapshots/chromium/accordion/nested-components--nested-components-core-dark.png
  tests/snapshots/chromium/accordion/nested-components--nested-components-core-light.png
  tests/snapshots/firefox/accordion/accordion--alignment-test-core-dark.png
  tests/snapshots/firefox/accordion/accordion--alignment-test-core-light.png
  tests/snapshots/firefox/accordion/accordion--with-panel-descriptions-core-dark.png
  tests/snapshots/firefox/accordion/accordion--with-panel-descriptions-core-light.png
  tests/snapshots/firefox/accordion/nested-components--nested-components-core-dark.png
  tests/snapshots/firefox/accordion/nested-components--nested-components-core-light.png
Labels: cla-not-required

#1764 fix(number-input): include plus and minus icons in the module
  projects/angular/src/forms/number-input/number-input.module.ts
Labels: cla-not-required

#1758 feat(datagrid): remote data based virtual scroller
  projects/angular/clarity.api.md
  projects/angular/src/data/datagrid/datagrid-virtual-scroll.directive.spec.ts
  projects/angular/src/data/datagrid/datagrid-virtual-scroll.directive.ts
  projects/demo/src/app/datagrid/inventory/inventory.ts
  projects/demo/src/app/datagrid/virtual-scroll-empty-rows/virtual-scroll-empty-rows.html
  projects/demo/src/app/datagrid/virtual-scroll-empty-rows/virtual-scroll-empty-rows.ts
Labels: cla-not-required, type:feat

#1766 fix(label, tree-view): reintroduce `:has` pseudo selector
  projects/angular/clarity.api.md
  projects/angular/src/data/tree-view/_tree-view.clarity.scss
  projects/angular/src/data/tree-view/tree-node.html
  projects/angular/src/data/tree-view/tree-node.ts
  projects/angular/src/emphasis/_labels.clarity.scss
Labels: cla-not-required

#1770 fix(checkbox, radio): inline and compact wrapping
  projects/angular/src/forms/styles/_checkbox.clarity.scss
  projects/angular/src/forms/styles/_containers.clarity.scss
  projects/angular/src/forms/styles/_mixins.forms.scss
  projects/angular/src/forms/styles/_radio.clarity.scss
  tests/snapshots/firefox/forms/input-states-styles-only--compact-error-states-core-dark.png
  tests/snapshots/firefox/forms/input-states-styles-only--compact-error-states-core-light.png
  tests/snapshots/firefox/forms/input-states-styles-only--compact-full-width-error-states-core-dark.png
  tests/snapshots/firefox/forms/input-states-styles-only--compact-full-width-error-states-core-light.png
  tests/snapshots/firefox/forms/input-states-styles-only--compact-success-states-core-dark.png
  tests/snapshots/firefox/forms/input-states-styles-only--compact-success-states-core-light.png
  tests/snapshots/firefox/forms/input-states-styles-only--full-width-compact-success-states-core-dark.png
  tests/snapshots/firefox/forms/input-states-styles-only--full-width-compact-success-states-core-light.png
  tests/snapshots/firefox/forms/input-states-using-components--compact-error-states-core-dark.png
  tests/snapshots/firefox/forms/input-states-using-components--compact-error-states-core-light.png
  tests/snapshots/firefox/forms/input-states-using-components--compact-full-width-error-states-core-dark.png
  tests/snapshots/firefox/forms/input-states-using-components--compact-full-width-error-states-core-light.png
  tests/snapshots/firefox/forms/input-states-using-components--compact-success-states-core-dark.png
  tests/snapshots/firefox/forms/input-states-using-components--compact-success-states-core-light.png
  tests/snapshots/firefox/forms/input-states-using-components--full-width-compact-success-states-core-dark.png
  tests/snapshots/firefox/forms/input-states-using-components--full-width-compact-success-states-core-light.png
Labels: cla-not-required
